<!-- address menu -->
<div id="addressMenu" class="mailMenu mail-styling" style="display:none;position:absolute;left:0px;top:0px;" oncontextmenu="return(false);" onmousedown="if(event.button==2) return(false);">
	<a id="addressMenuReadItem" class="mailMenuItem" style="display:none;" href="javascript:{if $preview}parent.{/if}document.location.href='email.read.php?id='+encodeURIComponent(currentEMailID)+'&sid='+currentSID;"><img align="absmiddle" src="{$tpldir}images/li/mail_read.png" width="16" height="16" border="0" alt="" /> {lng p="mail_read"}</a>
	<div class="mailMenuSep" id="addressMenuReadItemSep"></div>
	<a class="mailMenuItem" href="javascript:{if $preview}parent.{/if}document.location.href='email.compose.php?to='+encodeURIComponent(currentEMail)+'&sid='+currentSID;"><img align="absmiddle" src="{$tpldir}images/li/send_mail.png" width="16" height="16" border="0" alt="" /> {lng p="sendmail"}</a>
	<a class="mailMenuItem" href="javascript:{if $preview}parent.{/if}document.location.href='organizer.addressbook.php?action=addContact&email='+encodeURIComponent(currentEMail)+'&sid='+currentSID;"><img align="absmiddle" src="{$tpldir}images/li/ico_addressbook.png" width="16" height="16" border="0" alt="" /> {lng p="toaddr"}</a>
</div>