<div class="sidebarHeading">{lng p="sms"}</div>
<div class="contentMenuIcons">
	<a href="sms.php?sid={$sid}"><img src="{$tpldir}images/li/ico_composesms.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="sendsms"}</a><br />
	<a href="sms.php?action=outbox&sid={$sid}"><img src="{$tpldir}images/li/ico_smsoutbox.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="smsoutbox"}</a><br />
	<a href="prefs.php?action=membership&sid={$sid}"><img src="{$tpldir}images/li/ico_membership.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="accbalance"}</a><br />
</div>