

<div class="aikq_reg_left">
	<img class="home_regbutton" src="{$tpldir}images/aikq/reg_pic_left.png">
</div>
<div class="aikq_reg_right">
	<div class="aikq_reg_h3"><h3 class="aikq_h3">aikQ News</h3></div>
	<div class="aikq_div">
	{if !$blog_tpl}
Leider kein Blogeintrag vorhanden!
{else}
{foreach name=blog_tpl from=$blog_tpl key=id item=blog_tpl}
{$blog_tpl.date} {$blog_tpl.title} <br><br>
{$blog_tpl.text}
<br>
<br>
{/foreach}
{/if}
	</div>
</div>
<div class="cleaner">
	<br><br><br>
</div>