<div class="aikq_reg_left">
	<img class="home_regbutton" src="{$tpldir}images/aikq/impres_pic_left.png">
</div>
<div class="aikq_reg_right">
	<div class="aikq_reg_h3"><h3 class="aikq_h3">{lng p="imprint"}</h3></div>
	<div class="aikq_div">
		{$imprint}
	</div>
</div>
<div class="cleaner">
	<br><br><br>
</div>