<div class="leftcontent">
	<a href="?action=signup"><img class="home_regbutton" src="{$tpldir}images/aikq/home_regbutton.png"></a>
</div>


<div class="rightcontent">
	<div class="home_logo">
		<img src="{$tpldir}images/aikq/home_logo.png">
	</div>
	<div class="hometext">
		<div class="aikq_login">
			<div class="aikq_logincontent">
				<form action="{if $ssl_login_enable||($welcomeBack&&$smarty.cookies.bm_savedSSL)}{$ssl_url}{/if}index.php?action=login" method="post" id="loginForm">
				<input type="hidden" name="do" value="login" />
				<input type="hidden" name="timezone" id="timezone" value="{$timezone}" />
					<div>
						<input class="aikq_logininput" type="text" name="email_full" id="email_local" value="E-Mail-Adresse" onblur="if (this.value=='') this.value='E-Mail-Adresse'" onfocus="if (this.value=='E-Mail-Adresse') this.value='';">
					</div>
					<div class="aikq_inputcontent">
						<input class="aikq_logininput" type="password" name="password" id="password" value="Kennwort" onblur="if (this.value=='') this.value='Kennwort'" onfocus="if (this.value=='Kennwort') this.value='';">
					</div>
					<div>
						<input type="image" src="{$tpldir}images/aikq/home_login.png" alt="Absenden">
					</div>
				</form>
				<div class="aikq_lostpw">
					<a href="?action=lostPassword">Passwort vergessen ?</a>
				</div>
			</div>
		</div>
		<!--text-->
	</div>
	
	<div class="cleaner"></div>
</div>
<div class="blog-feed"></div>

<script language="javascript" type="text/javascript">
<!--
	EBID('timezone').value = clientTZ;
//-->
</script>
