<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{$service_title} - {lng p="maintenance"}</title>
	
	<!-- meta -->
	<meta http-equiv="content-type" content="text/html; charset={$charset}" />

	<!-- links -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{$tpldir}style/notloggedin.css" />

	<!-- client scripts -->
	<!--[if lt IE 7]>
	<script defer type="text/javascript" src="clientlib/pngfix.js"></script>
	<![endif]-->
</head>

<!-- body -->
<body>

	<center>
		<br /><br /><br /><br />
		
		<p>
			<img src="{$tpldir}images/main/maintenance.png" border="0" alt="" width="128" height="128" />
			<br /><br />
		</p>
			
		<div class="maintenanceBox">
			<h2>{lng p="maintenance"}</h2>
			
			<div style="text-align: left; padding: 8px;">
				{$text}
			</div>
		</div>
	</center>

</body>

</html>
