<table class="nliTable">
	<!-- common message -->
	<tr>
		<td class="nliIconTD"><img src="{$tpldir}images/main/info.gif" border="0" alt="" /></td>
		<td class="nliTD">
					
			<h3>{$title}</h3>
			
			{$msg}
		
			<br /><br />
		</td>
	</tr>
</table>