<div class="aikq_reg_left">
	<img class="home_regbutton" src="{$tpldir}images/aikq/reg_pic_left.png">
</div>
<div class="aikq_reg_right">
	<div class="aikq_reg_h3"><h3>{lng p="signup"}</h3></div>
	<div>
		{$msg}
	</div>
</div>
<div class="cleaner">
	<br><br><br>
</div>