<div class="aikq_reg_left">
	<img class="home_regbutton" src="{$tpldir}images/aikq/agb_pic_left.png">
</div>
<div class="aikq_reg_right">
	<div class="aikq_reg_h3"><h3 class="aikq_h3">{lng p="tos"}</h3></div>
	<div class="aikq_div">
		{$tos}
	</div>
</div>
<div class="cleaner">
	<br><br><br>
</div>