<!--

BODY
{
}

#main
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#nav
{
}

#nav LI
{
	margin-bottom: -1px;
	border-bottom: 1px solid #999;
	background-color: #CCC;
	display: block;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	float: left;
	box-shadow: inset 0 -5px 5px -5px #999;
	-moz-box-shadow: inset 0 -5px 5px -5px #999;
	-khtml-box-shadow: inset 0 -5px 5px -5px #999;
}

#nav LI.active
{
	border-bottom: 0;
	background-color: #E6ECF5;
	border-top: 2px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin-top: -1px;
	box-shadow: inset 0 5px 5px -5px #FFF;
	-moz-box-shadow: inset 0 5px 5px -5px #FFF;
	-khtml-box-shadow: inset 0 5px 5px -5px #FFF;
}

#nav LI A
{
	color: #444;
	font-size: 14px;
	text-decoration: none;
}

#nav UL
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#content
{
	clear: both;
	background-color: #E6ECF5;
	padding: 2em;
	border: 1px solid #999;
}

#footNav
{
	margin-top: 1em;
	text-align: center;
}

#copyright
{
	margin-top: 0.5em;
	color: #666;
	font-size: 10px;
}

#head
{
	margin-top: 1em;
	margin-bottom: 10px;
	font-size: 24px;
	text-shadow: 1px 1px 1px #CCC;
}




FORM
{
	display: inline;
}

.loadingPage
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background-color: #FFFFFF;
	display: block;
}

.mainTable
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	border-spacing: 0px;
}

.dragColumn
{
	cursor: e-resize;
	width: 4px;
	height: 100%;
	display: inline;
	float: left;
	border: none;
}

.dragRow
{
	cursor: n-resize;
	width: 10px;
	height: 4px;
	display: block;
	float: right;
	border-top: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
}

.toolBar
{
	width: 100%;
	display: block;
	height: 65px;
	border-bottom: 1px solid #9A9A9A;
	background-image: url(../images/toolbar/background.gif);
	text-align: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.toolBarButton
{
	height: 23px;
	background-image: url(../images/toolbar/group_bg.gif);
}

.statusBar
{
	width: 100%;
	display: block;
	height: 20px;
}

a
{
	text-decoration: none;
	color: #1C62F4;
}

a:hover
{
	text-decoration: underline;
}

.errorText
{
	font-weight: bold;
	color: #FF3333;
}

INPUT,SELECT,TEXTAREA
{
	border: 1px solid #999;
	font-family: tahoma, helvetica, arial;
	font-size: 11px;
	border-radius: 3px;
	-moz-border-radius: 3px;
    -khtml-border-radius: 3px;
	padding: 2px;
}

SELECT
{
	font-family: tahoma, helvetica, arial;
	font-size: 11px;
    padding: 1px;
}

.smallInput
{
	font-size: 10px;
}

.file
{
	border: 1px inset #666666;
	font-family: tahoma, helvetica, arial;
	font-size: 12px;
	height: 18px;
}

.invalidField[type=checkbox]
{
	outline: 4px solid #FF9999;
}

.invalidField
{
	background-color: #FF9999;
}

INPUT:focus,SELECT:focus,TEXTAREA:focus
{
	background-color: #FDFDFD;
	border: 1px solid #666;
	box-shadow: inset 0px 1px 2px #ccc;
	-moz-box-shadow: inset 0px 1px 2px #ccc;
	-khtml-box-shadow: inset 0px 1px 2px #ccc;
}
.nliDiv
{
	background-image: url(../images/main/bg.png);
	background-repeat: repeat-x;
	background-color: #E6ECF5;
	width: 650px;
	text-align: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.nliLogo
{
	position: relative;
	top: -22px;
	left: -22px;
}

.nliTitle
{
	position: relative;
	font-size: 24px;
	font-weight: bold;
	float: right;
	top: -80px;
	left: -40px;
}

.nliTable
{
	width: 100%;
}

.nliIconTD
{
	width: 38px;
	text-align: right;
	vertical-align: top;
	padding-right: 8px;
}

.nliTD
{
	text-align: left;
	vertical-align: top;
	padding-right: 15px;
}

TD,DIV,P,BODY
{
	font-family: tahoma, helvetica, arial;
	font-size: 12px;
	color: #333333;
}

H3
{
	border-bottom: 1px solid #999;
	color: #666;
	font-size: 18px;
	margin-top: 0.25em;
	font-weight: normal;
}

.formCaption
{
	width: 110px;
	text-align: right;
	padding-right: 8px;
}

.formField
{
	text-align: left;
}

.footerText
{
	padding-top: 8px;
	text-align: right;
	width: 650px;
}

.faqQuestion
{
	width: 100%;
	border: 1px solid #666666;
	height: 20px;
	line-height: 19px;
	cursor: pointer;
	background-color: #CCC;
}

.faqAnswer
{
	width: 100%;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color: #FFFFFF;
}

.noJSWarning
{
	border: 1px solid #990000;
	background-color: #FF9999;
	width: 650px;
	padding: 5px;
}

.formStatus
{
	padding-left: 8px;
}

.passwordSecurity
{
	border: 1px solid #999;
	height: 17px;
	width: 180px;
	background-color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
    -khtml-border-radius: 3px;
	padding: 1px;
}

.secureBar
{
	height: 100%;
}

.maintenanceBox
{
	border: 1px solid #DDDDDD;
	background-color: #FFFFCC;
	padding: 5px;
	text-align: center;
	width: 400px;
}

.maintenanceBox H2
{
	margin-top: 5px;
	margin-bottom: 5px;
}

//-->