/* font-family */
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNext-Bold.woff') format('woff'),
        url('../fonts/AvenirNext-Bold.ttf') format('truetype'),
        url('../fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
        url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
        url('../fonts/AvenirNext-DemiBold.ttf') format('truetype'),
        url('../fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNext-Heavy.woff') format('woff'),
        url('../fonts/AvenirNext-Heavy.ttf') format('truetype'),
        url('../fonts/AvenirNext-Heavy.svg#AvenirNext-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
        url('../fonts/AvenirNext-Medium.woff') format('woff'),
        url('../fonts/AvenirNext-Medium.ttf') format('truetype'),
        url('../fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* General styling */
body{
    font-family: 'Avenir Next';
    margin: 0;
    padding: 0;
    color: #0f1114;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
}
.ff-an{
    font-family: 'Avenir Next';
}
p {
    font-size: 16px;
    color: #0f1114;
}
ul, ol{ 
    padding-left: 0; margin-left: 0;
}
ul li, ol li{ 
    list-style: none;
}
a{
    color: #0f1114; 
    outline: none; 
}
a:hover, a:focus{
    color: #708912; 
    text-decoration: none;
    box-shadow: none;
}
.text-green{
    color: #708912 !important;
    -webkit-text-fill-color: #708912 !important;
    background: none !important;
}
.text-white{
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    background: none !important;
}
/**transitions for all hover elements**/
a,button,.btn, .transition{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
/* .common-styling */
.btn.btn-white{
    background: #fff;
    padding: 14px 29px;
    border-radius: 50px;
    border: none !important;
    outline: none;
    box-shadow: 2px 2px 16px 0px rgba(213, 241, 255, 0.4);
    font-size: 15px;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}
.btn.btn-white span {
    position: relative;
    z-index: 9;
}
.btn.btn-white:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #a9c540;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn.btn-white:hover {
    color: #fff !important;
}
.btn.btn-white:hover:before {
    opacity: 1;
    width: 100%;
}
 /* header styling */
 .site-header{
    background: rgb(245,245,245);
    background: linear-gradient(93deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 35%, rgba(245,245,245,1) 100%);
}
.site-header .main-menu {
    padding-top: 0;
}
.site-header .masthead-des{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.site-header .masthead-des .navbar-light .navbar-toggler-icon{
    background: url(../images/icons.svg) no-repeat;
}
.site-header .masthead-des .navbar-light .navbar-toggler{
    color:rgba(0, 0, 0, 0.5);
    border-color:rgba(0, 0, 0, 0.5);
}
.site-header .masthead-des .navbar-light .navbar-toggler:focus{
    box-shadow: none !important;
    outline: none !important;
}
.site-header .masthead-des ul li{
    padding: 0 10px;
}
.site-header .masthead-des .navbar-expand-lg .navbar-nav{
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
}
.site-header .masthead-des ul li:last-child{
    margin-left: 40px;
}
.site-header .masthead-des ul li.nav-item.button{
    width: 207px;
    height: 52px;
    border-radius: 50px;
    border: 2px solid #a9c540;
    outline: none;
    background: #fff;
    box-shadow: 2px 2px 16px 0px rgba(213, 241, 255, 0.4);
    position: relative;
    padding: 0px;
}
.site-header .masthead-des ul li.nav-item .button-wrap{
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.site-header .masthead-des ul li.nav-item.button img{
    margin-left: -2px;
}
.site-header .navbar-expand-lg .navbar-collapse{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.site-header .navbar {
    width: 100%;
    padding: 15px 0px;
}
.site-header .navbar .navbar-brand{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    line-height: inherit;
    white-space: nowrap;
}
.site-header .navbar li.nav-item a {
    font-size: 17px;
    line-height: 20px;
    font-family: 'Avenir Next';
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
    background: -webkit-gradient(linear, left top, right top, from(#708912), color-stop(50%, #708912), color-stop(50%, #000));
    background: linear-gradient(to right, #708912, #708912 50%, #000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 275ms ease;
    transition: background-position 275ms ease;
    text-decoration: none;
}
.site-header .masthead-des ul li.nav-item.button a{
    text-transform: uppercase;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    font-size: 15px;
}
.site-header .masthead-des ul li.nav-item.button a.text-white:hover{
    color: #fff !important;
}
.site-header .navbar li.nav-item a:hover {
    background-position: 0 100%;
}
/* Banner styling */
.site-banner{
    background: url(../images/banner-bg.svg) no-repeat;
    background-size: cover;
    height: 615px;
    padding: 60px 0;
}
.site-banner .banner-content{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.site-banner .banner-content h1{
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    width: 90%
}
.site-banner .banner-content p{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}
.site-banner .banner-content .banner-btn-wrap{
    margin: 50px 0 0 0;
}
.site-banner .banner-content .banner-btn-wrap a{
    display: inline-block;
}
.site-banner .banner-content .btn-white.btn-started{
    color: #708912;
    margin-right: 15px;
}
.site-banner .banner-content .btn-white.btn-quote{
    color: #020202;
}
/* platform section styling */
.platform{
    padding-bottom: 350px;
    position: relative;
}
.platform:before{
    content: '';
    position: absolute;
    background: url(../images/boxes.svg) no-repeat;
    width: 462px;
    height: 366px;
    background-size: 90% 100%;
    bottom: -150px;
    left: 0;
}
.platform:after{
    content: '';
    position: absolute;
    background: url(../images/boxes2.svg) no-repeat;
    width: 290px;
    height: 366px;
    background-size: 100% 100%;
    bottom: 20px;
    right: 0;
}
.platform .platform-content h1{
    color: #708912;
    font-size: 50px;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    margin: 0;
}
.platform .platform-content p{
    color: #3d3e3f;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
}
.platform .platform-content .sub-content p{
    color: #3d3e3f;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
}
.platform .platform-content .sub-content{
    position: relative;
}
.platform .platform-content .sub-content:before {
    content: '';
    position: absolute;
    left: 0;
    border-left: 5px solid #3d3e3f;
    width: 100%;
    height: 100%;
}
/* Features section styling */
.features{
    position: relative;
}
.features:before{
    content: '';
    position: absolute;
    background: url(../images/arrow-shape-img.svg) no-repeat;
    width: 193px;
    height: 281px;
    top: -219px;
    right: 0;
    left: 40px;
    margin: 0 auto;
    z-index: -1;
}
.features h1{
    font-size: 50px;
    color: #3d3e3f;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    margin: 0;
    text-align: center;
    z-index: 1;
}
.features p{
    font-size: 22px;
    color: #3d3e3f;
    font-weight: 400;
    margin: 0;
    text-align: center;
    margin-bottom: 108px;
}
.features .feature-content{
    text-align: center;
    margin-bottom: 55px;
}
.features .feature-content .img-wrap{
    width: 65px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.features .feature-content .content-wrap h2{
    font-size: 22px;
    color: #3d3e3f;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.features .feature-content .content-wrap p{
    font-size: 16px;
    color: #3d3e3f;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
}
/* Goals section styling */
.goals{
    background: url(../images/goals-bg.svg) no-repeat;
    background-size: cover; 
    background-position: 70% 100%;
    height: 1280px;
    padding: 300px 0 0 0;
}
.goals .goals-content h1 {
    font-size: 48px;
    color: #000;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
}
.goals .goals-content h1 .text-clr{
    color: #a9c540;
}
.goals .goals-content h1 .text-reg{
   font-weight: 400;
   font-family: 'Avenir Next';
}
.goals .goals-content p{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    margin-bottom: 20px;
}
.goals .goals-content ul li{
    font-size: 16px;
    color: #000;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 30px;
    background-image: url(../images/list-icon.svg);
    background-size: 12px;
    background-position: center left;
    background-repeat: no-repeat;
}
.goals .goals-content ul li:last-child{
    margin-bottom: 0;
}
.goals .goals-content ul{
    margin-bottom: 45px;
}
.goals .goals-content .btn-green{
    background: #a9c540;
    color: #fff;
}
.goals .goals-content .btn.btn-white.btn-green:before {
    background-color: #fff;
}
.goals .goals-content .btn.btn-white:hover {
    color: #a9c540 !important;
}
/* companies ection styling */
.company-content{
    text-align: center;
    padding: 150px 0 0 0;
}
.company-content h1 {
    font-size: 48px;
    color: #000;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    margin: 0;
}
.company-content p{
    font-size: 26px;
    color: #000;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    margin: 0;
}
.company-content p span.text-clr{
    color: #16487f;
}
.company-content p span.text-reg{
    font-family: 'Avenir Next';
    font-weight:400;
}
.company-content .img-wrap{
    padding: 50px 0 0 0;
}
/* footer styling */
.footer{
    background: url(../images/footer-bg.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 0 0px 0;
    position: relative;
}
.footer .top-border{
    border-top: 3px solid #fff;
}
.footer .footer-col-1 .footer-logo{
    width:200px;
}
.footer .footer-col-1 .footer-logo a{
    display: inline-block;
}
.footer .footer-col-1 p{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 40px 30px 40px 0;
}
.footer .footer-col-1 .icon-circle{
    background: #d7f2eb;
    border: 1px solid #fff;
    height:40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
}
.footer .footer-col-1 .icon-circle img{
    padding-bottom: 5px;
}
.footer .footer-col-1 ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}
.footer .footer-col-1 ul li{
    margin-right: 10px;
}
.footer .footer-col-2 ul li,
.footer .footer-col-3 ul li,
.footer .footer-col-4 ul li{
    line-height: 40px;
}
.footer .footer-col-2 ul li a,
.footer .footer-col-3 ul li a{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
.footer .footer-col-2 ul li a:hover,
.footer .footer-col-3 ul li a:hover,
.footer .footer-col-4 ul li a:hover{
    color:#708912;
    transition: all 0.3s ease-in-out 0s;
}
.footer .footer-col-1 ul li.icon-circle img:hover{
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
.footer .footer-col-4 ul li p,
.footer .footer-col-4 ul li a{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
.footer .footer-col-2 h1,
.footer .footer-col-4 h1,
footer .footer-col-3 h1{
    font-size: 20px;
    color: #fff;
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    margin: 0;
}
.footer .footer-col-2 h1:before,
footer .footer-col-3 h1:before,
footer .footer-col-4 h1:before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 25px;
    height: 3px;
    background: #fff;
}
.footer .footer-col-4{
    padding-left: 30px;
}
.footer .footer-col-2,
footer .footer-col-3,
footer .footer-col-4{
    padding-top: 50px;
}
.footer .footer-col-2 ul,
footer .footer-col-3 ul,
footer .footer-col-4 ul{
    margin: 0;
    padding: 65px 0 0 0;
}
.footer .footer-col-4 ul li:nth-child(1){
    padding-left: 44px;
    background-image: url(../images/phone-icon.svg);
    background-position: center left;
    background-repeat: no-repeat;
}
.footer .footer-col-4 ul li:nth-child(2){
    padding-left: 44px;
    background-image: url(../images/message-icon.svg);
    background-position: center left;
    background-repeat: no-repeat;
}
.footer .footer-col-4 ul li:nth-child(3){
    padding-left: 44px;
    background-image: url(../images/location-icon.svg);
    background-repeat: no-repeat;
}
.footer .footer-col-4 ul li{
    margin-bottom: 30px;
    line-height: 24px;
}
.footer .footer-col-4 ul li:last-child{
    margin-bottom: 0;
}
.footer .footer-col-4 ul li p{
    line-height: 24px;
    margin: 0;
}
.copyright{
    background: #fff;
    padding: 15px;
    margin-top: 80px;
}
.copyright p{
    font-size: 14px;
    color: #000;
    margin: 0;
    font-weight: 400;
}
.footer .right-img{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Responsive Querries */
@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}
@media (min-width: 1920px) and (max-width: 2560px)  {
    .site-banner {
        background-position: bottom;
    }
    .goals {
        background-position: initial;
        height: auto;
        padding: 300px 0 140px 0;
    }
}
@media (max-width: 1199px){
    .site-header .navbar li.nav-item a, .site-header .masthead-des ul li.nav-item.button a{
        font-size: 14px;
    }
    .site-header .masthead-des ul li.nav-item.button {
        width: 170px;
        height: 44px;
    }
    .site-header .masthead-des ul li.nav-item.button img {
        margin-left: -2px;
        width: 100px;
    }
    .site-header .masthead-des ul li.nav-item .button-wrap {
        top: 3px;
    }
    .site-header .navbar .navbar-brand img{
        width:150px;
    }
    .site-header .navbar {
        padding: 10px 0px;
    }
    .site-banner .banner-content h1 {
        font-size: 50px;
    }
    .site-banner .banner-content p, .platform .platform-content p, .features p {
        font-size: 18px;
    }
    .site-banner {
        height: 545px;
    }
    .platform .platform-content h1, .features h1, .goals .goals-content h1, .company-content h1 {
        font-size: 40px;
    }
    .platform:before {
        bottom: -120px;
        background-size: 70% 100%;
    }
    .platform:after {
        bottom: 60px;
    }
    .features:before {
        top: -235px;
    }
    .features p {
        margin-bottom: 70px;
    }
    .features .feature-content .content-wrap h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .goals .goals-content p ,.goals .goals-content ul li,.footer .footer-col-2 ul li a, .footer .footer-col-3 ul li a, .footer .footer-col-1 p, .footer .footer-col-4 ul li p, .footer .footer-col-4 ul li a {
        font-size: 14px;
    }
    .company-content p {
        font-size: 24px;
    }
    .footer .footer-col-2 h1, .footer .footer-col-4 h1, footer .footer-col-3 h1 {
        font-size: 18px;
    }
    .goals {
        height: 1200px;
    }
}
@media(max-width:991px){
    .site-header .masthead-des .navbar-light .navbar-toggler-icon {
        width: 24px;
        height: 18px;
    }
    .navbar-toggler {
        padding: 5px 10px !important;
    }
    .site-header .navbar {
        padding: 8px 0px;
    }
    .site-header .masthead-des ul li {
        width: 100%;
        padding: 0;
    }
    .site-header .masthead-des .navbar-expand-lg .navbar-nav{
        margin: 20px 0;
        -webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 2px  !important;
    }
    .site-header .masthead-des ul li:last-child {
        margin-left: 0px;
        margin-top:10px;
    }
    .site-banner .banner-content h1 {
        font-size: 40px;
        width: 100%;
    }
    .site-banner .banner-content p, .platform .platform-content p, .features p {
        font-size: 15px;
    }
    .btn.btn-white {
        font-size: 14px;
    }
    .site-banner .banner-content .btn-white.btn-started {
        margin-right: 5px;
    }
    .site-banner {
        height: 435px;
    }
    .platform:before {
        bottom: -70px;
        background-size: 60% 100%;
    }
    .platform:after {
        bottom: 35px;
    }
    .features:before {
        top: -235px;
        left:0;
    }
    .goals {
        height: auto;
        background-position: 25% 100%;
    }
    .goals .img-wrap{
        text-align: center;
    }
    .goals .img-wrap img{
        width:400px;
    }
    .company-content {
        padding: 50px 0 100px 0;
    }
    .company-content .img-wrap img{
        width: 100%;
    }
    .footer .footer-col-4 {
        padding-left: 0;
    }
}
@media (max-width: 767px){
    .site-banner {
        height: auto;
        padding: 60px 0 150px
    }
    .site-banner .img-wrapper{
        text-align: center;
        margin-top: 20px;
    }
    .site-banner .img-wrapper img{
        width: 430px;
    }
    .platform .platform-content h1, .features h1, .goals .goals-content h1, .company-content h1 {
        font-size: 33px;
    }
    .platform:after {
        bottom: 190px;
        z-index: -1;
    }
    .platform .platform-content{
        z-index: 1;
    }
    .platform:before {
        bottom: 0px;
    }
    .goals {
        padding: 260px 0 0 0;
    }
    .company-content p {
        font-size: 20px;
    }
    .company-content .img-wrap {
        padding: 30px 0 0 0;
    }
    .footer .footer-col-2 ul, footer .footer-col-3 ul{
        padding: 30px 0 0 0;
    }
    .footer .footer-col-4 ul {
        padding: 60px 0 0 0;
    }
    .site-header .masthead-des .navbar-expand-lg .navbar-nav {
        margin: 20px 0 10px 0;
    }
}
@media(max-width:575px){
    .site-banner .banner-content .banner-btn-wrap {
        margin: 30px 0 0 0;
    }
    .platform:before{
        display: none;
    }
    .platform:after {
        bottom: 200px;
        z-index: -1;
    }
    .platform {
        padding-bottom: 260px;
    }
    .features p {
        margin-bottom: 40px;
    }
    .features .feature-content .img-wrap {
        margin-bottom: 15px;
    }
    .goals {
        padding: 170px 0 0 0;
        background-position: 0% 100%;
    }
    .platform .platform-content h1, .features h1, .goals .goals-content h1, .company-content h1 {
        font-size: 28px;
    }
    .company-content p {
        font-size: 18px;
    }
}
@media (max-width: 480px){
    .site-banner .banner-content h1 {
        font-size: 35px;
    }
    .site-banner .img-wrapper img {
        width: 300px;
    }
    .site-banner {
        padding: 60px 0 120px;
    }
    .platform:after {
        bottom: 270px;
    }
    .features:before {
        top: -250px;
    }
    .copyright p {
        font-size: 13px;
        text-align: center;
    }
}
@media(max-width:375px){
    .site-banner .banner-content .banner-btn-wrap a {
        width: 100%;
    }
    .site-banner .banner-content .btn-white.btn-quote{
        margin-top: 10px;
    }
}