/*Generic Styles*/
body{font-family: 'Raleway', sans-serif;font-size: 14px; color: #000; overflow-x:hidden;background-color: #edf0f5;}

a{outline: none; text-decoration: none !important;}
a:hover, a:focus{color:#1e609d;}
.fw-med{font-weight: 500;}
.fw-sbold{font-weight: 600;}
.fw-bold{font-weight: 700;}
.bg-img{background-position: center center; background-repeat: no-repeat; background-size: cover; width: 100%; display: block;}
.v-align {display: table;width: 100%;height: 358px;}
.v-align .align-mid {display: table-cell;vertical-align: middle;height: 100%;}
.form-control:focus {-webkit-box-shadow: none;box-shadow: none;}

/*Buttons Styles*/
.btn.btn-round{border-radius:50px;padding: 8px 20px; border-width: 2px; text-transform: uppercase; position: relative; font-size: 14px;}
.btn{font-weight: 500;padding: 6px 25px;border-width:2px;}

.btn-default {background-color: transparent;border-color: #0d4477;color: #0d4477; }
.btn-default:hover, 
.btn-default:focus,
.btn-default:active:focus,
.btn-default:not(:disabled):not(.disabled).active, 
.btn-default:not(:disabled):not(.disabled):active {background-color:  #0d4477; color: #fff;-webkit-box-shadow: none;box-shadow: none;}

.btn-primary {background-color:#0d4477;color:#fff;border-color:#0d4477;}
.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active {background-color: transparent; color: #0d4477; border-color:#0d4477;-webkit-box-shadow: none;box-shadow: none;}

.btn-success:hover, 
.btn-success:focus,
.btn-success:active:focus,
.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active {background-color: transparent; color: #28a745; border-color:#28a745;-webkit-box-shadow: none;box-shadow: none;}

.btn-danger:hover, 
.btn-danger:focus,
.btn-danger:active:focus,
.btn-danger:not(:disabled):not(.disabled).active, 
.btn-danger:not(:disabled):not(.disabled):active {background-color: transparent; color: #dc3545; border-color:#dc3545;-webkit-box-shadow: none;box-shadow: none;}

.btn.btn-rounded {border-radius: 50px;}
.btn.btn-default-w {background-color: #fff;-webkit-box-shadow: -3px 2px 9px rgba(0,0,0,0.15);box-shadow: -3px 2px 9px rgba(0,0,0,0.15);}
.icon-btn .btn-icon {width: 18px;display: inline-block;vertical-align: middle;line-height: 15px;margin-right: 8px;}
.icon-btn .btn-text {display: inline-block;vertical-align: middle;}
.btn.btn-default-w {padding: 8px 22px;}
.btn.btn-default-w:hover, .btn.btn-default-w:focus {background-color: #1e609d;color: #fff;}
.btn.btn-default-w:hover .btn-icon img, .btn.btn-default-w:focus .btn-icon img {-webkit-filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(37deg) brightness(104%) contrast(145%);filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(37deg) brightness(104%) contrast(145%);}

/**pseudo classes**/
::-moz-selection {background-color:#010101;color:#fff}
::selection {background-color: #010101;color: #fff;}
::-webkit-input-placeholder {color: #000; opacity: 0.8;}
::-moz-placeholder {color: #000;opacity:0.8;}
:-ms-input-placeholder {color: #000; opacity: 0.8;}
.form-control::-webkit-input-placeholder {color: #000;opacity: 0.8;}
.form-control::-moz-placeholder {color: #000;opacity: 0.8;}
.form-control:-ms-input-placeholder {color: #000;opacity: 0.8;}
.form-control::-ms-input-placeholder {color: #000;opacity: 0.8;}
.form-control::placeholder {color: #000;opacity: 0.8;}

/**transitions for all hover elements**/
a,button,.btn, .transition{-webkit-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;cursor: pointer;}

/*Left Menu*/
.left-menu {background-color: #fff;-webkit-box-shadow: 3px 0px 9px rgba(0,0,0,0.02);box-shadow: 3px 0px 9px rgba(0,0,0,0.02);width: 280px;position: fixed;height: 100%;left: 0;top: 0; -webkit-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s;-webkit-transform: translateX(-280px);-ms-transform: translateX(-280px);transform: translateX(-280px); z-index: 1;}
.left-menu.open {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
.left-menu .logo-area {background-color: #1e609d;padding: 20px;margin-bottom: 15px;}
.left-menu .logo-area .logo-text {color: #fff;font-weight: 600;font-size: 16px;margin-left: 10px;}
.widget-menu-area {padding: 20px;overflow: auto;max-height: calc(100vh - 100px);}
.widget-menu-area .menu-title-small {font-size: 12px;text-transform: uppercase;color: #1e609d;letter-spacing: 1px;}
.customize-widget-area {margin-top: 15px;}
.customize-widget-area .menu-title {font-size: 18px;color: #1e609d;letter-spacing: 1.2px;}

.customize-widget-area .widget-item .custom-check {padding-left: 0;margin-bottom: 18px;}
.customize-widget-area .widget-item .item-label .label-icon {float: left;width: 18px;line-height: 20px;margin-right: 12px;}
.customize-widget-area .widget-item .item-label .label-text {display: block;overflow: hidden;font-size: 15px;}
.customize-widget-area .widget-item .custom-check input {right: 0;top: 0;width: 20px;height: 20px;}
.customize-widget-area .widget-item .custom-check .checkmark {right: 0;left: auto;top: 0;}
.customize-widget-area .widget-item {margin-top: 18px;}

 /* Customize the label*/
.custom-check {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.custom-check input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.custom-check .checkmark {position: absolute;top: 0;left: 0;width: 20px;height: 20px;background-color: #fff;border: 1px solid #9b9b9b;border-radius: 3px;}
.custom-check:hover input ~ .checkmark {border-color: #1e609d;}
.custom-check input:checked ~ .checkmark {background-color: #fff;border-color: #1e609d;}
.custom-check .checkmark:after {content: "";position: absolute;display: none;}
.custom-check input:checked ~ .checkmark:after {display: block;}
.custom-check .checkmark:after {left: 6px;top: 3px;width: 6px;height: 11px;border: solid #1e609d;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);} 

/*Right Canvas*/
.right-canvas {-webkit-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;padding-top: 66px;}
.right-canvas.expanded {margin-left: 280px;position: relative;}
.site-nav.fixed {position: fixed;width: calc(100% - 280px);top: 0;background-color: #0d4477;padding: 14.5px;z-index: 20;}

.search-form .input-group-text {padding: 0;width: 38px;text-align: center;background-color: #fff;border: none;}
.search-form .input-group-text img {max-width: 18px;margin: auto;}
.search-form .form-control {border: none;background-color: #fff;padding-left: 5px;font-size: 15px;}
.search-form {width: 45%;}
.search-form .form-control:focus {-webkit-box-shadow: none;box-shadow: none;}

.site-nav .nav-top .nav-link {padding: 0 15px;position: relative;}
.site-nav .nav-top .nav-link .link-icon {width: 22px;display: block;}
.site-nav .nav-top .nav-link.link-notif .link-icon {width: 18px;}
.site-nav .nav-top .nav-link.link-notif .noti-count {width: 16px;height: 16px;color: #fff;display: block;background-color: red;text-align: center;line-height: 12px;font-size: 11px;border-radius: 50%;position: absolute;top: -6px;right: 9px;}

.site-nav .nav-top .nav-item {position: relative;}
.site-nav .nav-top .nav-link.link-user .link-icon {width: 37px;height: 37px;}
.site-nav .nav-top .nav-link.link-user {padding-right: 0;}
.site-nav .nav-top .navbar-nav {-webkit-box-align: center;-ms-flex-align: center;align-items: center;}

.nav-top .dropdown-menu {display: block;opacity: 0;visibility: hidden;-webkit-transform: scale(0);-ms-transform: scale(0);transform: scale(0);-webkit-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;-webkit-transform-origin: top right;-ms-transform-origin: top right;transform-origin: top right;top: 42px;right: 10px;min-width: 300px;-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);box-shadow: 0 2px 10px rgba(0,0,0,.15);border-radius: 0;border: none;}
.nav-top .dropdown-menu.show {opacity: 1;visibility: visible;-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
.nav-top .dropdown-menu .dropdown-item:hover, .nav-top .dropdown-menu .dropdown-item:focus{background-color: rgba(31,145,198,0.2);}

/*notification Dropdown*/
.nav-top .dropdown-menu:before {display: block;content: "";border-style: solid;border-width: 7px;width: 0;height: 0;border-color: transparent transparent #fff;position: absolute;top: -13px;right: 8px;}
.notif-drop.notifications .notif-item {padding: 8px 15px;margin-bottom: 0;}
.notif-drop.notifications .notif-item .notif-dot {left: 25px;top: 10px;}

/*Acount Dropdown*/
.dropdown-menu .item-icon {max-width: 18px;display: inline-block;line-height: 18px;margin-right: 10px;vertical-align: middle;}
.dropdown-menu .item-text {display: inline-block;vertical-align: middle;}
.nav-top .dropdown-menu.account-drop {top: 50px;right: 5px;}

/*More Item Dropdown*/
.more-items-drop .more-menu-item {display: block;padding: 10px;border-right: 1px solid rgba(0,0,0,0.08);border-bottom: 1px solid rgba(0,0,0,0.08);}
.more-items-drop .more-menu-item .more-item-icon {width: 25px;margin: auto; line-height: 28px;}
.more-items-drop .more-menu-item .more-item-text {color: #000;font-size: 14px;margin-top: 8px;}
.dropdown-menu.more-items-drop {padding: 0;}
.more-items-drop .more-menu-item:hover, .more-items-drop .more-menu-item:focus {background-color: rgba(31,145,198,0.2);}

.content-box {background-color: #fff;border: 1px solid #d7e0f1;padding: 15px;width: 100%;margin-bottom: 30px; position: relative;}
.content-box .box-title .tl-icon {float: left;width: 23px;margin-right: 12px;line-height: 20px;}
.content-box .box-title .tl-title {font-size: 20px; display: block; overflow: hidden; text-align: left;}
.content-box .box-title {border-bottom: 1px solid rgba(117,117,117,0.5);margin-bottom: 15px;}

/*Calendar Style*/
.cal-widget {border: 1px solid #dfdfdf;}
.miniCalendarTable.inWidget {width: 100%;}
.miniCalendarTable {border-collapse: collapse;}
.miniCalendarTable {border-collapse: collapse;}
.miniCalendarTable th.Caption {background-color: #0d4477;font-weight: 600;text-align: left;font-size: 14px;padding: 10px;}
.miniCalendarTable th {text-align: center;background-color: #fff;font-size: 14px;color: #0d4477;font-weight: 600;padding: 5px;}
.miniCalendarTable th.Caption a {color: #FFF;}
.miniCalendarTable td {text-align: center;border: 1px solid #DDDDDD;padding: 2px;font-size: 11px;background-color: #FFF;padding: 5px;}
.miniCalendarTable td.Empty {background-color: #efefef;}
.miniCalendarTable td.Today {background-color: #0d4477;color: #fff;}
.cal-widget {border: 1px solid #dfdfdf;}
.miniCalendarTable td a {color: #666;font-weight: 500;font-size: 14px;}
.miniCalendarTable td.Today a {color: #fff;}
.miniCalendarTable tr td:last-child {border-right: none;}
.clndr-widget-info p {margin-bottom: 0;margin-top: 5px;}
.clndr-widget-info {padding: 15px;} 
.miniCalendarTable td.event-item {background-color: #d1dfec;}

/*Email Widget*/
.content-box.email-box {background-color: #4caf50;border: none;}
.content-box .box-title.title-inv {border-bottom: 1px solid rgba(255,255,255,0.5);}
.email-widget .item .item-label {min-width: 105px;}
.email-widget .item .item-label a {display: block;}
.email-widget .item .item-label .lbl-icon {width: 20px;float: left;margin-right: 10px;line-height: 10px;}
.email-widget .item .item-label .lbl-text {display: block;overflow: hidden;font-size: 16px;line-height: 25px;}
.email-widget .item .item-label .lbl-text.lh-normal{line-height:18px;}
.email-widget .item .bar-line {width: 52%;border-style: solid;border-width: 1px;border-color: transparent transparent rgba(255,255,255,0.5);margin: 0 20px;}
.email-widget .item .info-icons {min-width: 145px;text-align: right;}
.email-widget .item .info-icons .total-count span {display: inline-block;}
.email-widget .item .info-icons .total-count .info-ic {width: 15px;margin-right: 2px;}
.email-widget .item .info-icons .total-count .info-text {font-size: 12px;}
.email-widget .item .info-icons .info-flag span {width: 12px;display: block;margin: 0 25px;}
.email-widget .item .info-icons .info-mailbox span {display: block;width: 15px;}
.email-widget .item {margin-top: 20px;}
.email-widget {margin-top: 30px;}
/* 04/11/2020 changes */
.email-widget .item .info-icons .info-flag .ic-flag,.email-widget .item .info-icons .info-mailbox .ic-mailbox {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        color: #fff;
}
.notifyBell-icon {right: 10px !important}
.img-white {-webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(130deg) brightness(104%) contrast(102%);filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(130deg) brightness(104%) contrast(102%);}

/*Search Widget*/
.widget-search .search-form {width: 100%;}
.widget-search .search-form .form-control {border-style: solid;border-color: #dfdfdf #dfdfdf #dfdfdf transparent;border-width: 1px;}
.widget-search .search-form .input-group-text {border-style: solid;border-width: 1px;border-color: #dfdfdf transparent #dfdfdf #dfdfdf;}

/*Notes Widget*/
.notes-items a {display: block;margin-top: 8px;}
.notes-items .nt-link-icon {width: 15px;float: left;margin-right: 10px;}
.notes-items .nt-link-icon .icon-hover {display: none;}
.notes-items .note-text {font-size: 13px;font-weight: 600;color: #000;}
.notes-items a:hover .nt-link-icon .icon-hover {display: initial;}
.notes-items a:hover .nt-link-icon .icon-default {display: none;}
.notes-items a:hover .note-text {color: #1f91c6;}
.widget-notes .preview-area {background-color: #fff394;padding: 30px;}
.widget-notes .preview-area .help-info .note-count {width: 50px;height: 50px;display: block;margin: auto auto 18px;border: 2px solid #000;font-size: 22px;border-radius: 50%;line-height: 42px;}

/*Tasks Widget*/
.widget-notes.widget-tasks .preview-area {background-color: #c5d8e3;}

/*Drag & Drop Widget*/
.widget-drag {background-color: #f1f1f1;padding: 10px;}
.widget-drag .drag-area {border: 2px dashed #5a5a5a;border-radius: 5px;min-height: 250px;position: relative;cursor: pointer;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.widget-drag .drag-area input {position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 2;opacity: 0;}
.widget-drag .drag-area .icon-drag {width: 75px;margin-left: auto;margin-right: auto;margin-bottom: 15px;}

/*Welcome Widget*/ 
.notifications .notif-item .notif-icon {float: left;width: 15px;line-height: 18px;margin-right: 10px;}
.notifications .notif-item {display: block;color: #000;margin-bottom: 8px;font-weight: 500;position: relative;}
.notifications .notif-item .notif-dot {width: 7px;height: 7px;background-color: #f64c10;display: block;border-radius: 50%;position: absolute;left: 10px;top: 2px;}
.notifications .notif-item:hover {color: #1f91c6;}

/*Quick Links Widget*/
.ql-item-links .ql-icon {width: 20px;float: left;margin-right: 10px;line-height: 10px;}
.ql-item-links .ql-text {display: block;overflow: hidden;font-size: 16px;line-height: 25px;}
.ql-item-links a {display: block;margin-bottom: 10px;margin-top: 5px;color: #000;}
.ql-item-links a:hover {color: #1e609d;}
.ql-item {border: 1px solid #dfdfdf;border-radius: 3px;margin-top: 25px;}
.ql-item .ql-title {font-size: 16px;background-color: #fff;padding: 2px 10px;display: inline-block;margin-left: 20px;margin-bottom: 0;clear: both;position: relative;top: -10px;}
.ql-item-links {padding: 0px 30px 15px 30px;}

/*Space Email Widget*/
.widget-sp-email .main-title {color: #e0582e;font-size: 20px;margin-bottom: 5px;}
.widget-sp-email .widget-icon {position: absolute;right: 15px;width: 45px;top: 30px;}
.widget-sp-email .widget-icon img {width: 100%;}
.widget-sp-email .progress-container {margin-left: -15px;margin-right: -15px;margin-bottom: -15px;background-color: #e0582e;padding: 10px 15px;margin-top: 20px;}
.widget-sp-email .progress-container .progress-value {color: #fff;margin-bottom: 5px;font-size: 13px;}
.widget-sp-email .progress-container .progress {background-color: transparent;border: 1px solid #fff;height: 10px;border-radius: 60px;}
.widget-sp-email .progress-container .progress .progress-bar {background-color: #fff;}
.widget-sp-email {margin-top: 0;}

/*Webdisc Widget*/
.widget-sp-email.sp-webdisc .main-title {color: #1f91c6;}
.widget-sp-email.sp-webdisc .webdisc-content {min-width: 54%;}
.widget-sp-email.sp-webdisc .widget-graph {position: relative;}
.widget-sp-email.sp-webdisc .widget-graph .chart-value {position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);color: #1f91c6;}
.dragTableColumn {
    width: 50%;
}

.widget-sp-email.sp-webdisc .progress-container {
    background-color: #1f91c6;
}
.sp-webdisc .widget-icon {
    top: 22px;
}
/* Searchbar style */
.head-search-wrap .search-btn {
    font-size: 20px;
    color: #fff;
    margin-right: 15px;
}
.headerBox {
    min-width: 300px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    background: #fff;
    padding: 20px 10px 0;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 66px;
    left: 20px;
    z-index: 999;
    left: auto !important;
}
.headerBox input {
    width: 100% !important;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    padding: 6px 7px;
    font-size: 12px;
    line-height: normal;
    color: #000;
    outline: none !important;
}
.headerBox input:focus {border-color: #2b91ef;}
.headerBox:before {
    content: '';
    position: absolute;
    top: -14px;
    right: 16px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
}
.headerBox table {border: none;}
.headerBox .border-none {border: none !important;}
.headerBox table td {
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 7px 0;
    font-size: 13px;
    border-top: none !important;
}

.lf-menu-seperator {
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #e6e6e6;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.create-new-btn {
  color: #1e609d;
}
.create-new-btn .icon-lbl {
  display: inline-block;
  width: 18px;
  margin-right: 8px;
}
.create-new-btn .lbl-text {
  display: inline-block;
  vertical-align: middle;
}
.customize-widget-area.email-temp-menu .menu-title {
  color: #282828;
}

/*Mailbox*/

.mailbox-left {
    position: fixed;
    width: calc(100% - 75%);
    height: calc(100vh - 120px);
    background-color: #fff;
    border-radius: 5px;
  }
  .mailbox-left #folderMailArea, .mailbox-left #folderMailArea form {
    height: 100%;
    position: relative;
  }
  #contentHeader {
    background-color: #d2e3f3;
    padding: 8px 15px;
  }
  #contentFooter, .contentFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #d2e3f3;
    padding: 8px;
  }
  #folderLoading {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
}
#previewLoading {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.mailbox-right {
    width: 100%;
    height: calc(100vh - 121px);
    background-color: #fff;
    border-radius: 3px;
    overflow: auto;
}
.action-btn .btn {
    background-color: transparent;
    border: none;
    padding: 5px 8px;
    font-size: 12px;
    color: #0d4477;
    line-height: 12px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .action-btn .btn:after {
    display: none;
  }
  
#multiSelPreview_vCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  #multiSelPreview {
    height: 100%;
  }
  
.action-btn .btn:active, .action-btn .btn:focus, .action-btn .btn.dropdown-toggle {
    background-color: transparent !important;
    color: #0d4477;
  }
  .left .box-title {
    display: block;
    overflow: hidden;
    font-weight: 500;
}

.action-btn .dropdown-item {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 500;
  }
  .action-btn .dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.1);
            box-shadow: 0 0px 12px rgba(0,0,0,0.1);
  }
  #contentFooter .left {
    display: block;
    overflow: hidden;
  }
  select.form-control {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 12px 5px 5px;
    font-size: 14px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    background-image: url('../../frontend_assets/img/down-arrow.svg');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    vertical-align: middle;
  }
  #contentFooter .smallInput.btn {
    padding: 2px 10px;
    display: inline-block;
    vertical-align: middle;
}
#contentFooter .right .form-control {
  min-width: 45px;
  background-position: 82% 50%;
}
.mailColor_0
{
	border: 1px solid #EFEFEF !important;
}
.mailColor_1
{
	background-color: #3D81EB !important;
	color: #FFF !important;
}
.mailColor_1 .subject, .mailColor_1 .sender, .mailColor_1 .date { color: #FFF; }
.mailColor_2
{
	background-color: #5DB747 !important;
	color: #FFF !important;
}
.mailColor_2 .subject, .mailColor_2 .sender, .mailColor_2 .date { color: #FFF; }
.mailColor_3
{
	background-color: #FA514A !important;
	color: #FFF !important;
}
.mailColor_3 .subject, .mailColor_3 .sender, .mailColor_3 .date { color: #FFF; }
.mailColor_4
{
	background-color: #FD9530 !important;
	color: #FFF !important;
}
.mailColor_4 .subject, .mailColor_4 .sender, .mailColor_4 .date { color: #FFF; }
.mailColor_5
{
	background-color: #C358BF !important;
	color: #FFF !important;
}
.mailColor_5 .subject, .mailColor_5 .sender, .mailColor_5 .date { color: #FFF; }
.mailColor_6
{
	background-color: #8A74D3 !important;
	color: #FFF !important;
}
.mailColor_6 .subject, .mailColor_6 .sender, .mailColor_6 .date { color: #FFF; }
.mailColor_1 A 		 { color: #FFF; }
.mailColor_1 A:hover { color: #EFEFEF; }
.mailColor_2 A 		 { color: #FFF; }
.mailColor_2 A:hover { color: #EFEFEF; }
.mailColor_3 A 		 { color: #FFF; }
.mailColor_3 A:hover { color: #EFEFEF; }
.mailColor_4 A 		 { color: #FFF; }
.mailColor_4 A:hover { color: #EFEFEF; }
.mailColor_5 A 		 { color: #FFF; }
.mailColor_5 A:hover { color: #EFEFEF; }
.mailColor_6 A 		 { color: #FFF; }
.mailColor_6 A:hover { color: #EFEFEF; }

#__olBackground {
  background-color: #000;
  opacity: 0.5;
  -webkit-animation: olBGFadeIn 0.2s;
          animation: olBGFadeIn 0.2s;
}
@-webkit-keyframes olBGFadeIn
{
	from { opacity: 0; }
}
@keyframes olBGFadeIn
{
	from { opacity: 0; }
}

@-webkit-keyframes olContainerFadeIn
{
	from { top: -100px; }
}

@keyframes olContainerFadeIn
{
	from { top: -100px; }
}
.__olContainer {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 6px 6px 20px #333;
  -webkit-box-shadow: 6px 6px 20px #333;
  -moz-box-shadow: 6px 6px 20px #333;
  overflow: hidden;
  -webkit-animation: olContainerFadeIn 0.3s;
          animation: olContainerFadeIn 0.3s;
}
.__olCaption {
  color: #fff;
  padding: 10px;
  font-size: 14px;
  background-color: #0d4477;
  display: block;
  height: 40px;
  font-weight: 500;
}
.__olContent {
  border-top: 1px solid #DDD;
}
.__olContent iframe {
  height: 100%;
}

.modal-form {
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-title {
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 600;
  position: relative;
}
.form-title:before {
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
}
.input-label {
  font-weight: 600;
  font-size: 12px;
}
.scrollContainer, .mail-area-content {
  padding-top: 30px;
}
BODY, TD, DIV, SPAN {font-family: 'Raleway', sans-serif !important;}

.page-header .pg-title {
  padding: 0;
}
#contentHeader.page-header {
  padding-left: 15px;
  padding-right: 15px;
}
.page-header .pg-title img {
  width: 18px;
  -webkit-filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);
          filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);
}
#contentFooter.pg-footer {
  padding-left: 15px;
  padding-right: 15px;
}
.mail-area-content-bottom #vSep1 {
  position: relative;
  background-color: #fff;
}
.mail-area-content-bottom #vSep2 {
  background-color: #fff;
}
.email-table th a {
  color: #000;
}
.email-table th:first-child {
  padding-left: 15px;
}
.email-table th, .email-table td{vertical-align: middle;}
.email-table table table td {border-top: none;}

/*Setings Page*/

.pg-title p {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
}
.pg-title img {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.pg-title {
  padding-left: 15px;
  padding-right: 15px;
}

.setting-item .item-icon {
  float: left;
  margin-right: 15px;
}
.setting-item .item-icon a {
  display: block;
  width: 55px;
  height: 55px;
  border: 1px solid #0d4477;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.setting-item .item-icon a img {
  max-width: 28px;
}
.setting-item .item-content {
  display: block;
  overflow: hidden;
  /*border-bottom: 1px solid #ddd;
  padding-bottom: 15px;*/
  padding-top: 5px;
}
.setting-item .item-content h2 {
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 600;
}
.setting-item {
  clear: both;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}
.setting-item .item-content h2 a {
  color: #000;
}
.setting-item .item-content h2 a:hover {
  color: #0d4477;
}
.setting-item .item-content p {
  margin-bottom: 0;
  font-size: 14px;
  opacity: 0.7;
}
.grid-item { 
  width: 580px; 
}

/*Email Toolbar*/

.progress-area .item-label, .progress-area .progress-wrap {
  display: inline-block;
  vertical-align: middle;
}
.email-toolbar .progress-area, .email-toolbar .email-preview, .email-preview .item-label, .email-preview .preview-select {
  display: inline-block;
  vertical-align: middle;
}
.email-toolbar .item-label p {
  margin-bottom: 0;
  font-weight: 600;
}
.email-toolbar p {
  color: #fff;
  margin-bottom: 0;
  font-weight: 600;
}
.progressBar {
  height: 8px;
  background-color: transparent;
  text-align: left;
  border-radius: 30px;
  -moz-border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.progress-wrap .used-space {
  display: inline-block;
  vertical-align: middle;
}
.email-toolbar .email-preview, .email-toolbar .prg-traffic {
  border-left: 1px solid rgba(255,255,255,0.2);
  margin-left: 15px;
  padding-left: 15px;
}
.progressBar .progressBarValue {
  background-color: #fff;
  height: 100%;
}
.preview-select .form-control {
  padding: 0 10px 0 0px;
  font-size: 13px;
  border-radius: 0;
  font-weight: 500;
  margin-left: 5px;
}


.contentMenuIcons .dtree .dTreeNode {
  color: #000;
  margin-bottom: 0;
  padding: 12px 0;
  position: relative;
}
.contentMenuIcons .dtree .dTreeNode img {
  float: left;
  width: 18px;
  margin-right: 12px;
  position: relative;  
}
.email-temp-menu .contentMenuIcons .dtree .dTreeNode img{-webkit-filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);}
.contentMenuIcons .dtree .dTreeNode a {
  display: block;
  overflow: hidden;
  font-size: 15px;
  color: #000;
  position: relative;
}

.contentMenuIcons .dtree .dTreeNode:before {
  display: block;
  content: "";
  background-color: #eeeeee;
  width: calc(100% + 24px);
  height: 41px;
  position: absolute;
  z-index: 0;
  left: -20px;
  top: 3px;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: translateX(-280px);
      -ms-transform: translateX(-280px);
          transform: translateX(-280px);
}
.contentMenuIcons .dtree .dTreeNode:hover:before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.contentMenuIcons .dtree .dTreeNode:hover a {
  font-weight: 600;
}

/*Compose Email*/
.bigForm.withBottomBar {
  height: calc(100vh - 205px);
  clear: both;
}
.previewMailHeader {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  background-color: #FAFAFA;
}
.lightTable {
  width: 100%;
  padding-right: 2em;
}
.lightTable TH {
  color: #000;
  padding-right: 0.5em;
  text-align: right;
  font-weight: 500;
  vertical-align: middle;
  width: 105px;
}
.mailSendOptions DIV {
  display: inline-block;
  margin-right: 20px;
  white-space: nowrap;
}
.mailSendOptions {
  padding-top: 10px;
}
.mailSendOptions div img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 25px;
  border-right: 1px solid #ddd;
  padding-right: 5px;
}
.mailSendOptions div input {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
select.form-control.field-small {
  padding: 2px 30px 2px 5px;
  margin-top: -1px;
  font-weight: 500;
}
.compose-tbl .form-control {
  padding: 8px;
}
.compose-tbl select.form-control {
  background-position: 99% 50%;
}
.compose-tbl label {
  font-weight: 500;
  color: #000;
}
.compose-tbl label sup {
  font-size: 18px;
  color: red;
  top: 0;
}
.address-box-wrap .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file-select-area .icon-area, .file-select-area .input-area {
  display: inline-block;
  vertical-align: middle;
}
.form-wrap .progress-area .progressBar {
  border-color: #0d4477;
}
.form-wrap .progress-area .progressBar .progressBarValue {
  background-color: #0d4477;
}
.file-select-area, .progress-area {
  display: inline-block;
  vertical-align: top;
}

/*Folder Administration*/

.folder-name img {
  -webkit-filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);
          filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);
  display: inline-block;
  margin-right: 10px;
}
.folder-name a {
  color: #000;
  font-weight: 500;
}
.edit-folder img{-webkit-filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(51deg) brightness(104%) contrast(103%);}
/*******new css********/
.min_height{
  min-height: 100vh;
}
.titleWith_icon .img_wrap{
  height: 20px;
  width: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background: #ffffff;
  border: 1px solid #a2c7e9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.titleWith_icon .page_title{
  font-weight: 600;
  margin-left: 5px;
}
.titleWith_icon .page_title a {
  color: #000;
}
.custom_tbl_style{
  -webkit-box-shadow: 3px 3px 10px 3px rgb(220 224 228 / 40%);
          box-shadow: 3px 3px 10px 3px rgb(220 224 228 / 40%);
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;
  background-color: #fff;
}
.custom_tbl_style th {
  background: #0d4477;
  color:#fff;
}
.custom_tbl_style th a{
  color: #fff;
}
.custom_tbl_style tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
.custom_tbl_style tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
.custom_tbl_style tr th:first-child, .custom_tbl_style tr td:first-child {
  border-left: 1px solid #d9d9d9;
}
.custom_tbl_style tr td:last-child {
  border-right: 1px solid #d9d9d9;
}
.custom_tbl_style tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.custom_tbl_style tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.no-radius tr:last-child td:first-child {
  border-bottom-left-radius: 0;
}
.no-radius tr:last-child td:last-child {
  border-bottom-right-radius: 0px;
}
.custom_tbl_style select.form-control {
  padding: 8px;
  vertical-align: middle;
}
.custom_tbl_style tbody table td {
  border: none !important;
}

.custom_tbl_style tr:last-child td {
  border-bottom:1px solid #d9d9d9;
}
.container-fluid.pad_0{
  padding: 0;
}
#contentFooter .btn.btn-success{
  padding: 3px 25px;
}
.custom_check [type="checkbox"], .custom_check [type="radio"]{
  display: none;
}
.custom_check [type="checkbox"] + label, .custom_check [type="radio"] + label {
  position: relative;
  padding-left: 35px;
  line-height: 25px;
  display: inline-block;
  color: #5A5A5A;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  cursor: pointer;
}
.custom_check [type="checkbox"] + label:before, .custom_check [type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #0d4477;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}
.custom_check [type="checkbox"]:checked + label:before, .custom_check [type="radio"]:checked + label:before {
  border: 2px solid #4CAF50;
  background: #4CAF50;
}
.custom_check [type="checkbox"]:checked + label:after, .custom_check [type="radio"]:checked + label:after {
  content: "\2713";
  width: auto;
  height: auto;
  color: #fff;
  position: absolute;
  top: 0;
  left: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 19px;
  font-weight: bold;
}
.custom_check [type="checkbox"]:checked + label:after, .custom_check [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}
.defensive_degressive_tbl .first_td{
  padding: 0;
  border: none;
  background: #e1e4e9;
}
.defensive_degressive_tbl .first_td tbody tr:nth-of-type(odd){
  background-color: transparent;
}
.defensive_degressive_tbl .first_td td{
  padding: .75rem .35rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.defensive_degressive_tbl .first_td td input{
  height: 13px;
  width: 13px;
}
.defensive_degressive_tbl *{
  border: none !important;
}
.defensive_degressive_tbl .bayesBorderTable2{
  background-image: -webkit-gradient(linear, left top, right top, from(green), color-stop(yellow), color-stop(orange), to(red));
  background-image: -o-linear-gradient(left, green, yellow, orange, red);
  background-image: linear-gradient(to right, green, yellow, orange, red);
  border-radius: 50px;
  background-color: transparent;
}
.td_border_none{
  border: none !important;
}
.round_field{
  -webkit-box-shadow: 3px 3px 3px 0 rgb(75 128 182 / 17%);
          box-shadow: 3px 3px 3px 0 rgb(75 128 182 / 17%);
  border-radius: 50px;
  border: 1px solid #c9c9c9;
}
.sub_title_style{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #d2e3f3;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub_title_style .img_wrap{
  background: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  border: 1px solid #9fbbd5;
}
.sub_title_style .img_wrap + span{
  display: inline-block;
  border-bottom: 1px double #4380b8;
  position: relative;
}
.sub_title_style .img_wrap + span:after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  height: 1px;
  width: 100%;
  background: #4380b8;
}
.field_min_width{
  min-width: 250px;
}
.listTableLeft label{
  margin-bottom:0;
}
.auto_field{
  width:auto;
  display:inline-block;
  vertical-align: middle;
}
.tbl_border_none td{
  border-top:none;
}
.listTable .listTableRightDesc, .listTable .listTableLeftDesc {
  padding: 0;
}
.listTableLeft sup {
  font-size: 18px;
  top: 0;
  color: red;
}
.field-min-w {
  min-width: 460px;
  width: auto;
}
/*******new css end********/

/*Faqs Screen*/

.faqs-wrap {
  background-color: #fff;
}
.faqs-wrap .panel-t {
  background-color: #0d4477;
  color: #fff;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px 5px 0px 0;
  margin-bottom: 0;
}
.faqs-wrap #accordion {
  padding: 15px;
}
.faqs-wrap .card .btn {
  width: 100%;
  text-align: left;
  padding: 0;
  color: #000;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  position: relative;
}
.faqs-wrap .card {
  margin-bottom: 10px;
}
.faqs-wrap .card .card-header {
  border-bottom: none;
}
.faqs-wrap .card .btn:after {
  display: block;
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  content: "";
  position: absolute;
  right: 0px;
  top: 40%;
}
.faqs-wrap .card .btn.collapsed::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 22%;
}

/*Organizer Page*/
.sidebar-calendar .miniCalendarTable {
  width: 100%;
}
.addressContents.mailbox-left, .addressPreview.mailbox-right {
  height: calc(100vh - 172px);
}
#repeatingDiv table tr td {
  padding: 0px 0px 15px 0px;
}

.listTableRightest fieldset {
  border: 1px solid #ddd;
  padding: 20px;
}
.listTableRightest fieldset legend {
  font-size: 14px;
  font-weight: 600;
  width: auto;
  padding: 0 5px;
  margin-bottom: 0;
}

.organizer-toolbar small {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.organizer-toolbar .form-control {
  padding: 2px 12px 2px 5px;
  border-radius: 0;
  border: none;
}
.organizer-toolbar .btn-default {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0px 15px;
  font-size: 14px;
  border-radius: 0;
  line-height: 22px;
}
.organizer-toolbar .btn-default:hover {
  background-color: #fff;
  color: #0d4477;
}
td.seperator {
  border-left: 1px solid rgba(255,255,255,0.2);
  width: 5px;
  text-align: center;
}
.organizer-toolbar a i {
  color: #fff;
  margin: 0 4px;
}
.calendarDayTimeCell {
  width: 43px;
  vertical-align: top;
}
.calendarDaySepCell {
  width: 5px;
  border-left: 1px solid #B3B8BD;
  border-right: 1px solid #B3B8BD;
}
.calendarDaySepCell2 {
  width: 1px;
  background-color: #E0E6ED;
}
.calendarWholeDayCell {
  background-color: #E0E6ED;
  height: 30px;
}
.calendarWholeDayBody td {
  padding: 0;
}

/*Add Groups*/
.calendarDate_0
{
	overflow-y: auto;
	display: block;
	border: 1px solid #0056D5;
	background-color: #3D81EB;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	margin: 2px;
}
.calendarDate_1
{
	overflow-y: auto;
	border: 1px solid #289E0A;
	background-color: #5DB747;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	margin: 2px;
}
.calendarDate_2
{
	overflow-y: auto;
	border: 1px solid #E82415;
	background-color: #FA514A;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	margin: 2px;
}
.calendarDate_3
{
	overflow-y: auto;
	border: 1px solid #F77A00;
	background-color: #FD9530;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	margin: 2px;
}
.calendarDate_4
{
	overflow-y: auto;
	border: 1px solid #B231AE;
	background-color: #C358BF;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	margin: 2px;
}
.calendarDate_5
{
	overflow-y: auto;
	border: 1px solid #4A30A1;
	background-color: #8A74D3;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	margin: 2px;
}
.calendarWeekDayCaption {
  min-width: 100px;
  text-align: center;
  height: 20px;
  border-right: 1px solid #B3B8BD;
}
.calendarWholeDayCell {
  background-color: #E0E6ED;
  height: 30px;
}
.monthCell {
  border: 1px solid #DDDDDD;
  padding: 2px;
  height: 80px;
}
.monthCellDay {
  line-height: 18px;
  margin-bottom: 3px;
  border-bottom: 1px dashed #DDDDDD;
  text-align: right;
  cursor: hand;
  cursor: pointer;
  padding-right: 5px;
}

/*To do Screen*/
.taskLists.mailbox-left {
  width: calc(100% - 81.5%);
}
.taskLists.mailbox-left, .taskContents.mailbox-right {
  height: calc(100vh - 165px);
}
.taskCheckBox img {
  max-width: 20px;
}
.taskLists .taskList.selected {
  font-weight: bold;
  color: #000;
  background-color: #d2e3f3;
}
.taskLists .taskList {
  display: block;
  padding: 1em;
  border-bottom: 1px solid #DDD;
  background-color: #F9F9F9;
  color: #000;
}
.taskLists .taskList.selected i.fa, .taskLists .taskList.selected img {
  display: block;
}
.taskLists .taskList i.fa, .taskLists .taskList img {
  float: right;
  display: none;
  color:red;
  margin-top:5px;
}
.webdisk-wrap .withRightSidebar {
  height: calc(100vh - 150px);
  background-color: #fff;
  position: relative;
}
.webdisk-wrap #wdDnDNote {
  position: absolute;
  bottom: 60px;
  right: 15px;
  color: #666;
}
.webdisk-wrap #rightSidebar {
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}
.sidebarHeading {
  font-weight: 600;
}
.webdiskDetailInfo {
  margin-bottom: 20px;
}

.up-title {
  background-color: #0d4477;
  color: #fff;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
}
/* design changes */
.arrow-input{
  padding: 5px 25px 5px 5px !important;
  background-position: 95% 55% !important;
}
.disabled-btn{
  background-color: rgba(0,0,0,.05);
    border-radius: .25rem;
    font-size: 1rem;
    box-shadow: none;
    outline: none;
    border: 1px solid #9E9E9E;
    color: #212529;
}
.sent-dropdown, .normal-dropdown{
  padding: 8px 20px !important;
  background-position: 92% 50% !important;
}
.forward-input-des{
  height: 28px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}
.search-btn{
  /* border-style: solid; */
}
.search-btn:focus,
.search-btn:active{
  box-shadow: none !important;
}
.preview-option-sty{
  padding: 3px 20px 2px 5px !important;
}
.img-des{
  filter: none !important;
}
.mail-styling{
  background-color: #FFF;
    border: 1px solid #CCC;
    min-width: 140px;
    box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    overflow: hidden;
}
.mail-styling .mailMenuItem {
  display: block;
  background-color: #FFFFFF;
  padding: 3px;
  color: #666666;
}
.mail-styling .mailMenuSep {
  height: 1px;
  background-color: #DDDDDD;
}
.mailMenuItem:hover {
  display: block;
  background-color: #F3F3F3;
  padding: 3px;
  color: #000000;
}
.mailColorButtons {
  text-align: center;
  padding: 4px;
  font-size: 0px;
}
.mailColorButtons SPAN {
  margin-right: 3px;
  background-image: url(../images/li/mailcolors.png);
  background-repeat: no-repeat;
  padding: 0;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
}
.mailColorButtons IMG {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.mail-preview-des{
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 1.5em;
    background-color: #FAFAFA;
    border-bottom: 1px solid #DDD;
}
.previewMailHeader.mail-preview-des A {
  text-decoration: underline;
}
.mail-preview-des .lightTable {
  width: 100%;
  padding-right: 2em;
}
.mail-preview-des .lightTable TH {
  color: #666;
  padding-right: 0.5em;
  text-align: right;
  font-weight: normal;
  vertical-align: top;
  width: 80px;
}
.previewMailHeader .right {
  position: absolute;
  right: 1.5em;
  top: 2em;
}
#bigFormToolbar {
  background-color: #F6F6F9;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #DDD;
  text-align: center;
}
.withoutContentHeader {
  top: 0px;
}
.celender-btn-des{
  padding: 2px 20px 2px 5px !important;
}
.celender-preview-des .form-control {
  padding: 2px 20px 2px 5px !important;
  background-position: 94% 50% !important;
}
.date-btn-des{
  padding: 8px 25px 8px 8px !important;
  background-position: 94% 50% !important;
}
.birth-btn-des{
    padding: 8px 25px 8px 8px !important;
    background-position: 92% 50% !important;
}
.email-page-footer{
  border-top: 1px solid #DDD !important;
  background-color: #EEE !important;
  position: absolute !important;
  left: 0px !important;
  width: 100% !important;
  bottom: -35px !important;
  overflow: hidden !important;
}
.email-footer{
    background-color: #F6F6F9;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    text-align: center;
}
.email-footer button{
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2px 4px;
  color: #444;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
}
.mail-menu-sty{
  position: absolute;
  left: 310px;
  top: 30px;
  z-index: 1000;
  background-color: #FFF;
  border: 1px solid #CCC;
  min-width: 160px;
  box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px #ccc;
  overflow: hidden;
}
.mail-menu-sty .mailMenuItem{
  display: block;
  background-color: #FFFFFF;
  padding: 3px 20px 3px 3px;
  color: #666666;
}
.mail-menu-sty .mailMenuItem:hover{
  display: block;
  background-color: #F3F3F3;
  padding: 3px;
  color: #000000;
}
.mail-menu-sty .mailMenuSep{
  height: 1px;
  background-color: #DDDDDD;
}
.mail-menu-sty .mailColorButtons {
  text-align: center;
  padding: 4px;
  font-size: 0px;
}
.mail-menu-sty .mailColorButtons SPAN {
  margin-right: 3px;
  background-image: url(../images/li/mailcolors.png);
  background-repeat: no-repeat;
  padding: 0;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
}
.mail-menu-sty .mailColorButtons IMG {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}







/*Media Queires*/
@media(max-width:991px){
    .right-canvas .site-nav.fixed {width: 100%; padding: 14px;}
    .right-canvas .site-nav.fixed, .right-canvas .site-nav.fixed .container-fluid {-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;}
    .right-canvas .site-nav.fixed .search-form {margin-left: auto;}
    .right-canvas.expanded .site-nav.fixed {width: calc(100% - 280px);}
    .navbar-light .navbar-toggler {border: none;color: #fff; outline: none !important;}
    .navbar-light .navbar-toggler .navbar-toggler-icon {background-image: none;}
    .navbar-toggler-icon .icon-bar {background-color: #fff;width: 24px;height: 2px;display: block;margin: 6px 0;border-radius: 10px;}
    .mobile-menu-bottom {background-color: #0d4477;position: absolute;left: 0px;width: 100%;bottom: 0;padding: 15px 20px;}
    .mobile-menu-bottom .site-nav .nav-top .navbar-nav {-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
    .mobile-menu-bottom .nav-top .dropdown-menu {position: absolute;width: 100%;left: -5px !important;min-width: 280px;top: -23px !important;}
    .mobile-menu-bottom .site-nav .nav-top .nav-link {padding: 0;}
    .mobile-menu-bottom .site-nav .nav-top .nav-link.link-notif .noti-count {left: 7px;right: auto;top: -5px;}
    .nav-top .dropdown-menu::before {display: none;}
    .mobile-menu-bottom .site-nav .nav-top .dropdown .nav-link::before {display: none;content: "";border-style: solid;border-width: 7px;width: 0;height: 0;border-color: #fff transparent transparent;position: absolute;top: -23px;z-index: 1024;left: 5px;}
    .mobile-menu-bottom .site-nav .nav-top .dropdown.show .nav-link::before {display: block; }
    .mobile-menu-bottom .nav-top .dropdown-menu.account-drop {right: auto !important;top: -16px !important;}
    .mobile-menu-bottom .site-nav .nav-top .dropdown .nav-link.link-user::before {top: -16px;left: 12px;}
} 
@media(max-width:576px){
    .right-canvas.expanded {margin-left: 0px;}
    .right-canvas.expanded .site-nav.fixed {width: 100%;}
    .left-menu.open{-webkit-transform: translateX(-280px);-ms-transform: translateX(-280px);transform: translateX(-280px);}
    .left-menu{-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
    .navbar-brand {padding: 0px;line-height: 20px;}
    .left-menu .logo-area{margin-bottom: 0;}
}
/*Safari Only CSS*/
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  
}}