<!--

		.dragOver
		{
			opacity: 0.75;
		}

		#mainTabs A:hover .hoverVis
		{
			display: inline;
		}
		
		#mainTabs A .hoverVis
		{
			display: none;
		}

		.prefsBox H2
		{
			font-size: 16px;
			border-bottom: 1px solid #DDD;
			margin-top: 0.25em;
			margin-bottom: 0.5em;
			text-shadow: none;
			color: #333;
		}
		
		.prefsBox
		{
			vertical-align: top;
		}
		
		.prefsBox A
		{
			display: block;
		}

		#multiSelPreview
		{
			overflow: hidden;
		}
		
		#multiSelPreview_vCenter
		{
			position: absolute;
			width: 100%;
			top: 50%;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		
		#multiSelPreview_inner
		{
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 200px;
			top: -50%;
			color: #999;
			font-size: 16px;
			text-shadow: 0px 1px 0px #EEEEEE;
		}

		#mailTable
		{
			cursor: default;
			
		   -moz-user-select: -moz-none;
		   -khtml-user-select: none;
		   -webkit-user-select: none;
		   user-select: none;
		}

		.narrowRow
		{
			border-bottom: 1px solid #E1E1E1;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		
		.narrowRow .unread
		{
			font-weight: bold;
		}
		
		.narrowRow .sender
		{
			color: #000;
			line-height: 16px;
			margin-left: 4px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		.narrowRow .subject
		{
			color: #666;
			line-height: 16px;
			font-weight: normal;
			margin-left: 4px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		.narrowRow .date
		{
			float: right;
			padding-right: 0.5em;
			line-height: 16px;
		}
		
		.selected TD, .selected SPAN
		{
			background: #97bf0f;
			color: #FFF;
			border-left: 0px;
			border-right: 0px;
		}
		
		.selected .sender, .selected .subject, .selected A, .selected A:hover
		{
			color: #FFF;
		}
		
		#bigFormToolbar
		{
        	background-color: #F6F6F9;
        	padding-top: 3px;
        	padding-bottom: 3px;
        	border-bottom: 1px solid #E1E1E1;
        	text-align: center;
        }

		#safecodeFooter
		{
			border-top: 1px solid #CCC;
			background-color: #FAFAFA;
			position: absolute;
			left: 0px;
			width: 100%;
			height: 70px;
			bottom: 29px;
			text-align: center;
			padding-top: 4px;
		}
	
		.attachmentListEntry
		{
			background-color: #EEE;
			border: 1px solid #CCC;
			
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 1px;
			padding-bottom: 1px;
			
			margin-left: 4px;
			margin-top: 3px;
			
			float: left;
		}
		
		.attachmentListEntry IMG
		{
			margin-left: 6px;
		}

		#attachmentList
		{
			width: 100%;
        	border: 1px solid #CCC;
        	min-height: 22px;
        	padding-left: 2px;

			box-shadow: inset 2px 2px 2px #EEE;
			-moz-box-shadow: inset 2px 2px 2px #EEE;
			-webkit-box-shadow: inset 2px 2px 2px #EEE;
			
			background-color: #FFF;
			
			overflow-x: hidden;
			overflow-y: auto;
		}

		.mailSendOptions DIV
		{
			display: inline;
			margin-right: 0.5em;
			white-space: nowrap;
		}

		.lightTable 
		{
			width: 100%;
			padding-right: 2em;
		}

		.lightTable TH
		{
			color: #666;
			padding-right: 0.5em;
			text-align: right;
			font-weight: normal;
			vertical-align: top;
			width: 90px;
		}
		
		.previewMailHeader
		{
			padding-top: 0.5em;
			padding-left: 1.5em;
			padding-bottom: 1.5em;
			padding-right: 1.5em;
			border-bottom: 1px solid #CCC;
		}
		
		.previewMailHeader A
		{
			text-decoration: underline;
		}
		
		.previewMailHeader A:hover
		{
			text-decoration: none;
		}
		
		.previewMailHeader .right
		{
			position: absolute;
			right: 1.5em;
			top: 2em;
		}

		.previewMailHeader .left
		{
		}

		.previewMailHeader .mailAddressLink
		{
			border: 0px;
			padding-right: 1px;
		}

		.previewMailHeader .mailAddressLink:hover
		{
			border: 0px;
			padding-right: 1px;
        	background-image: none;
        	background-color: transparent;
		}
		
		.previewMailHeader .date
		{
			color: #666;
			margin-left: 0.5em;
		}
		
		.abLetters
		{
			line-height: 25px;
			text-align: center;
			background-color: #F4F4F4;
			border-bottom: 1px solid #999;
		}
	
		#contentFooter INPUT[type=submit], #contentFooter INPUT[type=reset], #contentHeader INPUT[type=submit], #contentFooter INPUT[type=reset], #mainToolbar INPUT[type=submit], #mainToolbar INPUT[type=reset], #contentHeader BUTTON, #contentFooter BUTTON, .contentHeader BUTTON, .contentFooter BUTTON
		{
			margin-top: 0;
		}

		#contentHeader, .contentHeader
		{
			position: absolute;
			left: 0px;
			width: 100%;
			top: 0px;
			height: 45px;
			z-index: 998;
		}
		
		#contentHeader .left, .contentHeader .left
		{
			position: absolute;
			left: 0px;
			top: 13px;
			padding-left: 1em;
			font-size: 1.7em;
			color: #606060;
			font-weight: 300;
		}
		#contentHeader .left img, .contentHeader .left img {
			display: none;	
		}
		#contentHeader .right, .contentHeader .right
		{
			position: absolute;
			right: 0px;
			top: 3px;
			padding-right: 1em;
		}
		#contentHeader .right button, .contentHeader .right button {
			border: 1px solid rgba(0,0,0,0.15);
			background: rgba(0,0,0,0.08);
			padding: 5px 10px;
			font-size: 13px;
			
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		#contentHeader .right button:hover, .contentHeader .right button:hover {
			background: rgba(0,0,0,0.15);
		}
		#vSep1 
		{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 50px;
		}
		
		#vSep2
		{
			position: absolute;
			height: 50px;
			top: 60px;
			left: 0px;
			width: 100%;
		}
		
		#vSepSep
		{
			position: absolute;
			top: 50px;
			height: 8px; 
			width: 100%;
			background: #8d8d8d;
			cursor: ns-resize;
		}
		
		#hSep1 
		{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 50px;
			height: 100%;
		}
		
		#hSep2
		{
			position: absolute;
			height: 100%;
			top: 0px;
			left: 59px;
			width: 50px;
		}
		
		#hSepSep
		{
			position: absolute;
			top: 0px;
			width: 8px; 
			height: 100%;
			left: 50px;
			background: #8d8d8d;
			cursor: ew-resize;
		}
		
		#preview_frame 
		{
			width: 100%;
			height: 100%;
			border: 0px;
			overflow-y: scroll;
			overflow-x: auto;
		}
		
		#previewArea {
			background: #ffffff;	
		}
		
		#contentFooter, .contentFooter
		{
			border-top: 1px solid #e2e2e2;
			background-color: #ffffff;
			position: absolute;
			left: 0px;
			width: 100%;
			bottom: 0px;
			height: 37px;
			overflow: hidden;
		}
		
		.contentBottomLayer .contentFooter
		{
			background-image: none;
			background-color: #EFEFEF;
		}
		
		#contentFooter .left, .contentFooter .left
		{
			position: absolute;
			left: 0px;
			top: 3px;
			padding-left: 1em;
		}
		
		#folderMailArea #contentFooter .left #massAction {
			width: 50%;
		}
		
		#contentFooter .center, .contentFooter .center
		{
			text-align: center;
		}
		
		#contentFooter .right, .contentFooter .right 
		{
			position: absolute;
			right: 0px;
			top: 3px;
			padding-right: 1em;
		}
		#contentFooter .right button, .contentFooter .right button {
			font-size: 15px !important;
			padding: 5px 10px !important;
			
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		#contentFooter .right button:hover, .contentFooter .right button:hover {
			background: rgba(0,0,0,0.05);	
		}
		#contentFooter .right button .fa-plus-circle, .contentFooter .right button .fa-plus-circle {
			color: #00B16A;
		}
		.bigForm
		{
			position: absolute;
			top: 43px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			width: 100%;
		}
		
		.scrollContainer
		{
			position: absolute;
			width: 100%;
			top: 43px;
			left: 0px;
			bottom: 0px;
			overflow-x: hidden;
			overflow-y: scroll;
		}
		
		.withoutContentHeader
		{
			top: 0px;
		}
		
		.withBottomBar 
		{
			bottom: 37px !important;
		}
		
		.noSelect
		{
		   -moz-user-select: -moz-none;
		   -khtml-user-select: none;
		   -webkit-user-select: none;
		   user-select: none;
		}
		
		.withBottomBarAndLayer
		{
			bottom: 188px;
		}
		
		.contentBottomLayer
		{
			border-top: 1px solid #999;
			position: absolute;
			bottom: 29px;
			height: 160px;
			width: 100%;
		}
	
		.pad 
		{
			padding: 0.5em;
		}

		.bigTable 
		{
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
		}
		
		.bigTable TD
		{
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.bigTable TH 
		{
        	font-weight: normal;
        	height: 25px;
        	vertical-align: middle;
        	border-bottom: 1px solid #DDDDDD;
		}


		HTML, BODY
		{
			height: 100%;
			margin: 0;
			padding: 0;
		}
		
		BODY 
		{
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            background-color: #ffffff;
			overflow-x: hidden;
		}

		#main
		{
			width: 100%;
			height: 100%;
		}
		
		#mainLogo 
		{
			font-size: 24px;
			font-weight: 300;
			float: left;
		}
		
		#mainTabs
		{
			position: absolute;
			top: 0px;
			left: 0px;
        	box-shadow: 0px 0px 8px #333;
		}
		
		#mainTabs UL
		{
			padding: 0px;
			margin: 0px;
			list-style: none;
		}
		
		#mainTabs LI
		{
			float: left;
			height: 51px;
			padding-top: 3px;
			text-align: center;
			padding-left: 8px;
			padding-right: 8px;
			#border-right: 1px solid #CCC;
			margin-right: 1px;
			background-color: #EEE;
			background-image: url(../images/li/page_bg_2.png);
			border-bottom: 1px solid #666;
		}
		
		#mainTabs LI.active
		{
			background-image: url(../images/li/tab_active_bg.png);
			border-bottom: 1px solid #FFD77E;
		}
		
		#mainTabs LI.active IMG
		{
		}
		
		#mainTabs LI IMG
		{
			padding: 4px;
		}
		
		#mainTabs LI A
		{
			color: #FFF;
		}
	
		#mainTabs LI.active A
		{
			color: #666;
		}
		
		#menuTabItems 
		{
			width: 100%;
			position: absolute;
			bottom: 0px;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		#menuTabItems LI {
			/*border-top: 1px solid #768593;*/
			border-top: 1px solid;
			line-height: 36px;
			min-height: 36px;			
		}
		#menuTabItems LI:first-child {
			border-top: 5px solid;
		}
		#menuTabItems li:hover {
			background: rgba(255, 255, 255, 0.1);
		}

		#menuTabItems a {
			padding-left: 1em;
			display: block;
		}
		
		#menuTabItems LI.active
		{
			font-weight: bold;
			background-color: #ffffff;
		}
		
		#menuTabItems LI.active A
		{
			color: #333;
		}
		
		#mainToolbar
		{	
			background: #222222;
			position: absolute;
			height: 45px;
			line-height: 45px;
			top: 0;
			left: 0px;
			right: 0px;
			color: #e0e0e0;
			
			
		}
		
		#mainToolbar .left
		{
			position: absolute;
			left: 0px;
			top: 0;
			padding-left: 1em;
		}
		
		#mainToolbar .left table {
			float: right;
			padding-left: 7px;
		}
		
		#mainToolbar .left input[type="submit"] {
			border: 1px solid #e0e0e0;
			color: #e0e0e0;
			margin-top: 5px;
		}
		#mainToolbar .right 
		{
			position: absolute;
			right: 0px;
			top: 0;
			padding-right: 1em;
		}
		#mainToolbar .right a {
			color: inherit !important;
		}
		
		#mainMenu 
		{
			position: absolute; 
			top: 45px;
			left: 0px;
			bottom: 25px;
			width: 230px;
			overflow-x: auto;
			overflow-y: auto;
			background: #2b3a48;
		}
		#mainMenu a {
			/*color: #c0cfdd;*/
			color: inherit;
		}
		#mainMenu a:hover {
			background: rgba(255,255,255,0.1);	
		}
		#mainMenuContainer 
		{
			position: absolute;
			top: 0px;
			right: 0px;
			left: 0px;
			overflow: auto;
		}
		#mainMenuContainer input[type="submit"] {
			border: 1px solid;
			color: inherit;
		}
		#mainMenuContainer form input {
			margin-top: 0;	
		}
		
		#mainMenuWrap div:last-child {
			padding-bottom: 10px;
		}
		.slimScrollDiv,#mainMenuWrap {
			overflow-y: hidden !important;
			overflow-x: auto !important;
		}
		#mainContent
		{
			position: absolute;
			top: 45px; 
			left: 230px;
			right: 0px;
			bottom: 25px;
			background-color: #FFFFFF;
			overflow: auto;
			
			background-repeat: no-repeat;
			background-attachment: fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			
			background-attachment: fixed;
		}

		.withBanner
		{
			top: 115px !important;
		}

		#mainBanner
		{
			position: absolute;
			top: 45px; 
			right: 0px;
			left: 230px;
			height: 65px;
			/*background-color: #EEE;
			border-bottom: 1px solid #999;*/
			overflow: auto;
			text-align: center;
			padding-top: 4px;
		}
		
		.withRightSidebar
		{
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 201px !important;
		}
		
		#rightSidebar 
		{
			position: absolute; 
			top: 0px;
			right: 0px;
			bottom: 0px;
			width: 200px;
			overflow-x: hidden;
			overflow-y: auto;
			background-color: #EEEEEE;
			border-left: 1px solid #999999;
		}
		#rightSidebar input {
			float: inherit;
		}
		#mainStatusBar 
		{
			position: absolute;
			height: 25px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			text-align: center;
			line-height: 25px;
			background: #f2f2f2;
		}
        
        .sidebarHeading
        {
        	color: inherit;
        	padding-top: 1em;
        	padding-left: 0.75em;
        	margin-bottom: 0.5em;
        	font-size: 13px;
 			text-transform: uppercase;
        	font-weight: 300;
        }
        
        .sidebarHeading A
        {
        	color: #858B92;
        }
        
        .contentMenuIcons
        {
			line-height: 20px;
        	margin-bottom: 0.5em;
        }
        
		.contentMenuIcons a {
			/*border-bottom: 1px solid #768593;*/
			border-bottom: 1px solid;
			display: block;
			line-height: 3em;
			padding-left: 1.5em;
		}
		#rightSidebar .contentMenuIcons a {
			line-height: 1em;	
			border: none;
		}
		.contentMenuIcons br {
			line-height: 0;
			clear: both;
			content: " ";
			display: block;
			height: 0;
		}
		
		.contentMenuIcons input {
			float: left;
			margin-top: 11px;
		}
		.dtree a {
			display: inline;
			border: none;
		}
		.dTreeNode:hover {
			background: rgba(255,255,255,0.1);
		}
		.dTreeNode a:hover {
			background: none !important;
		}
        .contentMenuIcons SELECT
        {
        	font-size: 10px;
        	padding: 0px;
        	margin: 0px;
        }

		SELECT
		{
			font-size: 11px;
		}        

        INPUT[type=text]
        {
        	border: 1px solid #CCC;
        	min-height: 20px;
        	padding-left: 2px;

			box-shadow: inset 2px 2px 2px #EEE;
			-moz-box-shadow: inset 2px 2px 2px #EEE;
			-webkit-box-shadow: inset 2px 2px 2px #EEE;
        }

		INPUT[type=submit], INPUT[type=button], INPUT[type=reset], BUTTON
		{
			margin: 2px;
			font-weight: bold;
			border: 1px solid #474747;
			padding: 4px 8px;
			color: #474747;
			text-decoration: none;
			cursor: pointer;
			background: none;
		}
		
        .smallInput[type=submit], .smallInput[type=reset], .smallInput[type=button], #contentHeader BUTTON, #contentFooter BUTTON, .contentFooter BUTTON, .contentHeader BUTTON, #mainToolbar BUTTON
        {
        	font-weight: normal;
        	font-size: 12px;
        	padding: 2px 5px;

			min-height: 18px;
        }

		.smallInput[type=text]
		{
			min-height: 16px;
			font-size: 11px;
		}
        
        #mainToolbar BUTTON
        {
        	padding: 0 10px;
        	margin: 0px;
			/*color: #e0e0e0;*/
        	color: inherit;
        	border: 0;
			font-size: 1.5em;
			font-weight: 300;
			height: 43px;
			font-family: 'Open Sans', sans-serif;
        }
        #mainToolbar BUTTON:hover {
			background: #393939;
			background: rgba(255,255,255,0.1);	
		}
        /*INPUT[type=submit]:active, BUTTON:active, .smallInput[type=button]:active, INPUT[type=button]:active, INPUT[type=reset]:active, #contentHeader BUTTON:active, .contentHeader BUTTON:active, .contentFooter BUTTON:active, #contentFooter BUTTON:active
        {
        	background: #CCCCCC; 
        	
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
			background: -moz-linear-gradient(top,  #EEEEEE,  #CCCCCC);
			background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
			background: -o-linear-gradient(top,  #EEEEEE,  #CCCCCC);
        } */
        

		FIELDSET
		{
			border: 1px solid #DDDDDD;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-khtml-border-radius: 3px;
		}

		#mainTable
		{
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
		}
		#mainTableLeftTD
		{
			background-color: #FFFFFF;
		}
		#mainTableRightTD
		{
			width: 60px;
			background-image: url(../images/li/n_shade.png);
			background-repeat: repeat-y;
		}
		#headerTable
		{
            width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
		}
		#headerLogoTable
		{
            width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
			height: 105px;
			background-image: url(../images/li/n_head_bg.png);
		}
		#headerLogoTD
		{
			height: 105px;
			width: 411px;
			background: url(../images/li/n_head_bg_left.png) no-repeat;
		}
		#headerTitleTD
		{
			text-align: right;
			height: 105px;
			color: #FFFFFF;
			font-size: 34px;
			padding-right: 30px;
		}
		.headerTabTD
		{
			background-image: url(../images/li/n_tab_bg.png);
			vertical-align: middle;
			height: 28px;
		}
		#headerToolbarTD
		{
			background-color: #B9BABB;
			height: 25px;
			vertical-align: middle;
			color: #FEFEFE;
		}
		#headerToolbarTD a
		{
			color: #FFFFFF;
		}
		#headerToolbarTD a:hover
		{
			color: #EFEFEF;
		}
		#headerLogo
		{
			position: absolute;
			top: 5px;
			left: 10px;
		}
        #tabTable
        {
            height: 28px;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        #tabTableRight
        {
            height: 28px;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        .tabSpacer
        {
            width: 3px;
        }
        .tabActive
        {
            background-image: url(../images/li/n_tab_bg_active.png);
            padding-left: 6px;
            padding-right: 6px;
            font-size: 11px;
        }
        .tabActive A
        {
        	color: #FFFFFF;
        }
        .tabActive A:hover
        {
        	color: #FFFFFF;
        }
        .tab
        {
            background-image: url(../images/li/n_tab_bg.png);
            padding-left: 6px;
            padding-right: 6px;
            font-size: 11px;
        }
        .tab a
        {
            color: #444444;
        }
	
		#searchPopup
		{
			position: absolute;
			top: 40px;
			width: 320px;
			right: 0px;
			padding: 10px 0;
        	background: #e8e8e8;
			z-index: 999;

		}
		#searchResults
		{
			border-top: 1px solid #999999;
			background-color: #FFFFFF;
		}
		.resultLeft
		{
			background-color: #F3F3F3;
			border-right: 1px solid #E1E1E1;
			color: #666666;
			text-align: right;
			padding-left: 6px;
			padding-right: 6px;
		}
		.resultRight
		{
			background-color: #FFFFFF;
			padding-left: 6px;
			padding-right: 6px;
        	cursor: hand;
        	cursor: pointer;
		}
		.resultRight:hover
		{
			background-color: #F5F5F5;
		}


		#__olBackground
		{
			background-image: url(../images/overlay.png);
		}
		.__olContainer
		{
			background-color: #FFFFFF;
        	border: 1px solid #999;
        	
			box-shadow: 6px 6px 20px #333;
			-webkit-box-shadow: 6px 6px 20px #333;
			-moz-box-shadow: 6px 6px 20px #333;
			
			-webkit-animation-duration: 1s; 
			animation-duration: 1s; 
			-webkit-animation-fill-mode: both; 
			animation-fill-mode: both; 
			-webkit-animation-name: goDown; 
			animation-name: goDown; 
        }

		.__olContent
		{
			background-color: #EEEEEE;
		}
		.__olContent button {
			margin-bottom: 13px !important;
			margin-top: -13px;
		}

		.__olCaption
		{
        	font-weight: normal;
			font-size: 17px;
        	height: 30px;
        	padding-top: 5px;
        	text-align: center;
        	border-bottom: 1px solid #999;
        	color: #5d5d5d;
        }
        .__olShadow
        {
        }

        H1
        {
        	font-size: 14px;
        	color: #333333;
			text-shadow: 0px 1px 0px #EEEEEE;
        }
        H2
        {
        	font-size: 12px;
        	font-weight: bold;
        	margin-top: 20px;
        	color: #333333;
			text-shadow: 0px 1px 0px #EEEEEE;
        }
        FORM
        {
        	display: inline;
        	padding: 0px;
        	margin: 0px;
        }
        .textInput
        {
        	width: 100%;
        	height: 120px;
        }
        .invalidField[type=checkbox]
        {
        	outline: 4px solid #FF9999;
        }
		.invalidField
		{
			background-color: #FF9999;
		}
        .pageNav
        {
        }
        
        .btnImg
        {
        	margin-bottom: 1px;
        }
        .mailPlainText
        {
        	border: 1px solid #DDDDDD;
        	padding: 4px;
        	overflow-y: scroll;
        }
        .mailHTMLText
        {
        	width: 100%;
        }
        .mailAddressLink
        {
        	border: 1px solid #FFFFFF;
        	padding: 1px;
        	padding-right: 14px;
        	background-image: none;
        	text-decoration: underline;
        }
        .mailAddressLink:hover
        {
        	border: 1px solid #6D95E0;
        	padding: 1px;
        	background-color: #BBCEF1;
        	color: #000000;
        	padding-right: 14px;
        	background-image: url(../images/li/mailarrow_down.gif);
        	background-repeat: no-repeat;
        	background-position: right;
        }
        .attDiv
        {
        	border-top: 1px solid #DDDDDD;
        	padding: 3px;
        }
        
        .mailMenu
        {
        	background-color: #FFFFFF;
        	border: 1px solid #DDDDDD;
        	min-width: 140px;
			z-index: 999;
        	
			box-shadow: 2px 2px 3px #CCC;
			-webkit-box-shadow: 2px 2px 3px #CCC;
			-moz-box-shadow: 2px 2px 3px #CCC;
        }
        .mailMenuItem
        {
        	display: block;
        	background-color: #FFFFFF;
        	padding: 3px;
        	color: #666666;
        }
        .mailMenuItem:hover
        {
        	display: block;
        	background-color: #F3F3F3;
        	padding: 3px;
        	color: #000000;
        }
        .mailMenuSep
        {
        	height: 1px;
        	background-color: #DDDDDD;
        }
		
		.mailColor_0
        {
        	border: 1px solid #EFEFEF;
        }
		.mailColor_1
        {
        	background-color: #3D81EB;
        	color: #FFF;
        }
        .mailColor_1 .subject, .mailColor_1 .sender, .mailColor_1 .date { color: #FFF; }
        .mailColor_2
        {
        	background-color: #5DB747;
        	color: #FFF;
        }
        .mailColor_2 .subject, .mailColor_2 .sender, .mailColor_2 .date { color: #FFF; }
        .mailColor_3
        {
        	background-color: #FA514A;
        	color: #FFF;
        }
        .mailColor_3 .subject, .mailColor_3 .sender, .mailColor_3 .date { color: #FFF; }
        .mailColor_4
        {
        	background-color: #FD9530;
        	color: #FFF;
        }
        .mailColor_4 .subject, .mailColor_4 .sender, .mailColor_4 .date { color: #FFF; }
        .mailColor_5
        {
        	background-color: #C358BF;
        	color: #FFF;
        }
        .mailColor_5 .subject, .mailColor_5 .sender, .mailColor_5 .date { color: #FFF; }
        .mailColor_6
        {
        	background-color: #8A74D3;
        	color: #FFF;
        }
        .mailColor_6 .subject, .mailColor_6 .sender, .mailColor_6 .date { color: #FFF; }
        .mailColor_1 A 		 { color: #FFF; }
        .mailColor_1 A:hover { color: #EFEFEF; }
        .mailColor_2 A 		 { color: #FFF; }
        .mailColor_2 A:hover { color: #EFEFEF; }
        .mailColor_3 A 		 { color: #FFF; }
        .mailColor_3 A:hover { color: #EFEFEF; }
        .mailColor_4 A 		 { color: #FFF; }
        .mailColor_4 A:hover { color: #EFEFEF; }
        .mailColor_5 A 		 { color: #FFF; }
        .mailColor_5 A:hover { color: #EFEFEF; }
        .mailColor_6 A 		 { color: #FFF; }
        .mailColor_6 A:hover { color: #EFEFEF; }
		
		.mailColorButtons
		{
			text-align: center;
			padding: 4px;
		}
		.mailColorButtons IMG
		{
			padding: 0px;
			width: 14px;
			height: 14px;
			vertical-align: middle;
		}
		.mailColorButtons SPAN
		{
			background-image: url(../images/li/mailcolors.png);
			background-repeat: no-repeat;
			padding: 0px;
			cursor: hand;
			cursor: pointer;
			display: inline-block;
		}
		
		.mailColorButton_1			{ background-position: -14px 0px; }
		.mailColorButton_1:hover	{ background-position: 0px 0px; }
		.mailColorButton_1_a		{ background-position: 0px 0px; }
		.mailColorButton_2			{ background-position: -14px -14px; }
		.mailColorButton_2:hover	{ background-position: 0px -14px; }
		.mailColorButton_2_a		{ background-position: 0px -14px; }
		.mailColorButton_3			{ background-position: -14px -28px; }
		.mailColorButton_3:hover	{ background-position: 0px -28px; }
		.mailColorButton_3_a		{ background-position: 0px -28px; }
		.mailColorButton_4			{ background-position: -14px -42px; }
		.mailColorButton_4:hover	{ background-position: 0px -42px; }
		.mailColorButton_4_a		{ background-position: 0px -42px; }
		.mailColorButton_5			{ background-position: -14px -56px; }
		.mailColorButton_5:hover	{ background-position: 0px -56px; }
		.mailColorButton_5_a		{ background-position: 0px -56px; }
		.mailColorButton_6			{ background-position: -14px -70px; }
		.mailColorButton_6:hover	{ background-position: 0px -70px; }
		.mailColorButton_6_a		{ background-position: 0px -70px; }
		.mailColorButton_0			{ background-position: -14px -84px; }
		.mailColorButton_0:hover	{ background-position: 0px -84px; }
		.mailColorButton_0_a		{ background-position: 0px -84px; }
		
        .unreadMail
        {
        	font-weight: bold;
        }
        .readMail
        {
        	font-weight: normal;
        }
        
        .headerTable
        {
            background-image: url(../images/li/head_bg.png);
            width: 100%;
            height: 138px;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        .headerTD
        {
            height: 109px;
            vertical-align: bottom;
            text-align: left;
        }
        .headerLogoTD
        {
            width: 100px;
            text-align: left;
        }
        .headerLogoFontTD
        {
        	text-align: right;
        }
        .headerTextTD
        {
        	height: 29px;
            padding-left: 8px;
        }
        .copyrightDiv
        {
            color: #666666;
            font-size: 11px;
        }
        
        .contentTable
        {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        .contentTD
        {
            vertical-align: top;
        }
        .contentDiv
        {
            padding: 5px;
        }
        .contentMenuTD
        {
            width: 218px;
            vertical-align: top;
        }
        #contentMenuTDContent
        {
        	border-left: 1px solid #DDDDDD;
            background-color: #EFEFEF;
        }
        .contentSpacerTD
        {
        	width: 15px;
        }
        
        A
        {
            text-decoration: none;
            color: #000000;
        }
        A:hover
        {
            text-decoration: none;
            color: #999999;
        }
        
        .menuAddText
        {
            color: #666666;
            font-weight: bold;
        }
    
        .listTable
        {
        	border-spacing: 0px;
            border-collapse: collapse;
        	border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        	width: 100%;
        }
        .listTableHead
        {
        	font-weight: 400;
        	height: 25px;
        	vertical-align: middle;
        	border-bottom: 1px solid #DDDDDD;
			font-size: 17px;
        }
        .listTableLeft
        {
        	height: 26px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	padding-top: 3px;
        	text-align: right;
        	background-color: #F3F3F3;
        	border-right: 1px solid #DDDDDD;
            vertical-align: top;
        }
        .listTableTHLeft
        {
        	height: 26px;
        	text-align: left;
        	background-color: #F3F3F3;
        	border-bottom: 1px solid #DDDDDD;
            vertical-align: middle;
            padding-left: 5px;
        }
        .listTableTHRight
        {
        	height: 26px;
        	text-align: right;
        	background-color: #F3F3F3;
        	border-bottom: 1px solid #DDDDDD;
            vertical-align: middle;
            padding-right: 5px;
        }
        .listTableLeft2
        {
        	height: 26px;
        	text-align: left;
            vertical-align: middle;
            padding-left: 5px;
        }
        .listTableRight2
        {
        	height: 26px;
        	text-align: right;
            vertical-align: middle;
            padding-right: 5px;
        }
        .listTableDB
        {
        	height: 26px;
        	padding-left: 5px;
        	padding-right: 5px;
        	padding-top: 3px;
        	text-align: center;
        	background-color: #F3F3F3;
        	border-right: 1px solid #DDDDDD;
        	border-left: 1px solid #DDDDDD;
            vertical-align: top;
        }
        .listTableLeftDesc
        {
        	height: 22px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	text-align: right;
        	background-color: #F3F3F3;
            vertical-align: middle;
        }
        .listTableLeftDescTopLine
        {
        	height: 22px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	text-align: right;
        	background-color: #F3F3F3;
            vertical-align: middle;
            border-top: 1px solid #DDDDDD;
        }
        .listTableLeftDescBottomLine
        {
        	height: 22px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	text-align: right;
        	background-color: #F3F3F3;
            vertical-align: middle;
            border-bottom: 1px solid #DDDDDD;
        }
        .listTableSide
        {
        	width: 25px;
        	text-align: center;
        	vertical-align: middle;
        	border-left: 1px solid #DDDDDD;
        }
        .listTableSide a
        {
        	display: block;
        }
        .listTableIconSide
        {
        	width: 52px;
        	text-align: center;
        	vertical-align: middle;
        	border-right: 1px solid #DDDDDD;
        	padding: 2px;
        }
        .listTableRight
        {
        	padding-left: 10px;
        	padding-right: 20px;
        	padding-top: 3px;
        	text-align: left;
            vertical-align: top;
        }
        .listTableRightDesc
        {
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        	background-color: #F3F3F3;
        	padding-left: 10px;
        	padding-right: 20px;
        	text-align: left;
            vertical-align: middle;
        }
        .listTableRightest
        {
        	height: 26px;
        	padding-left: 5px;
        	padding-right: 5px;
        	padding-top: 3px;
        	text-align: center;
        	background-color: #F3F3F3;
        	border-left: 1px solid #DDDDDD;
            vertical-align: top;
        }
        .listTableTD
        {
        	background-color: #FFFFFF;
        	vertical-align: middle;
        	text-align: left;
        	height: 22px;
        }
        .listTableTD2
        {
        	background-color: #F9F9F9;
        	vertical-align: middle;
        	text-align: left;
        	height: 22px;
        }
        .listTableTR
        {
        	background-color: #FFFFFF;
        	vertical-align: middle;
        	text-align: left;
        	height: 22px;
        }
        .listTableTR:hover
        {
        	background-color: #EFEFEF;
        }
        .listTableTR2
        {
        	background-color: #F9F9F9;
        	vertical-align: middle;
        	text-align: left;
        	height: 22px;
        }
        .listTableTR2:hover
        {
        	background-color: #EFEFEF;
        }
        .listTableTDActive
        {
        	background-color: #F3F3F3;
        	border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	vertical-align: middle;
        	text-align: left;
        }
        .listTableTDActiveH
        {
        	background-color: #F3F3F3;
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        	vertical-align: middle;
        	text-align: left;
        }
        .listTableTDText
        {
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        	padding: 4px;
        }
        .listTableFoot
        {
        	border-top: 1px solid #DDDDDD;
        	height: 26px;
        	padding-left: 5px;
        	padding-right: 5px;
        }
        .listTBody
        {
        }
        .listTableTabCell
        {
        	border-bottom: 1px solid #DDDDDD;
        	vertical-align: bottom;
        	padding: 0px;
        	height: 16px;
        }
        
        .ltActiveTab
        {
        	padding-right: 5px;
        	padding-left: 5px;
        	padding-top: 5px;
        	text-align: center;
        	width: 100px;
        	border-top: 1px solid #DDDDDD;
        	border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	display: inline;
        	background-color: #FFFFFF;
        }
        .ltActiveTab:hover
        {
        	background-color: #F1F1F1;
        }
        .ltInActiveTab
        {
        	padding-right: 5px;
        	padding-left: 5px;
        	padding-top: 2px;
        	text-align: center;
        	width: 100px;
        	border-top: 1px solid #DDDDDD;
        	border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	display: inline;
        }
        .ltInActiveTab:hover
        {
        	padding-top: 5px;
        	background-color: #F1F1F1;
        }
        
        .cfgTableTD1
        {
        	width: 120px;
        	text-align: right;
        	font-weight: bold;
        	height: 22px;
        }
        .cfgTableTD2
        {
        	text-align: left;
        }
        
        /* ******************************************************************* */
		#wdDnDNote
		{
			position: absolute;
			bottom: 32px;
			right: 20px;
			color: #AAA;
			font-size: 12px;
			text-shadow: 0px 1px 0px #EEEEEE;
			padding: 10px;
		}

        .wdSelLink
        {
        	color: #666666;
		}
		.wdMassAction
		{
			margin-top: 15px;
		}
		.wdIconTable
		{
		}
		.webdiskRow
		{
			
		}
		#folderList a {
			line-height: 1.1em;
			padding-left: 0;
		}
		.emailFolders a {
			line-height: 1.5em !important;
		}	
		.webdiskRowSelected
		{
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDA8A', endColorstr='#FFB205');
			background: -moz-linear-gradient(top,  #FFDA8A,  #FFB205);
			background: -webkit-gradient(linear, left top, left bottom, from(#FFDA8A), to(#FFB205));
			background: -o-linear-gradient(top,  #FFDA8A,  #FFB205);
		}
        .webdiskItem
        {
        	cursor: default;
        	width: 100%;
        	display: block;
        	background-color: transparent;
        	border: 1px solid transparent;
        	padding-bottom: 5px;
        	padding-top: 5px;
        }
        .webdiskItem:hover
        {
        	cursor: default;
        	width: 100%;
        	display: block;
        	background-color: #F3F3F3;
        	border: 1px solid #DDDDDD;
        	padding-bottom: 5px;
        	padding-top: 5px;
        }
        .webdiskItemSelected
        {
        	cursor: default;
        	width: 100%;
        	display: block;
        	background-color: #EEEEEE;
        	border: 1px solid #CCCCCC;
        	padding-bottom: 5px;
        	padding-top: 5px;
        }
        .webdiskDetailInfo
        {
        	padding: 5px;
        	font-size: 11px;
        }
		/* ===== Replace all of the dtree contract/expand images ===== */
		#folderList img[src="res/plus.gif"] {
			background-image: url("../images/plus.gif");
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			display: inline-block;
			height: 15px;
			padding-left: 20px;
			width: 20px;
		}
		#folderList img[src="res/plusbottom.gif"] {
			background-image: url("../images/plusbottom.gif");
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			display: inline-block;
			height: 15px;
			padding-left: 20px;
			width: 20px;
		}
		#folderList img[src="res/nolines_plus.gif"] {
			background-image: url("../images/nolines_plus.gif");
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			display: inline-block;
			height: 15px;
			padding-left: 20px;
			width: 20px;
		}
		#folderList img[src="res/minus.gif"] {
			background-image: url("../images/minus.gif");
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			display: inline-block;
			height: 15px;
			padding-left: 20px;
			width: 20px;
		}
		#folderList img[src="res/minusbottom.gif"] {
			background-image: url("../images/minusbottom.gif");
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			display: inline-block;
			height: 15px;
			padding-left: 20px;
			width: 20px;
		}
		#folderList img[src="res/nolines_minus.gif"] {
			background-image: url("../images/nolines_minus.gif");
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			display: inline-block;
			height: 15px;
			padding-left: 20px;
			width: 20px;
		}
		
        .infoIcons
        {
        	padding: 6px;
        	line-height: 20px;
        }
        
		.progressBar
		{
			height: 11px;
			background-color: #FFFFFF;
			border-collapse: collapse;
			border: 1px solid #858585;
			text-align: left;
			
			border-radius: 2px;
			-moz-border-radius: 2px;
			
			box-shadow: inset 0px 1px 1px #CCC;
			-webkit-box-shadow: inset 0px 1px 1px #CCC;
			-moz-box-shadow: inset 0px 1px 1px #CCC;
			-khtml-box-shadow: inset 0px 1px 1px #CCC;
			
		}
		.progressBarValue
		{
			background-color: #0000AB;
			background-image: url(../images/li/pb_value_bg.png);
			height: 9px;
			margin: 1px;
			background-position: 0px -1px;
		}
		
        /* ******************************************************************* */
		.miniCalendarTable
		{
			border: 1px solid #DDDDDD;
			border-collapse: collapse;
		}
		#mainMenuContainer .miniCalendarTable {
			color: inherit;
		}
		.miniCalendarTable.inWidget
		{
			width: 100%;
			height: 180px;
		}
		.miniCalendarTable TH
		{
			text-align: center;
			font-size: 10px;
			/*color: #FEFEFE;*/
			font-weight: normal;
		}
		.miniCalendarTable TH.Caption
		{
			font-weight: bold;
			text-align: center;
			font-size: 14px;
			padding: 4px;
		}
		.miniCalendarTable TH.Caption A
		{
			color: #FFF;
		}
		.miniCalendarTable TD
		{
			text-align: center;
			border: 1px solid #DDDDDD;
			padding: 2px;
			font-size: 11px;
			padding: 5px;
		}
		.miniCalendarTable TD.Date
		{
			font-weight: bold;
			background-color: #ffffff;
		}
		.miniCalendarTable TD.Date A
		{
			color: #888;
		}
		.miniCalendarTable TD.Today
		{
			font-weight: bold;
			background: rgba(255, 255, 255, 0.3);
		}
		.miniCalendarTable TD.Today A
		{
			color: #7d3b98;
		}
		
		.clndrWdgtDates
		{
			margin-top: 0.5em;
			padding-top: 0.5em;
			border-top: 1px solid #CCC;
		}
		
		.clndrWdgtDates UL
		{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		
		.clndrWdgtDates UL LI .date
		{
			font-size: 10px;
			line-height: 1.5em;
			display: inline-block;
			width: 60px;
		}
		
		.clndrWdgtDates UL LI A
		{
			font-size: 12px;
		}
		
		.notePreview
		{
			padding-top: 32px !important;
		}
		
		.innerWidget.notePreview
		{
			height: 150px;
			overflow-y: scroll;
		}
		.innerWidget input[type="submit"] {
			border: 1px solid #ffffff;
			color: #ffffff;
		}
		#notePreview
		{
			padding: 1em;
			font-size: 14px;
			margin-bottom: 25px;
		}
		
        /* ******************************************************************* */
        .abLink
        {
        	border: 1px solid #DDDDDD;
        	padding-left: 3px;
        	padding-right: 3px;
        }
        .abLink:hover
        {
        	border: 1px solid #DDDDDD;
        	padding-left: 3px;
        	padding-right: 3px;
        	background-color: #FFFFFF;        	
        }
        
        /* ******************************************************************* */
        .folderGroup
        {
        	height: 23px;
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #CCCCCC;
        	background-color: #F2F2F2;
        }
        .mailBox
        {
        	border: 1px solid #DDDDDD;
        	padding: 3px
        }
        .mailButtonBox
        {
        	border: 1px solid #DDDDDD;
        	background: url(../images/li/buttonbox_bg.gif);
        	padding: 6px;
        	text-align: center;
        	line-height: 23px;
        }
        .button
        {
        	border: 1px solid #CCC;
        	background-color: #FFF;
        	padding-top: 3px;
			padding-left: 5px;
			padding-right: 5px;
        	padding-bottom: 5px;
        }
        .button:hover
        {
			color: #444;
        	border: 1px solid #AAA;
        	
			box-shadow: inset 0px 1px 2px #DDD;
			-webkit-box-shadow: inset 0px 1px 2px #DDD;
			-moz-box-shadow: inset 0px 1px 2px #DDD;
			-khtml-box-shadow: inset 0px 1px 2px #DDD;
        }
        .mailNote
        {
        	border: 1px solid #DDD;
        	background-color: #FFFFCC;
        	border-radius: 8px;
        	-moz-border-radius: 8px;
        	padding: 0.4em;
        	margin-bottom: 0.5em;
        	
        	text-indent: -25px;
        	padding-left: 25px;
        }
        .mailNote a
        {
        	color: #666666;
        }
        .mailNote a:hover
        {
        	text-decoration: underline;
        }
        .mailWarning
        {
        	border: 1px solid #DDD;
        	background-color: #F3B4B4;
        	border-radius: 10px;
        	-moz-border-radius: 10px;
        	padding: 0.4em;
        	margin-bottom: 0.5em;
        	
        	text-indent: -25px;
        	padding-left: 25px;
        }
        .mailWarning a
        {
        	color: #666666;
        }
        .mailWarning a:hover
        {
        	text-decoration: underline;
        }
        .preview
        {
        	margin: 0.5em;
        }
        
        /* ******************************************************************* */
		/* Fallback-Colors for our widgets in case something goes wrong */
		#BMPlugin_Widget_Tasks, #dc_startBoxesdragItem_BMPlugin_Widget_Tasks .dragBar, #BMPlugin_Widget_WebdiskDND, #BMPlugin_Widget_Mailspace {
			background: #DE567A;
		}
		
		#BMPlugin_Widget_EMail, #BMPlugin_Widget_Quicklinks {
			background: #00A489;
		}
		
		#BMPlugin_Widget_Calendar {
			background: #9D4A9C;
		}
		#BMPlugin_Widget_Websearch input[type="text"]{
			padding-left: 0;
			padding-right: 0;
		}
		
		.dragItem {
        	border-spacing: 0px;
			margin-bottom: 10px;
   		    margin-right: 9px;
			background: #4A8BC1;
			
			-webkit-animation-duration: 1s; 
			animation-duration: 1s; 
			-webkit-animation-fill-mode: both; 
			animation-fill-mode: both; 
			-webkit-animation-name: goDown; 
			animation-name: goDown; 
        }
		/* ===== */
		
        .dragTable
        {
        	width: 100%;
			color: #ffffff;
        }
        .dragTableColumn
        {
        	vertical-align: top;
        }
        .dragBar
        {
        	font-weight: 300;
        	padding-top: 5px;
           	height: 18px;
        	vertical-align: middle;
        	cursor: default;
			text-align:center;
			font-size:15px;
			color:#ffffff;
        }
		.dragBar img {
			display: none;	
		}
		.dragBar a img {
			display: block;	
		}
		.dragBar div a {
			margin-right: 5px;
		}
		.dragBar div a:before {
			font-family: FontAwesome;
			content: "\f013";
			color: #ffffff;
		}
		.dragBar div a img {
			display: none;	
		}
        .dragBar A
        {
        	cursor: hand;
        	cursor: pointer;
        }
        .dragTargetInactive
        {
        }
        .dragTargetActive
        {
        	border: 2px dashed #999999;
        }
        .innerWidget
        {
        	margin-top: -25px;
   		    padding: 41px 16px 16px;
        }
        .innerWidget a {
			color: #ffffff;
		}		
		.innerWidget legend {
			color: #ffffff;
		}
        .activeFolder
        {
        	font-weight: bold;
        }
        
        .conditionIFrame
        {
        	border: 1px solid #DDDDDD;
        }
        .linkBox
        {
        	padding: 3px;
        }
        
        .conditionBox1
        {
        	height: 30px;
        	background-color: #EFF7FF;
        }        
        .conditionBox2
        {
        	height: 30px;
        	background-color: #FFFFFF;
        }
        
        .composeTextarea
        {
        	width: 100%;
        	height: 320px;
        	border: 0px;
        	font-family: verdana, 'courier new', courier;
        	font-size: 12px;
        	overflow-y: scroll;
        	margin: 0;
        	padding: 0;
        }
        .composeTextarea.lineSep
        {
        	background-image: url(../images/li/compose_bg.png);
        	background-repeat: repeat-y;
        }
        .listTableCompose
        {
        	padding: 0px;
        	margin: 0px;
        }
        
        .composeIFrame
        {
        	width: 100%;
        	height: 320px;
        	border: 0px;
        	font-family: verdana, 'courier new', courier;
        	font-size: 12px;
        	overflow-y: scroll;
        	cursor: text;
        }
        
        /* ******************************************************************* */
        .editorToolbar
        {
        	background-color: #F6F6F9;
        	padding-top: 3px;
        	padding-bottom: 1px;
        	padding-left: 5px;
        	border-bottom: 1px solid #E1E1E1;
        }
        .editorToolbar a
        {
        	text-decoration: none;
   			background-color: #F6F6F9;
        }
        .editorToolbar a:hover
        {
        	text-decoration: none;
        	background-color: #F3F3F3;
        }
     
        /* ******************************************************************* */
        .completeDiv
        {
        	border: 1px solid #999999;
        	background-color: #FFFFFF;
        	max-height: 90px;
        	overflow-x: hidden;
        	overflow-y: auto;
        }
        .suggestionInactive
        {
        	color: #000000;
        	background-color: #FFFFFF;
        	line-height: 18px;
        }
        .suggestionActive
        {
        	color: #FFFFFF;
        	background-color: #3875D7;
        	line-height: 18px;
        }
        
        /* ******************************************************************* */
        .wgTableMemberTD
        {
        	padding-left: 38px;
        }
        .wgTableTD
        {
        }
        .wgTableTB
        {
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        }
        
        /* ******************************************************************* */
        .htmlEditorToolbarDiv
        {
        	background-color: #F3F3F3;
        	border-bottom: 1px solid #DDDDDD;
        }
        .htmlEditorToolbarButton
        {
        }
        .htmlEditorToolbarLink
        {
        	background-color: #F3F3F3;
        }
        .htmlEditorToolbarLink:hover
        {
        	background-color: #EAEAEA;
        }
        .htmlEditorColorDiv
        {
        	background-color: #FAFAFA;
        	border: 1px solid #DDDDDD;
        	width: 120px;
			padding: 4px;
        	position: absolute;
        }
		.htmlEditorColorButton
		{
			margin: 2px;
			cursor: hand;
			cursor: pointer;
			border: 1px solid #DDDDDD;
			float: left;
			width: 14px;
			height: 14px;
		}
		.htmlEditorColorButton:hover
		{
			border: 1px solid #BBBBBB;
		}
        .htmlEditorSmileyDiv
        {
        	background-color: #FAFAFA;
        	border: 1px solid #DDDDDD;
        	width: 120px;
        	height: 160px;
        	position: absolute;
        	overflow-x: hidden;
        	overflow-y: auto;
        }
        .htmlEditorSmileyImg
        {
        	margin: 3px;
        	cursor: hand;
        	cursor: pointer;
		}
        
        /* ******************************************************************* */
        .monthCell
        {
        	border: 1px solid #DDDDDD;
        	padding: 2px;
        	height: 80px;
        }
        .monthCell:hover
        {
        	background-color: #F2F2F2;
        }
        .monthCellDay
        {
        	line-height: 18px;
        	margin-bottom: 3px;
        	border-bottom: 1px dashed #DDDDDD;
        	text-align: right;
        	cursor: hand;
        	cursor: pointer;
        	padding-right: 5px;
        }
        .monthCellDay:hover
        {
        	line-height: 18px;
        	margin-bottom: 3px;
        	border-bottom: 1px solid #DDDDDD;
        	text-align: right;
        	cursor: hand;
        	cursor: pointer;
        	background-color: #FFFFFF;
        	padding-right: 5px;
        }
        .monthCellToday
        {
        	background-color: #EDF3FA;
        	border: 1px solid #DDDDDD;
        	padding: 2px;
        	height: 80px;
        }
        
        .monthDate_0
        {
        	background-color: #3D81EB;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_1
        {
        	background-color: #5DB747;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_2
        {
        	background-color: #FA514A;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_3
        {
        	background-color: #FD9530;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_4
        {
        	background-color: #C358BF;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_5
        {
        	background-color: #8A74D3;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        }
        
        .calendarDate_0
        {
        	border: 1px solid #0056D5;
        	background-color: #3D81EB;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_1
        {
        	border: 1px solid #289E0A;
        	background-color: #5DB747;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_2
        {
        	border: 1px solid #E82415;
        	background-color: #FA514A;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_3
        {
        	border: 1px solid #F77A00;
        	background-color: #FD9530;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_4
        {
        	border: 1px solid #B231AE;
        	background-color: #C358BF;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_5
        {
        	border: 1px solid #4A30A1;
        	background-color: #8A74D3;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }

		.calendarWeekBody
		{
			overflow: auto;
			position: absolute;
			width: 100%;
		}
		.calendarWeekCell
		{
			min-width: 100px;
			border-right: 1px solid #B3B8BD;
		}
		.calendarWeekDayCaption
		{
			min-width: 100px;
			text-align: center;
			height: 20px;
			border-right: 1px solid #B3B8BD;
		}
        
        .calendarWholeDayBody
        {
        	width: 100%;
        	border-collapse: collapse;
        }
        .calendarWholeDayCell
        {
        	background-color: #E0E6ED;
        	height: 30px;
        }
        .calendarDayBody
        {
        	overflow-y: auto;
        	overflow-x: hidden;
        	height: 480px;
        	width: 100%;
        	border-collapse: collapse;
        }
        .calendarDayCell
        {
        	background-color: #E0E6ED;
        	height: 20px;
        	border-top: 1px solid #B3B8BD;
        }
        .calendarDayCell2
        {
        	background-color: #E0E6ED;
        	height: 20px;
        	border-top: 1px solid #D4DAE0;
        }
        .calendarDayCell_day
        {
        	background-color: #EDF3FA;
        	height: 20px;
        	border-top: 1px solid #B3B8BD;
        }
        .calendarDayCell2_day
        {
        	background-color: #EDF3FA;
        	height: 20px;
        	border-top: 1px solid #D4DAE0;
        }
        .calendarDayTimeCell
        {
        	width: 40px;
        	vertical-align: top;
        }
        .calendarDayTimeCellText
        {
        	font-size: 10px;
        	text-align: right;
        	padding-right: 5px;
        }
        .calendarDaySepCell
        {
        	width: 2px;
        	border-left: 1px solid #B3B8BD;
        	border-right: 1px solid #B3B8BD;
        }
        .calendarDaySepCell2
        {
        	width: 1px;
        	background-color: #E0E6ED;
        }
        .calendarWholeDayTD
        {
        	border-bottom: 1px solid #DDDDDD;
        }

        /* ******************************************************************* */
		#tasksTable TR
		{
			border-bottom: 1px dotted #CCC;
			height: 30px;
			cursor: default;
		}
		#tasksTable TR.done
		{
			opacity: 0.45;
			filter: alpha(opacity=45);
		}
		#tasksTable TD INPUT[type=text]
		{
			width: 95%;
			background: transparent;
			border: 0;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}
		.taskLists
		{
			position: absolute;
			left: 0px;
			top: 0px;
			bottom: 0px;
			height: 100%;
			width: 200px;
			overflow: auto;
			border-right: 1px solid #CCC;
		}
		.taskLists .taskList
		{
			display: block;
			padding: 1em;
			border-bottom: 1px solid #DDD;
			
			background-color: #F9F9F9;
		}
		.taskLists .taskList IMG
		{
			float: right;
			display: none;
		}
		.taskLists .taskList.selected IMG
		{
			display: block;
		}
		.taskLists .taskList.selected
		{
			font-weight: bold;
			color: #FFF;
			background: #97bf0f;
		}
		.taskContents
		{
			position: absolute;
			left: 201px;
			top: 0px;
			bottom: 0px;
			right: 0px;
		}
		.taskContainer
		{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			width: 100%;
		}
		.taskContainer.taskList
		{
			background-image: url(../images/li/tasklist_bg.png);
			background-repeat: repeat-y;
		}
		.taskCheckBox
		{
			background-image: url(../images/li/tasklist_bg.png);
			background-repeat: repeat-y;
			padding-left: 3px;
		}
		
        /* ******************************************************************* */
		.addressContents
		{
			position: absolute;
			left: 0px;
			top: 0px;
			bottom: 0px;
			background-color: #FFF;
		}
		#addrIDs {
			display: none;
		}
		.addressPreview
		{
			position: absolute;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
		.addressPreview .padContainer
		{
			padding: 1em;
			margin-top: 1em;
		}
		.addressPreview TABLE
		{
			width: 100%;
		}
		.addressPreview H1
		{
			font-size: 16px;
			font-weight: bold;
			margin: auto;
		}
		.addressPreview TH
		{
			width: 100px;
			padding-right: 15px;
			text-align: right;
			color: #666;
			font-weight: bold;
			vertical-align: top;
		}
		.addressPreview TH.picture DIV
		{
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 45px;
			height: 45px;
			margin-left: auto;
			margin-bottom: 1.5em;
			box-shadow: 0 0 5px #333;
			-moz-box-shadow: 0 0 5px #333;
			-webkit-box-shadow: 0 0 5px #333;
		}
		.addressPreview TD
		{
			vertical-align: top;
		}
		.addressPreview .spacer
		{
			height: 0.5em;
			vertical-align: middle;
		}
		.addressPreview HR
		{
			margin-top: 1em;
			margin-bottom: 1em;
			height: 1px;
			border: none;
			border-top: 1px dotted #999;
			background-color: #FFF;
		}
		.addressContainer
		{
			position: absolute;
			width: 100%;
			left: 0px;
			top: 0px;
			bottom: 0px;
			right: 0px;
			overflow-y: scroll;
		}
		#addressTable TR
		{
			border-bottom: 1px dotted #CCC;
			height: 30px;
			cursor: default;
		}
		#addressTable TD
		{
			padding-left: 0.5em;
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}
        
        /* ******************************************************************* */
		.note
		{
        	border: 1px solid #e0e0ad;
        	background-color: #FFFFCC;
        	padding: 0.4em;
        	margin: 0.5em;
			text-align: center;
		}
		
        /* ******************************************************************* */
        .bayesBorderTable
        {
        	border-collapse: collapse;
        	width: 280px;
        }
        .bayesBorderSlider
        {
        	background-image: url(../images/li/bayesborder_bg.png);
        	border: 1px solid #666666;
        }
        .bayesBorderTable2
        {
        	border-collapse: collapse;
        	width: 280px;
        }
        .bayesBorderTable2 TD
        {
        	width: 28px;
        	height: 24px;
        	text-align: center;
        }
        .bayesBorderLeftTD
        {
        	font-size: 10px;
        	text-align: left;
        }
        .bayesBorderRightTD
        {
        	font-size: 10px;
        	text-align: right;
        }
		
		.smallCart
		{
			width: 70%;
		}
		
		.smallCart TH
		{
			text-align: left;
			border-bottom: 1px solid #999;
			padding: 2px;
			padding-left: 5px;
			height: 22px;
		}
		
		.smallCart TD
		{
			padding: 2px;
			padding-left: 5px;
		}
		
		/* ===== Colors for our webdisk icons ===== */
		#wdContentDiv .fa-file-image-o, #wdContentTable .fa-file-image-o {
			color: #a60000;	
		}
		#wdContentDiv .fa-key, #wdContentTable .fa-key {
			color: #bf9E30;
		}
		#wdContentDiv .fa-file-word-o, #wdContentTable .fa-file-word-o {
			color: #0054A6;	
		}
		#wdContentDiv .fa-file-powerpoint-o, #wdContentTable .fa-file-powerpoint-o {
			color: #F04E23;	
		}
		#wdContentDiv .fa-file-excel-o, #wdContentTable .fa-file-excel-o {
			color: #008641;	
		}
		#wdContentDiv .fa-envelope-o, #wdContentTable .fa-envelope-o {
			color: #352F85;	
		}
		#wdContentDiv .fa-windows, #wdContentTable .fa-windows {
			color: #00A0DD;	
		}
		#wdContentDiv .fa-file-code-o, #wdContentTable .fa-file-code-o {
			color: #946BD5;	
		}
		#wdContentDiv .fa-file-audio-o, #wdContentTable .fa-file-audio-o {
			color: #FFD340;	
		}
		#wdContentDiv .fa-file-video-o, #wdContentTable .fa-file-video-o {
			color: #008500;	
		}
		#wdContentDiv .fa-file-pdf-o, #wdContentTable .fa-file-pdf-o {
			color: #CF1312;	
		}
		#wdContentDiv .fa-file-text-o, #wdContentDiv .fa-qrcode, #wdContentTable .fa-file-text-o, #wdContentTable .fa-qrcode {
			color: #BCBCBC;	
		}
		#wdContentDiv .fa-file-zip-o, #wdContentTable .fa-file-zip-o {
			color: #FFC500;
		}
		
		#wdDnDArea div {
			margin-bottom: 20px;
		}
		
		
		/* ===== Other useful styling ===== */
		
		.add {
			color: #00B16A !important;
		}
		.blue {
			color: #89C4F4 !important;
		}
		.red {
			color: #aa1b1b !important;
		}
		
		/* ===== Tooltips ===== */
		button .tooltip {
			position: absolute;
			width:140px;
			color: #FFFFFF;
			background: #000000;
			height: 30px;
			line-height: 30px;
			text-align: center;
			visibility: hidden;
			opacity: 0;
			margin-left: -76px;
			top: 0;
			z-index: 999;
			
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		button .tooltip:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -8px;
			width: 0; height: 0;
			border-bottom: 8px solid #000000;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
		}
		button:hover .tooltip {
			visibility: visible;
			opacity: 0.8;
			top: 2.5em;
		}
		button .tooltip.rcor {
			right: 0;	
		}
		button .tooltip.rcor:after {
			left: 75%;	
		}
		/* ===== Animations ===== */
		@-webkit-keyframes goDown { 
		   0% { 
				-webkit-transform: translateY(-200px); 
				opacity: 0.3;
			} 
			100% { 
				-webkit-transform: translateY(0);
				opacity: 1;
			} 
		} 
		
		@keyframes goDown { 
			0% { 
				transform: translateY(-200px); 
				opacity: 0.3;
			} 
			100% { 
				transform: translateY(0); 
				opacity: 1;
			} 
		}

.dTreeNode img[id^="id"] {
    display: none;
}
		
-->
