
.wrapper {
	margin:25px auto;
	width:950px;
	border:0px solid grey;
}

.header {
	background-image:url(../images/aikq/header_bg.png);
	background-repeat:repeat-x;
	height:60px;
}


.header_txt {
	padding:19px 20px 0 0;
	float:right;
	vertical-align:bottom;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}

.header_txt a  {
	color:#fff;
}

.header_txt a:hover  {
	text-decoration:underline;
	color:#fff;
}

.content {
	padding:5px;
}

img {
	border:0;
}

a {
	color:#aaa;
	text-decoration:none;
}

.leftcontent {
	width:50%;
	float:left;
}

.righcontent {
	width:50%;
	float:left;
}

.cleaner {
	clear:both;
}

.home_regbutton {
	padding-right:30px;
	padding-top:100px;
	float:right;
}

.home_logo {
	text-align:center;
}

.hometext {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5em;
	text-align:justify;
}


.listTable {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5em;
	text-align:justify;
}

.nliTD {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5em;
	text-align:justify;
}

.formField {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5em;
	text-align:justify;
}


.aikq_login {
	padding:100px 0 0 126px;	
	text-align:center;
	border:0px solid blue;
	float:left;
	height:250px;
	width:300px;
	background:url(../images/aikq/login_bg.png);
	background-repeat: no-repeat;
	background-position: 80px;
}

.aikq_h3 {
	font-family:Tahoma, Geneva, sans-serif;
}

.aikq_div {
	font-family:Tahoma, Geneva, sans-serif;
}

.aikq_logincontent {
	width:225px;
	border:0px solid red;
}

.aikq_logininput {
	width:200px;
	height:24px;
	border:1px solid grey;
	padding-left:10px;
	padding-right:10px;
	color:#aaa;
}

.aikq_inputcontent {
	padding-top:12px;
	padding-bottom:30px;
}
	
.aikq_lostpw {
	text-align:left;
	padding-left:2px;
	padding-top:14px;
	font-size:small;
}

.aikq_reginput {
	width:350px;
	height:24px;
	border:1px solid grey;
	padding-left:10px;
	padding-right:10px;
	color:#aaa;
}

.aikq_reg_right {
	float:left;
	width:75%;
}

.aikq_reg_left {
	float:left;
	width:25%;
}

.aikq_regdiv {
	padding:5px;
}

.invalidField {
	width:350px;
	height:24px;
	border:1px solid grey;
	padding-left:10px;
	padding-right:10px;
	color:red;
	font-weight:bold;
}

.aikq_reg_h3 {
	color:#97bf0d;
}