<!--

BODY
{
	text-align: center;
	margin: 10px;
	background-color: #ffffff;
}

FORM
{
	display: inline;
}

TD,DIV,P,BODY
{
	font-family: tahoma, helvetica, arial;
	font-size: 12px;
	color: #333333;
}

a
{
	text-decoration: none;
	color: #296694;
}

a:hover
{
	text-decoration: none;
	color: #2C6997;
}

INPUT
{
	border: 1px inset #666666;
	font-family: tahoma, helvetica, arial;
	font-size: 12px;
	height: 18px;
}

INPUT:focus
{
	background-color: #EFEFEF;
	border: 1px inset #1C62F4;
}

.errorMessage
{
	border: 1px solid #DDDDDD;
    background-color: #F3B4B4;
	padding: 5px;
	text-align: center;
	width: 400px;
}

#mainLayer
{
	width: 950px;
	margin-top: 41px;
}

#toolBar
{
	border-bottom: 1px solid #97B7FF;
    box-shadow: 0 0 3px #407DAB;
	-webkit-box-shadow: 0 0 3px #407DAB;
    height: 40px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
	background: rgb(176,206,71);
	background: -moz-linear-gradient(top, rgba(176,206,71,1) 0%, rgba(151,191,13,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,206,71,1)), color-stop(100%,rgba(151,191,13,1)));
	background: -webkit-linear-gradient(top, rgba(176,206,71,1) 0%,rgba(151,191,13,1) 100%);
	background: -o-linear-gradient(top, rgba(176,206,71,1) 0%,rgba(151,191,13,1) 100%);
	background: -ms-linear-gradient(top, rgba(176,206,71,1) 0%,rgba(151,191,13,1) 100%);
	background: linear-gradient(to bottom, rgba(176,206,71,1) 0%,rgba(151,191,13,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 );
}

#contentLayer
{
	overflow-x: auto;
	overflow-y: auto;
	text-align: left;
	background-color: #FFFFFF;
	margin-bottom: 45px;
	margin-top: 10px;
}

#locationBar {
    background-color: #FFFFFF;
    border-top: 1px solid #DFDFDF;
    bottom: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}


#headingTable {
    border-bottom: 1px solid #D8D8D8;
    height: 17px;
    padding-bottom: 3px;
    width: 100%;
}


#headingTable TH {
    color: #777777;
    font-size: 12px;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}

#thTitle
{
	/*border-right: 1px solid #A0A0A0;*/
	width: 345px;
}

#thModified
{
	width: 110px;
	/*border-right: 1px solid #A0A0A0;*/
}
.tdActions, #thActions {
    display: none;
}

#thSize
{
	width: 75px;
	/*border-right: 1px solid #A0A0A0;*/
}

#contentTable
{
	width: 100%;
}

.trRow1
{
	background-color: #FFFFFF;
}

.trRow2
{
	background-color: #ffffff;
}

.tdTitle
{
	padding: 2px;
	padding-left: 6px;
	width: 347px;
}

.tdModified
{
	padding: 2px;
	padding-left: 6px;
	width: 112px;
}

.tdSize
{
	padding: 2px;
	padding-left: 6px;
	width: 77px;
}

.tdActions
{
	padding: 2px;
	padding-left: 6px;
}

#titleBar {
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    text-shadow: 1px 1px #619ECC;
	margin-top:10px;
}
#titleIcon {
    display: none;
}

#__olBackground
{
	background-image: url(../images/overlay.png);
}
.__olContainer
{
	background-color: #FFFFFF;
	/*border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;*/
	box-shadow: 6px 6px 20px #333;
	-webkit-box-shadow: 6px 6px 20px #333;
	-moz-box-shadow: 6px 6px 20px #333;
}
.__olContent
{
}
.__olCaption
{
	/*background-image: url(../images/li/list_bg.png);*/
	font-weight: normal;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	font-size:15px;
	/*border-bottom: 1px solid #DDDDDD;*/
}
.__olShadow
{
	/*background-color: #555555;*/
}

#logo {
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}

//-->