/* roboto-300 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
		url('../fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'),
		url('../fonts/roboto/roboto-v18-latin-300.woff') format('woff');
}

/* roboto-400 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('../fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto/roboto-v18-latin-regular.woff') format('woff');
}

html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

/* ===== Alert ===== */
.alert {
	border-radius: 0;
}

/* ===== Button ===== */
.btn {
	border-radius: 0;
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}
.btn.btn-lg {
	font-size: 1.4rem;
	padding: 0.5rem 1.2rem;
}
.btn.btn-sm {
	font-size: 0.9rem;
	padding: 0.3rem 0.7rem;
}
.btn.btn-xs {
	font-size: 0.7rem;
	padding: 0.2rem 0.4rem;
}

/* ===== Dropdown ===== */
.dropdown-menu {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	border: none;
	border-radius: 0;
	font-size: 1rem;
}
.dropdown-menu > li > a {
	padding: 7px 20px;
}

/* ===== Form elements ===== */
.form-control {
	box-shadow: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid #9e9e9e;
	border-left: none;
	border-radius: 0;
	font-size: 1rem;
	height: 2.5rem;
}
.form-control:focus {
	box-shadow: none;
}
.input-group-addon {
	background: #ffffff;
	border: none;
	color: #9e9e9e;
}
.has-error .form-control {
	box-shadow: none;
}

/* ===== Heading ===== */
.page-header {
	border-bottom: none;
	text-align: center;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 300;
}

/* ===== Modal ===== */
.modal-content {
	border-radius: 0;
}

/* ===== Navbar ===== */
.navbar {
	background: #ffffff;
	border: none;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	transition: all 0.7s ease;
}
.navbar #main-logo {
	display: inline;
}
.navbar #main-logo-inverse {
	display: none;
}
.navbar-nav > li > a {
	padding: 18px 10px;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 1px;
}
.navbar-brand {
	letter-spacing: 2px;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
}
.navbar-toggle {
	padding-top: 12px;
	padding-bottom: 12px;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background: none;
}
.navbar .navbar-collapse, .navbar .navbar-form {
	border: none;
}

/* ----- Inverse ----- */
.navbar-inverse .navbar-brand {
	color: #ffffff !important;
}
.navbar.navbar-inverse #main-logo {
	display: none;
}
.navbar.navbar-inverse #main-logo-inverse {
	display: inline;
}
.navbar-inverse .navbar-toggle {
	border: none;
}
.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background: rgba(255,255,255,0.2);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background: rgba(255,255,255,0.2);
}
.navbar-inverse .navbar-btn {
	margin-top: 9px;
	background: rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-btn:hover, .navbar-btn:focus {
	background: rgba(255,255,255,0.2);
}
@media screen and (max-width:767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		background: rgba(255,255,255,0.2);
	}
}

/* ===== Panel ===== */
.panel {
	border: none;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
}
.panel-group .panel {
	margin-bottom: 20px;
}
.panel-heading {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 300;
	border-radius: 0;
	border: none;
}
.panel-title > a:hover, .panel-title > a:focus {
	color: inherit;
}

/* ===== Popover ===== */
.popover {
	border-radius: 0;
}
.popover-content .form-control {
	border-bottom: none;
}
.popover.bottom > .arrow, .popover.bottom > .arrow::after {
	border-bottom-color: #efefef;
}

/* ===== Login ===== */
.splash > .container {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}
.login {
	background: #ffffff;
	border-radius: 0;
	padding: 1rem;
}
.login.panel-primary .panel-heading {
	font-size: 2.5rem;
	background-color: #ffffff;
	color: #616161;
}
.lost-pw {
	text-align: right;
}
#ps-scrolldown {
	color: #ffffff;
	font-size: 2rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
}
#about {
	min-height: 100vh;
	padding-top: 50px;
}
