<table class="nliTable">
	<!-- imprint -->
	<tr>
		<td class="nliIconTD"><img src="{$tpldir}images/main/imprint.gif" border="0" alt="" /></td>
		<td class="nliTD">
					
			<h3>{lng p="imprint"}</h3>
			
			{$imprint}
		
			<br /><br />
		</td>
	</tr>
</table>