<table class="nliTable">
	<!-- login done -->
	<tr>
		<td class="nliIconTD"><img src="{$tpldir}images/main/login.gif" border="0" alt="" /></td>
		<td class="nliTD">
					
			<h3>{lng p="login"}</h3>
			
			{$msg}
		
			<br /><br />
		</td>
	</tr>
</table>