<table class="nliTable">
	<!-- terms of service -->
	<tr>
		<td class="nliIconTD"><img src="{$tpldir}images/main/tos.gif" border="0" alt="" /></td>
		<td class="nliTD">
					
			<h3>{lng p="tos"}</h3>
			
			{$tos}
		
			<br /><br />
		</td>
	</tr>
</table>