<fieldset>
	<legend>{lng p="createbackup"}</legend>
	
	{lng p="creatingbackup"}
	
	<script language="javascript">
	<!--
		var backupTables = [{foreach from=$sequence item=table}'{$table}',
		{/foreach}''];
		
	//-->
	</script>
</fieldset>