<html>

<head>
    <title>b1gMail - {lng p="acp"}</title>
    
    <!-- links -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	
	<!-- meta -->
	<meta http-equiv="content-type" content="text/html; charset={$charset}" />
</head>

<frameset framespacing="0" border="0" frameborder="no" rows="70,*,29">
	<frame name="header" scrolling="no" noresize src="main.php?sid={$sid}&action=header" marginwidth="0" marginheight="0" noresize="noresize">
	<frameset cols="200,*" border="0" frameborder="no" framespacing="0" noresize="noresize">
		<frame name="menu" scrolling="auto" src="main.php?sid={$sid}&action=menu" noresize="noresize">
		<frame name="content" src="{if $jump}{text value=$jump allowEmpty=true}&sid={$sid}{else}welcome.php?sid={$sid}{/if}" scrolling="no">
	</frameset>
	<frame name="title" src="main.php?sid={$sid}&action=title" scrolling="no">
</frameset>

</html>
