#block-button-overlay {
    background: rgba(0, 0, 0, 0.25);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
#block-button-overlay .center {
	text-align: center;	
}
#block-button-container {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    display: block;
    height: 300px;
    left: 50%;
    margin-left: -350px;
    margin-top: -150px;
    padding: 50px;
    position: absolute;
    top: 50%;
    width: 700px;
	box-sizing: border-box;
	font-size: 18px;
	overflow: hidden;
}
.block-button-action {
    float: left;
    font-weight: 100;
    height: 100%;
    text-align: center;
    width: 50%;
	box-sizing: border-box;
	cursor: pointer;
}
.block-button-action:hover {
	background: #f8f8f8;	
}
.block-button-step.hidden {
	display: none;
}
.block-button-action.left {
	border-right: 1px solid #e0e0e0;	
}
.block-button-action i {
	display: block;
}
.block-button-description {
    font-size: 24px;
    font-weight: normal;
    line-height: 62px;
}
#block-button-status i {
    display: block;
    line-height: 1.5em;
}
#block-button-close {
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin-left: -45px;
}