.infostate-ok {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.infostate-error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.infostate-info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

/* Popup */
.popup {
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 2000;
}

.popup .popup-main {
    margin: auto;
    max-width: 1024px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000000;
    background-color: #ffffff;
    border-color: #efefef;
    -webkit-box-shadow: 0 0 10px 0 #3a3a3a;
    box-shadow: 0 0 10px 0 #3a3a3a;
}

.popup .popup-main .popup-header {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    background-color: #efefef;
    border-bottom: 1px solid #e5e5e5;
}

.popup .popup-main .popup-content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 20px;
    max-height: 350px;
    overflow-y: auto;
}

.popup .popup-main .popup-footer {
    float: none;
    height: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 6px 20px 27px 20px;
    background-color: #efefef;
    border-top: 1px solid #e5e5e5;
}

.popup .popup-main .popup-footer .popup-footer-left {
    width: 50%;
    float: left;
}

.popup .popup-main .popup-footer .popup-footer-right {
    width: 50%;
    float: right;
    text-align: right;
}

.linkbutton {
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px 4px;
    color: #444;
    text-decoration: none;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;

    background: none;
}

.linkbutton:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Input Prefix / Suffix */
.input-group-addon {
    padding: 0px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.inputprefix {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    border: 1px solid #ccc;
    margin: 0px 0px 0px -2px;
}

.suffix input {
    border-radius: 4px 0px 0px 4px;
}
.suffix .input-group-addon {
    border-left: 0;
    border-radius: 0px 2px 2px 0px;
}
.prefix input {
    border-radius: 0px 2px 2px 0px;
}
.prefix .input-group-addon {
    border-right: 0;
    border-radius: 2px 0px 0px 2px;
}
.presuffix input {
    border-radius: 0px;
}
.input-group-addon.prefix {
    border-radius: 2px 0px 0px 2px;
    border-right: 0;
}
.input-group-addon.suffix {
    border-radius: 0px 2px 23px 0px;
    border-left: 0;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    padding: 0px;
    margin: 0px -4px 0px 0px;
}

.adminbutton {
    border: 1px solid #CCC;
    padding: 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background-image: url(../../admin/templates/images/header_bg.png);
    background-position: 0px -32px;
    color: #FFF;
    font-weight: bold;
    font-size: 11px;
    border: 1px solid #F93;
    cursor: pointer;
    box-shadow: inset 0px 1px 2px #FC0;
    text-decoration: none;
}

.adminbutton:hover {
    color: #FFF;
}