/* INPUT[type=email] {
    border: 1px solid #CCC;
    min-height: 20px;
    padding: 4px;
    box-sizing: border-box;

    box-shadow: inset 2px 2px 2px #EEE;
    -moz-box-shadow: inset 2px 2px 2px #EEE;
    -webkit-box-shadow: inset 2px 2px 2px #EEE;
} */

.infostate-ok {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.infostate-error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.infostate-info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}