#password-security-show {
    display: inline;
}
#password-security-show i {
	font-size: 16px;
	cursor: pointer;
}
#password-security {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
	-webkit-border-radius: 3px;
    box-shadow: 0 0 3px #e0e0e0;
	-webkit-box-shadow: 0 0 3px #e0e0e0;
    margin-left: 385px;
    margin-top: -35px;
    padding: 10px;
    position: absolute;
}
#password-security div {
    font-size: 16px;
}
.inpw {
	color: #97BF0D;	
}
#password-security .fa-smile-o {
	display: none;
}
#password-security .inpw .fa-smile-o {
	display: inline-block;
}
#password-security .fa-meh-o {
	display: inline-block;
}
#password-security .inpw .fa-meh-o {
	display: none;
}
#password-security-holder {
	display: block;
	width: 350px;
	height: 17px;
}
#password-security-bar {
	display: block;
	height: 17px;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}