.scrollContainer {
	-webkit-animation-duration: 2s; 
	animation-duration: 2s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
	-webkit-animation-name: goDown; 
	animation-name: goDown; 	
}

.scrollContainer tr {
    float: left;
    height: 270px;
    padding-bottom: 70px;
    padding-left: 120px;
    width: 215px;
}

.scrollContainer tr label {
    display: table-cell;
    font-size: 16px;
    font-weight: 100;
    height: 70px;
    text-align: center;
    vertical-align: bottom;
}
#templates-holder {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.4);
	z-index: 9999;
	overflow-y: auto;
}

#templates-box {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px #e0e0e0;
    left: 50%;
    margin-left: -250px;
    margin-top: 100px;
    min-height: 300px;
    position: absolute;
    width: 500px;
    z-index: 999;
	padding-bottom: 50px;
}
#templates-box table {
	width: 100%;	
}
#templates-close {
    cursor: pointer;
    float: right;
    padding-right: 5px;
}
.template-select {
    border-bottom: 1px solid #e0e0e0;
    display: block;
	cursor: pointer;
}
.template-select:hover {
	background: #efefef;	
}
.template-select td {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    width: 20%;
}
.preview-holder {
    display: block;
    height: 100px;
    width: 100px;
}
.preview-topbar {
    display: block;
    height: 20px;
    width: 100%;
}
.preview-leftmenu {
    float: left;
    height: 80px;
    width: 30px;
}
.preview-maincontent {
    float: right;
    height: 80px;
    width: 70px;
}
@media (max-width: 1600px) {
	.scrollContainer tr {
		padding-left: 70px;	
	}
}
@media (max-width: 1400px) {
	.scrollContainer tr {
		padding-left: 30px;	
	}
}