#menuTabItems li {
	width: 33%;
	float: left;
}
#menuTabItems LI:first-child {
	border-top: 1px solid;	
}
#menuTabItems li a {
	font-size: 0;
	text-align: center;
}
#menuTabItems li a i {
	font-size: 17px !important;
	line-height: 36px;
}

#mainMenuContainer {
	bottom: 115px !important;	
}

/* ===== Tooltips ===== */
#menuTabItems a .tooltip {
	position: absolute;
	width:140px;
	color: #FFFFFF;
	font-size: 20px !important;
	background: #000000;
	height: 30px;
	line-height: 30px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	margin-left: -8px;
	margin-top: -90px;
	z-index: 999;
	pointer-events: none;
	font-weight: 100;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#menuTabItems a .tooltip:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -50px;
	width: 0; height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
#menuTabItems a:hover .tooltip {
	visibility: visible;
	opacity: 0.8;
	margin-top: -75px;
}

#menuTabItems li:nth-child(3n) .tooltip {
	margin-left: -83px !important;
}
#menuTabItems li:nth-child(3n) .tooltip:after {
	margin-left: 50px;
}
