.smallmenu_settings {
	padding-left: 120px;
	height: 175px;
}
@media (max-width: 1600px) {
	.smallmenu_settings {
		padding-left: 70px;
	}
}
@media (max-width: 1400px) {
	.smallmenu_settings {
		padding-left: 30px;
	}
}
.smallmenu_setting {
    border: 2px solid #e0e0e0;
    float: left;
    padding: 5px;
    width: 300px;
	margin-right: 15px;
	margin-bottom: 10px;
	cursor: pointer;
}
.smallmenu_setting:hover {
	background: #e9e9e9;
}
.smallmenu_setting.selected {
    background: #e2e2e2;
    border-color: #d1d1d1;
}
.smallmenu_setting_container {
    background: #777777;
    display: block;
    width: 50px;
	height: 90px;
	float: left;
	position: relative;
}
.smallmenu_setting_itemcontainer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.smallmenu_setting_menuitem {
    background: #e0e0e0;
    bottom: 0;
    height: 6px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
}
.smallmenu_yes .smallmenu_setting_menuitem {
    float: left;
    width: 12.5px;
}
.smallmenu_setting_desc {
    font-size: 16px;
    font-weight: 100;
    line-height: 90px;
    text-align: center;
    width: 100%;
}