.slider {
	width: 700px;
	margin-top: 100px;
	margin-left: 150px;
	margin-bottom: 15px;
}
@media (max-width: 1200px) {
	.slider {
		margin-left: 10px;	
	}
}
@media (max-width: 970px) {
	.slider {
		width: 300px;
	}
	.slider .tooltip {
		position: fixed !important;	
	}
	.slider .tooltip:after {
		border: none !important;	
	}
	.slider .tooltip.left {
		left: 0;	
	}
	.slider .tooltip.right {
		left: 165px;	
	}
	
}
.slider .tooltip {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    display: block;
    padding: 5px;
    position: absolute;
    top: -84px;
	width: 135px;
	box-shadow: 0 0 2px #d9d9d9;
	-webkit-box-shadow: 0 0 2px #d9d9d9;
}
.slider .tooltip.left {
	right: 0;
}
.slider .tooltip span {
	display: block;	
}
.slider .tooltip:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #d9d9d9;
    content: "";
    left: 4%;
    position: absolute;
    top: 100%;
}
.slider .tooltip.left:after {
	left: 87%;
}
.slider .toolheading {
	font-weight: 100;
	font-size: 1.2em;
}

.scrollContainer form {
    display: block;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.exp {
    font-size: 1.1em;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
}