#security-overlay {
    background: #ffffff;
	background: rgba(0,0,0,0.25);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999;
	display: none;
}
#security-overlay.show {
	display: block !important;	
}
#security-overlay.show #security-content {
	-webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: wiggle; 
    animation-name: wiggle; 	
}
#security-content {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e0e0e0;
    display: block;
    height: 300px;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 500px;
}

#security-content h1 {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

#security-countdown {
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 80px;
    padding-top: 10px;
}
#security-actions {
	text-align: center;	
}


/* ===== Animations ===== */

@-webkit-keyframes wiggle { 
    0% { -webkit-transform: skewX(9deg); } 
    10% { -webkit-transform: skewX(-8deg); } 
    20% { -webkit-transform: skewX(7deg); } 
    30% { -webkit-transform: skewX(-6deg); } 
    40% { -webkit-transform: skewX(5deg); } 
    50% { -webkit-transform: skewX(-4deg); } 
    60% { -webkit-transform: skewX(3deg); } 
    70% { -webkit-transform: skewX(-2deg); } 
    80% { -webkit-transform: skewX(1deg); } 
    90% { -webkit-transform: skewX(0deg); } 
    100% { -webkit-transform: skewX(0deg); } 
} 
@keyframes wiggle { 
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
} 