#usertour {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.7);
	z-index: 9997;
	font-size: 1.2em;
}

#usertour_main {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    height: 500px;
    left: 50%;
    margin-left: -365px;
    margin-top: -265px;
    position: absolute;
    top: 50%;
    width: 700px;
	padding: 15px;
}
#usertour INPUT[type="text"], #usertour INPUT[type="password"], textarea {
	border: 1px solid #cccccc;
    box-shadow: 0 0 2px #cccccc;
	-webkit-box-shadow: 0 0 2px #cccccc;
    height: 20px;
    padding: 3px;
}
.heading {
	text-align: center;
	font-size: 2.7em;
	color: #777777;
	font-weight: 100;
}
.heading.animated {
	-webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: fadeInUpLarge; 
    animation-name: fadeInUpLarge; 
}
.explain {
	padding-top: 30px;
	padding-bottom: 20px;
}
.options {
    padding-bottom: 10px;
    padding-top: 10px;
	clear: both;
}
.options input, .options label {
	float: left;	
}
.hidden {
	display: none;	
}
.error {
    color: #aa1b1b;
}
.jumpstage {
    bottom: 0;
    color: #777777;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    right: 0;
	border: none;
	font-size: 1.2em;
	font-weight: 100;
	
	-webkit-animation-duration: 1s; 
    animation-duration: 1s; 
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}
.infosec.ut-left {
	width: 50%;
	float: left;
	
	 -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}
.infosec.ut-right {
	margin-top: 55px;
	 -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}
.infosec.ut-bottom {
	clear: both;
	padding-top: 150px;
	text-align: center;
	
	-webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
	-webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}
#pop3account {
	padding-top: 20px;	
}
.pop3 label, .alias label, .aliasbox label, .signature label {
	display: block;
	float: left;
	width: 330px;
}
.signature label {
	width: 230px;
}
.signature input[type="text"] {
	width: 200px;	
}
.alias, .signature, .addressbook {
	-webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
	-webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}
.fadeInUp {
	-webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	-webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}
#__olBackground {
	z-index: 9998 !important;
}
.__olContent {
	z-index: 9999 !important;
}
/* ===== Animations ===== */
@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

@-webkit-keyframes fadeInUpLarge { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(200px); 
    }
	50% {
		opacity: 1;
		-webkit-transform: translateY(200px);
	}
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInUpLarge { 
    0% { 
        opacity: 0; 
        transform: translateY(200px); 
    }
	50% {
		opacity: 1;
		transform: translateY(200px);
	}
	
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 


@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
}

/* ===== Change style of select2 (jQuery Plugin) ===== */
.select2-container .select2-choice {
	background: #ffffff;
	border: 1px solid #aaaaaa;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.select2-container .select2-choice .select2-arrow {
	background: #ffffff;	
}
.pop3 .select2-drop.select2-display-none.select2-with-searchbox.select2-drop-active, .pop3 .select2-container, .select2-drop {
    width: 250px !important;
}