.ueb {color:#ffffff; width:806px; margin:10px auto}
body {margin:0; background:#111; padding:5px; font:11px Verdana,Arial}
#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:806px; margin:0 auto; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:800px; height:600px; padding:2px; border:1px solid #ccc; background:#000}
#information {position:absolute; bottom:0; width:500px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h2 {padding:4px 8px 3px; font-size:14px; color:#ffffff}
#information p {padding:0 8px 8px; color:#ffffff}
#image {width:800px}
#image img {position:absolute; z-index:25; width:auto; height:auto; max-height:99%; max-width:99%;}
.imgnav {position:absolute; width:25%; height:506px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(../templates/images/modsls_left.gif) left center no-repeat}
#imgnext {right:0; background:url(../templates/images/modsls_right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(../templates/images/modsls_link.gif) center center no-repeat}
#thumbnails {margin-top:15px; margin-bottom:80px}
#slideleft {float:left; width:20px; height:107px; background:url(../templates/images/modsls_scroll-left.gif) center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:107px; background:#222 url(../templates/images/modsls_scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:756px; margin-left:5px; height:107px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}