.blog-feed {
    border: 1px solid #f2f2f2;
    height: 35px;
    margin: 30px auto auto;
    position: relative;
    text-align: center;
    width: 540px;
	overflow: hidden;
	box-shadow: 0 0 4px #e0e0e0;
	-webkit-box-shadow: 0 0 4px #e0e0e0;
}

.blog-feed a {
    height: 35px;
    left: 0;
    line-height: 35px;
    position: absolute;
	position: relative \ ; /* show this to IE 8 or 9 */
    width: 540px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #222222;
	display: block;
}
.blog-feed a:nth-child(1) {
	-webkit-animation-duration: 30s; 
    animation-duration: 30s; 
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
	-webkit-animation-name: left-one; 
    animation-name: left-one;	
}
.blog-feed a:nth-child(2) {
	-webkit-animation-duration: 30s; 
    animation-duration: 30s; 
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
	-webkit-animation-name: left-two; 
    animation-name: left-two;
}
.blog-feed a:nth-child(3) {
	-webkit-animation-duration: 30s; 
    animation-duration: 30s; 
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
	-webkit-animation-name: left-three; 
    animation-name: left-three;	
}
/* ===== Animations ===== */
/* first */
@-webkit-keyframes left-one { 
    0% { 
        -webkit-transform: translateX(-100%); 
    }
	5% { 
        -webkit-transform: translateX(0); 
    }
	28% { 
        -webkit-transform: translateX(0); 
    }
	33% { 
        -webkit-transform: translateX(100%); 
    }
    100% { 
        -webkit-transform: translateX(100%); 
    } 
} 

@keyframes left-one { 
    0% { 
        transform: translateX(-100%); 
    }
	3% { 
        transform: translateX(0); 
    }
	28% { 
        transform: translateX(0); 
    }
	33% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(100%); 
    } 
}

/* second */
@-webkit-keyframes left-two { 
    0% { 
        -webkit-transform: translateX(-100%); 
    }	
	33% { 
        -webkit-transform: translateX(-100%); 
    }
	38% { 
        -webkit-transform: translateX(0); 
    }
	63% { 
        -webkit-transform: translateX(0); 
    }
	66% { 
        -webkit-transform: translateX(100%); 
    }
    100% { 
        -webkit-transform: translateX(100%); 
    } 
} 

@keyframes left-two { 
    0% { 
        transform: translateX(-100%); 
    }	
	33% { 
        transform: translateX(-100%); 
    }
	38% { 
        transform: translateX(0); 
    }
	63% { 
        transform: translateX(0); 
    }
	66% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(100%); 
    } 
}

/* third */
@-webkit-keyframes left-three { 
    0% { 
        -webkit-transform: translateX(-100%); 
    }	
	66% { 
        -webkit-transform: translateX(-100%); 
    }
	71% { 
        -webkit-transform: translateX(0); 
    }
	96% { 
        -webkit-transform: translateX(0); 
    }
	99% { 
        -webkit-transform: translateX(100%); 
    }
    100% { 
        -webkit-transform: translateX(100%); 
    } 
} 

@keyframes left-three { 
    0% { 
        transform: translateX(-100%); 
    }	
	66% { 
        transform: translateX(-100%); 
    }
	71% { 
        transform: translateX(0); 
    }
	96% { 
        transform: translateX(0); 
    }
	99% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(100%); 
    } 
} 