<!--	
		.mob table, .mob thead, .mob tbody, .mob th, .mob td, .mob tr {
			display: block;
		}		
		.center {
			display: inline-block;
			vertical-align: middle;
		}
		.dragOver
		{
			opacity: 0.75;
		}

		#mainTabs A:hover .hoverVis
		{
			display: inline;
		}
		
		#mainTabs A .hoverVis
		{
			display: none;
		}

		.prefsBox H2
		{
			font-size: 16px;
			margin-top: 0.25em;
			margin-bottom: 0.5em;
			text-shadow: none;
			color: #597D93;
		}
		
		.prefsBox
		{
			vertical-align: top;
			border-bottom: 1px solid #dddddd;
			padding-top: 8px;
			padding-bottom: 15px;
		}
		
		.prefsBox A
		{
			display: block;
		}

		#multiSelPreview
		{
			overflow: hidden;
		}
		
		#multiSelPreview_vCenter
		{
			position: absolute;
			width: 100%;
			top: 45%;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		
		#multiSelPreview_inner
		{
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 200px;
			top: -50%;
			color: #999;
			font-size: 16px;
			text-shadow: 0px 1px 0px #EEEEEE;
		}

		#mailTable
		{
			cursor: default;
			
		   -moz-user-select: -moz-none;
		   -khtml-user-select: none;
		   -webkit-user-select: none;
		   user-select: none;
		}

		.narrowRow
		{
			border-bottom: 1px solid #E1E1E1;
			padding-top: 7px;
			padding-bottom: 7px;
		}
		
		.narrowRow .unread
		{
			font-weight: bold;
		}
		
		.narrowRow .sender
		{
			color: #000;
			line-height: 16px;
			margin-left: 4px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		.narrowRow .subject
		{
			color: #666;
			line-height: 16px;
			font-weight: normal;
			margin-left: 4px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		.narrowRow .date
		{
			float: right;
			padding-right: 0.5em;
			line-height: 16px;
		}
		
		.selected TD, .selected SPAN
		{
			background: #4586E0;
			
			color: #FFF;
			border-left: 0px;
			border-right: 0px;
		}
		
		.selected .sender, .selected .subject, .selected A, .selected A:hover
		{
			color: #FFF;
		}
		
		#bigFormToolbar
		{
        	background-color: #F6F6F9;
        	padding-top: 3px;
        	padding-bottom: 3px;
        	border-bottom: 1px solid #E1E1E1;
        	text-align: center;
        }

		#safecodeFooter
		{
			border-top: 1px solid #CCC;
			background-color: #FAFAFA;
			position: absolute;
			left: 0px;
			width: 100%;
			height: 70px;
			bottom: 29px;
			text-align: center;
			padding-top: 4px;
		}
	
		.attachmentListEntry
		{
			background-color: #EEE;
			border: 1px solid #CCC;
			
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 1px;
			padding-bottom: 1px;
			
			margin-left: 4px;
			margin-top: 3px;
			
			float: left;
		}
		
		.attachmentListEntry a:last-child:before {
			color: #aa1b1b;
			content: "\f00d";
			font-family: FontAwesome;
			padding-left: 10px;
		}
		
		.attachmentListEntry a:last-child img {
			display: none;	
		}
		
		.attachmentListEntry a:last-child {
			text-decoration: none;
		}
		
		.attachmentListEntry IMG
		{
			margin-left: 6px;
		}

		#attachmentList
		{
			width: 100%;
        	border: 1px solid #CCC;
        	min-height: 22px;
        	padding-left: 2px;

			box-shadow: inset 2px 2px 2px #EEE;
			-moz-box-shadow: inset 2px 2px 2px #EEE;
			-webkit-box-shadow: inset 2px 2px 2px #EEE;
			
			background-color: #FFF;
			
			overflow-x: hidden;
			overflow-y: auto;
		}

		#bottomLayer_attachments {
			background: #ffffff;
			bottom: 0;
			height: auto;
			top: 0;
		}

		.mailSendOptions DIV
		{
			display: inline;
			margin-right: 0.5em;
			white-space: nowrap;
		}

		.lightTable 
		{
			width: 100%;
		}

		.lightTable TH
		{
			color: #666;
			padding-right: 0.5em;
			text-align: right;
			font-weight: normal;
			width: 80px;
		}
		
		.previewMailHeader
		{
			padding-top: 0.5em;
			padding-left: 0;
			padding-bottom: 1.5em;
			padding-right: 0;
		}
		
		.previewMailHeader A
		{
			text-decoration: underline;
		}
		
		.previewMailHeader A:hover
		{
			text-decoration: none;
		}
		
		.previewMailHeader .right
		{
			position: absolute;
			right: 1.5em;
			top: 2em;
		}

		.previewMailHeader .left
		{
		}

		.previewMailHeader .mailAddressLink
		{
			border: 0px;
			padding-right: 1px;
		}

		.previewMailHeader .mailAddressLink:hover
		{
			border: 0px;
			padding-right: 1px;
        	background-image: none;
        	background-color: transparent;
		}
		
		.previewMailHeader .date
		{
			color: #666;
			margin-left: 0.5em;
		}
		
		.abLetters
		{
			line-height: 25px;
			text-align: center;
			background-color: #F4F4F4;
			border-bottom: 1px solid #999;
		}
	
		#contentFooter INPUT[type=submit], #contentFooter INPUT[type=reset], #contentHeader INPUT[type=submit], #contentFooter INPUT[type=reset], #mainToolbar INPUT[type=submit], #mainToolbar INPUT[type=reset], #contentHeader BUTTON, #contentFooter BUTTON, .contentHeader BUTTON, .contentFooter BUTTON
		{
			margin-top: 0;
			background: #ffffff;
			padding: 4px 11px;
			font-size: 13px;
			opacity: 1;
			z-index: 9999999;
		}
		
		#contentHeader, .contentHeader
		{
			/*border-bottom: 1px solid #999;*/
			position: absolute;
			left: 0px;
			width: 100%;
			top: 0px;
			height: 50px;
			overflow-y: hidden;
		}
		
		#contentHeader .left, .contentHeader .left
		{
			position: relative;
			left: 0px;
			right: 0px;
			top: 10px;
			padding: 0 5px;
			text-align: center;
			font-size: 17px;
			color: #aa1b1b;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		#contentHeader .left img, .contentHeader .left img{
			display: none;	
		}
		
		#contentHeader .right, .contentHeader .right
		{
			position: absolute;
			right: 0px;
			top: 3px;
			padding-right: 1em;
		}
	
		#vSep1 
		{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 50px;
		}
		
		#vSep2
		{
			position: absolute;
			height: 50px;
			top: 60px;
			left: 0px;
			width: 100%;
		}
		
		#vSepSep
		{
			position: absolute;
			top: 50px;
			height: 8px; 
			width: 100%;
			border-top: 1px solid #999;
			border-bottom: 1px solid #999;
			background-color: #E7E7E7;
			background-image: url(../images/li/status_bg.png);
			cursor: ns-resize;
		}
		
		#hSep1 
		{
			position: relative;
			top: 0px;
			left: 0px;
			width: 50px;
			height: 100%;
		}
		
		#hSep2
		{
			position: absolute;
			height: 100%;
			top: 0px;
			left: 59px;
			width: 50px;
			overflow-y: scroll;
			background: #ffffff;
		}
		
		#hSepSep
		{
			position: absolute;
			top: 0px;
			width: 8px; 
			height: 100%;
			left: 50px;
			border-left: 1px solid #999;
			border-right: 1px solid #999;
			background-color: #E7E7E7;
			cursor: ew-resize;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorstr='#D0D0D0',GradientType=1);
			background: -moz-linear-gradient(left,  #E7E7E7,  #D0D0D0);
			background: -webkit-gradient(linear, left top, right top, from(#E7E7E7), to(#D0D0D0));
			background: -o-linear-gradient(left,  #E7E7E7,  #D0D0D0);
		}
		
		#preview_frame 
		{
			width: 100%;
			height: 100%;
			border: 0px;
			overflow-y: scroll;
			overflow-x: auto;
		}
		
		#contentFooter, .contentFooter
		{
			border-top: 1px solid #e0e0e0;
			background-color: #ffffff;
			position: relative;
			left: 0px;
			width: 100%;
			bottom: 0px;
			height: 40px;
			line-height: 29px;
			overflow: hidden;
			z-index: 1000;
		}
		#taskListContainer .contentFooter {
			display: none;	
		}
		#folderMailArea #contentFooter {
			text-align: center;	
		}
		#folderMailArea #contentFooter .left {
			display: inline-block;
			position: relative;
			padding: 0;
		}
		
		.contentBottomLayer .contentFooter
		{
			background-image: none;
			background-color: #EFEFEF;
		}
		
		#contentFooter .left, .contentFooter .left
		{
			position: absolute;
			left: 0px;
			top: 3px;
			padding-left: 1em;
		}
		
		#contentFooter .center, .contentFooter .center
		{
			text-align: center;
		}
		
		#contentFooter .right, .contentFooter .right 
		{
			position: absolute;
			right: 0px;
			top: 3px;
			padding-right: 1em;
		}
		
		.bigForm
		{
			position: absolute;
			top: 26px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			width: 100%;
		}
		
		.scrollContainer
		{
			position: absolute;
			width: 100%;
			top: 40px;
			left: 0px;
			bottom: 0px;
			overflow-x: hidden;
			overflow-y: scroll !important;
			padding-bottom: 40px;
		}
		
		.withoutContentHeader
		{
			top: 0px;
		}
		
		.withBottomBar 
		{
			bottom: 36px !important;
		}
		
		.noSelect
		{
		   -moz-user-select: -moz-none;
		   -khtml-user-select: none;
		   -webkit-user-select: none;
		   user-select: none;
		}
		
		.contentBottomLayer
		{
			border-top: 1px solid #999;
			position: absolute;
			bottom: 29px;
			height: 160px;
			width: 100%;
		}
	
		.pad 
		{
			padding: 0.5em;
		}

		.bigTable 
		{
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
		}
		
		.bigTable TD
		{
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.bigTable TH 
		{
        	background-position: 0px -1px;
        	font-weight: normal;
        	height: 25px;
        	vertical-align: middle;
        	border-bottom: 1px solid #DDDDDD;
		}
		#calendarContainer .bigTable TH {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		HTML, BODY
		{
			height: 100%;
			margin: 0;
			padding: 0;
			overflow-x: hidden;

		}
		
		BODY 
		{
            font-family: helvetica, tahoma, arial, sans-serif;
            font-size: 16px;
			background: #ffffff;
			overflow-x: hidden;
		}

		#main
		{
			width: 100%;
			height: 100%;
			overflow-x: hidden;
		}
		
		#mobile-topbar {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			/*background-image: url(../images/li/logo.png);
			background-repeat: no-repeat;
			background-position: right top;*/
			height: 50px;
			background-color: #ffffff;
			z-index: 9998;
			border-bottom: 2px solid #a9a9a9;
			
/*			box-shadow: 0 0 2px #444444;
			-webkit-box-shadow: 0 0 2px #444444;*/
		}
				
		#mobile-topbar button {
			background: none;
			border: none;
			font-size: 30px;
			padding-top: 8px;
			/*color: #444444;*/
			color: #6e6e6e;
		}
		#mobilemenu-right {
			position: absolute;
			right: 0;
			top: 0;
		}
		#textMode, #priority-mobile {
			display: none;	
		}
		#dropmenu {
			position: absolute;
			top: 50px;
			right: 0;
			display: block;
			background: rgba(0,0,0,0.5);
			text-align: right;
			
		}
		#dropmenu .lastli {
			border-bottom: 1px solid #aa1b1b;	
		}
		#dropmenu-content {
			background: #FFFFFF;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			display: inline-block;
			width: 325px;
			text-align: left;
			font-size: 18px;
			border: 1px solid #e0e0e0;
			box-shadow: 0 0 3px #777777;
			-webkit-box-shadow: 0 0 3px #777777;
			display: none;
			overflow: scroll;
		}
		#dropmenu-content select {
			font-size: 15px;	
		}
		
		#dropmenu-content ul {
			margin-left: 0;
			margin-top: 5px;
			padding-left: 0;
		}
		#dropmenu-content li {
			list-style: none;	
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 10px;
			padding-bottom: 10px;
			line-height: 20px;
			border-bottom: 1px solid #e0e0e0;
		}
		#dropmenu-content li:last-child {
			border-bottom: none;	
		}
		#dropmenu-content input[type="checkbox"], .fm-check input[type="checkbox"], input[type="checkbox"].fm-check  {
			display: none;	
		}
		#dropmenu-content input[type="checkbox"] + label:before, .fm-check input[type="checkbox"] + label:before, input[type="checkbox"].fm-check + label:before {
			padding-right: 10px;
			font-family: fontawesome;
			content: "\f10c";			
		}
		#dropmenu-content input[type="checkbox"] + label, .fm-check input[type="checkbox"] + label, input[type="checkbox"].fm-check + label {
			color: #597d93;
			padding-left: 5px;
		}
		#dropmenu-content input[type="checkbox"]:checked + label:before, .fm-check input[type="checkbox"]:checked + label:before, input[type="checkbox"]:checked.fm-check + label:before {
			font-family: fontawesome;
			content: "\f05d";
		}
		.fm-check, .fm-check+label {
			font-size: 17px;
		}
		
		
		.fm-radio input[type="radio"], input[type="radio"].fm-radio  {
			display: none;	
		}
		.fm-radio input[type="radio"] + label:before, input[type="radio"].fm-radio + label:before {
			padding-right: 10px;
			font-family: fontawesome;
			content: "\f10c";			
		}
		.fm-radio input[type="radio"] + label, input[type="radio"].fm-radio + label {
			padding-left: 5px;
			font-size: 16px;
		}
		.fm-radio input[type="radio"]:checked + label:before, input[type="radio"]:checked.fm-radio + label:before {
			font-family: fontawesome;
			content: "\f192";
		}
		.drop-select {
			color: #aa1b1b;
			float: left;
			padding-right: 5px;
		}
		#mobile-overlay-mainTabs {
			position: fixed;
			left: 0;
			top: 50px;
			right: 0;
			bottom: 0;
			background: rgba(255,255,255,0.9);
			display: none;
			z-index: 9;
			transition: all 3s ease;
			-webkit-transition: all 3s ease;
		}
		
		#mobile-folderswitch {
			font-size: 50px;
			text-align: center;
		}
		#mobile-folderswitch i {
			color: #AA1B1B;
		}
		#mainmenu-state, #dropmenu-state {
			display: none;
		}
		#folderList b {
			background: #4586E0;
			border-radius: 6px;
			padding: 2px 8px;
			margin-left: 3px;
		}
		#mainLogo 
		{
			color: #FFF;
			text-align: right;
			font-size: 24px;
			font-weight: bold;
			font-style: italic;
			padding-right: 85px;
			padding-top: 16px;
			text-shadow: 0px 0px 10px #333;
			
			height: 52px;
			background-image: url(../images/li/logo.png);
			background-repeat: no-repeat;
			background-position: right top;
			
			position: absolute;
			top: 0px;
			right: 0px;
			display: none;
		}
		#mainTabs, #mainContent, #menu-button {
			display: block;
			-webkit-transition: all 0.4s ease 0s;
			-moz-transition: all 0.4s ease 0s;
			-ms-transition: all 0.4s ease 0s;
			-o-transition: all 0.4s ease 0s;
			transition: all 0.4s ease 0s;			
			
			/*-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0);*/
		}
		
		#mainTabs
		{
			position: fixed;
			z-index: 9999;
			top: 0px;
			left: -208px;
			bottom: 0px;
			width: 200px;
			background: #222222;
        	box-shadow: 0px 0px 8px #333;
			-webkit-box-shadow: 0px 0px 8px #333;
			overflow-y: auto;
			overflow-x: none;
			color: #ffffff;
			font-size: 13px;
			
			transform: translatex(0px) scale(0.8, 0.8);
			-moz-transform: translatex(0px) scale(0.8, 0.8);
			-o-transform: translatex(0px) scale(0.8, 0.8);
			-webkit-transform: translatex(0px) scale(0.8, 0.8);
			-ms-transform: translatex(0px) scale(0.8, 0.8);
		}
		
		#mainTabs a {
			overflow-x: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		#mainTabs img {
			display: none;	
		}
		
		#mainTabs UL
		{
			padding: 0px;
			margin: 0px;
			list-style: none;
		}
		
		#mainTabs LI
		{
			text-align: center;
			margin-right: 1px;
		}
		
		#mainTabs LI.active
		{
			background: #e0e0e0;
		}
		
		#mainTabs LI.active IMG
		{
		}
		
		#mainTabs LI IMG
		{
			padding: 4px;
		}
		
		#mainTabs LI A
		{
			color: #FFF;
			display: block;
			padding-bottom: 17px;
			padding-top: 2px;
		}
	
		#mainTabs LI.active A
		{
			color: #666;
		}
		
		#menuTabItems 
		{
			width: 100%;
			position: absolute;
			bottom: 0px;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		#menuTabItems LI 
		{
			min-height: 28px;
			line-height: 28px;
			padding-left: 1em;
			border-top: 1px solid #999;
			background-color: #CCC;
			background-image: url(../images/li/grey_bg.png);
		}
		
		#menuTabItems LI.active
		{
			font-weight: bold;
			background-color: #FFB100;
			background-image: url(../images/li/toolbar_bg.png);
		}
		
		#menuTabItems LI.active A
		{
			color: #333;
		}
		
		#mainToolbar
		{
			border-bottom: 1px solid #999999;
			position: absolute;
			height: 25px;
			top: 55px;
			left: 0px;
			right: 0px;

			color: #333333;
			text-shadow: 0px 1px 0px #EEEEEE;
			
			background-color: #FFB100;
			background-image: url(../images/li/toolbar_bg.png);
			background-position: 0px -4px;
			
			display: none;
		}
		
		#mainToolbar .left
		{
			position: absolute;
			left: 0px;
			top: 3px;
			padding-left: 1em;
		}
		
		#mainToolbar .right 
		{
			position: absolute;
			right: 0px;
			top: 3px;
			padding-right: 1em;
		}
	
		#mainMenu 
		{
			display: none;
		}
		
		
		#mainContent
		{
			position: absolute;
			top: 51px; 
			left: 0;
			right: 0px;
			bottom: 0;
			overflow-x: hidden;
    		overflow-y: auto;
			width: 100%;
			height: 100%;
			height: calc(100% - 51px);
			height: -webkit-calc(100% - 51px);
		}
		
		#mainContent, .scrollContainer, #mainTabs, #calendarContainer {
			-webkit-overflow-scrolling: touch;
			/*-webkit-transform: translateZ(0px);*/
		}
		#calendarContainer {
			overflow-y: scroll !important;	
		}
		.withBanner
		{
			top: 151px !important;
		}

		#mainBanner
		{
			position: absolute;
			top: 81px; 
			left: 201px;
			right: 0px;
			height: 65px;
			background-color: #EEE;
			border-bottom: 1px solid #999;
			overflow: auto;
			text-align: center;
			padding-top: 4px;
		}
		
		.withRightSidebar
		{
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 201px !important;
		}
		
		#rightSidebar 
		{
			position: absolute; 
			top: 0px;
			right: 0px;
			bottom: 0px;
			width: 200px;
			overflow-x: hidden;
			overflow-y: auto;
			background-color: #EEEEEE;
			border-left: 1px solid #999999;
		}
		
		#mainStatusBar 
		{
			border-top: 1px solid #999999;
			position: absolute;
			height: 25px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			text-align: center;
			line-height: 25px;
			display: none;
			

		}
        

		.sidebarHeading {
			border-bottom: 1px solid #909090;
			color: #909090;
			font-size: 12px;
			font-weight: bold;
			line-height: 20px;
			margin-bottom: 0.5em;
			padding-left: 10px;
			padding-top: 1em;
			text-transform: uppercase;
		}
        
        .sidebarHeading A
        {
        	color: #858B92;
        }
        
        .contentMenuIcons
        {
			line-height: 20px;
        	margin-bottom: 0.5em;
        }
		
		.contentMenuIcons a {
			color: #FFFFFF;
			display: block;
			padding-top: 10px;
			text-align: center;
		}
		
		.dtree a.node, .dtree a.nodeSel {
			line-height: 20px !important;
			padding: 10px 2px !important;
		}
        
        .contentMenuIcons SELECT
        {
        	font-size: 10px;
        	padding: 0px;
        	margin: 0px;
        }

	SELECT
	{
		font-size: 11px;
	}        

        INPUT[type=text], INPUT[type=password]
        {
        	border: 1px solid #87BEDF;
        	min-height: 20px;
        	padding-left: 2px;
			line-height: 30px;
			margin-bottom: 5px;
			border-radius: 0;
			-webkit-border-radius: 0;

			box-shadow: inset 2px 2px 2px #EEE;
			-moz-box-shadow: inset 2px 2px 2px #EEE;
			-webkit-box-shadow: inset 2px 2px 2px #EEE;
        }

		INPUT[type=submit], INPUT[type=button], INPUT[type=reset], BUTTON
		{
			-webkit-appearance: none;
			margin: 2px;
			font-weight: bold;
			font-size: 16px;
			border: 1px solid #AAAAAA;
			padding: 5px 11px;
			color: #333333;
			text-decoration: none;
			background: #DDDDDD;
			
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			
			background: #ffffff;
			
		}
		#mailReadScrollContainer button {
			width: 40%;	
		}
		input[disabled="disabled"] {
			opacity: 0.5;
		}
		
        .smallInput[type=submit], .smallInput[type=reset], .smallInput[type=button], #contentHeader BUTTON, #contentFooter BUTTON, .contentFooter BUTTON, .contentHeader BUTTON, #mainToolbar BUTTON
        {
        	font-weight: normal;
        	font-size: 10px;
        	padding: 4px 10px;

        	border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			
			min-height: 18px;
        }

		.smallInput[type=text]
		{
			min-height: 16px;
			font-size: 11px;
		}
        
        #mainToolbar BUTTON
        {
        	padding: 0px;
        	margin: 0px;
		line-height: 12px;
        	
        	border: 1px solid #AAA;
        	
			box-shadow: inset 0px 0px 2px #FFF;
			-moz-box-shadow: inset 0px 0px 2px #FFF;
			-webkit-box-shadow: inset 0px 0px 2px #FFF;
        	
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDE95', endColorstr='#FFB100');
			background: -moz-linear-gradient(top,  #FFDE95,  #FFB100);
			background: -webkit-gradient(linear, left top, left bottom, from(#FFDE95), to(#FFB100));
			background: -o-linear-gradient(top,  #FFDE95,  #FFB100);
        }
        
        INPUT[type=submit]:active, BUTTON:active, .smallInput[type=button]:active, INPUT[type=button]:active, INPUT[type=reset]:active, #contentHeader BUTTON:active, .contentHeader BUTTON:active, .contentFooter BUTTON:active, #contentFooter BUTTON:active
        {
        	background: #CCCCCC; 
        	
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
			background: -moz-linear-gradient(top,  #EEEEEE,  #CCCCCC);
			background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
			background: -o-linear-gradient(top,  #EEEEEE,  #CCCCCC);
        } 
        

		FIELDSET
		{
			border: 1px solid #DDDDDD;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-khtml-border-radius: 3px;
		}

		#mainTable
		{
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
		}
		#mainTableLeftTD
		{
			background-color: #FFFFFF;
		}
		#mainTableRightTD
		{
			width: 60px;
			background-image: url(../images/li/n_shade.png);
			background-repeat: repeat-y;
		}
		#headerTable
		{
            width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
		}
		#headerLogoTable
		{
            width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
			height: 105px;
			background-image: url(../images/li/n_head_bg.png);
		}
		#headerLogoTD
		{
			height: 105px;
			width: 411px;
			background: url(../images/li/n_head_bg_left.png) no-repeat;
		}
		#headerTitleTD
		{
			text-align: right;
			height: 105px;
			color: #FFFFFF;
			font-size: 34px;
			padding-right: 30px;
		}
		.headerTabTD
		{
			background-image: url(../images/li/n_tab_bg.png);
			vertical-align: middle;
			height: 28px;
		}
		#headerToolbarTD
		{
			background-color: #B9BABB;
			height: 25px;
			vertical-align: middle;
			color: #FEFEFE;
		}
		#headerToolbarTD a
		{
			color: #FFFFFF;
		}
		#headerToolbarTD a:hover
		{
			color: #EFEFEF;
		}
		#headerLogo
		{
			position: absolute;
			top: 5px;
			left: 10px;
		}
        #tabTable
        {
            height: 28px;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        #tabTableRight
        {
            height: 28px;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        .tabSpacer
        {
            width: 3px;
        }
        .tabActive
        {
            background-image: url(../images/li/n_tab_bg_active.png);
            padding-left: 6px;
            padding-right: 6px;
            font-size: 11px;
        }
        .tabActive A
        {
        	color: #FFFFFF;
        }
        .tabActive A:hover
        {
        	color: #FFFFFF;
        }
        .tab
        {
            background-image: url(../images/li/n_tab_bg.png);
            padding-left: 6px;
            padding-right: 6px;
            font-size: 11px;
        }
        .tab a
        {
            color: #444444;
        }
	
		#searchPopup
		{
			position: absolute;
			top: 80px;
			width: 320px;
			right: 0px;
			border: 1px solid #999999;
        	background: url(../images/li/buttonbox_bg.gif);
        	
        	box-shadow: 2px 2px 10px #ccc;
        	-webkit-box-shadow: 2px 2px 10px #ccc;
        	-moz-box-shadow: 2px 2px 10px #ccc;
		}
		#searchResults
		{
			border-top: 1px solid #999999;
			background-color: #FFFFFF;
		}
		#q {
			margin-top: 10px;			
			display: block;
			width: 100%;
		}
		#searchForm {	
			display: block;
			padding-left: 20px;
			padding-right: 20px;
		}
		.resultLeft
		{
			background-color: #F3F3F3;
			border-right: 1px solid #E1E1E1;
			color: #666666;
			text-align: right;
			padding-left: 6px;
			padding-right: 6px;
		}
		.resultRight
		{
			background-color: #FFFFFF;
			padding-left: 6px;
			padding-right: 6px;
        	cursor: hand;
        	cursor: pointer;
		}
		.resultRight:hover
		{
			background-color: #F5F5F5;
		}
		
		#__olBackground
		{
			background-image: url(../images/overlay.png);
			overflow-x: hidden;
		}
		.__olContainer
		{
			background-color: #FFFFFF;
        	border: 1px solid #999;
			top: 50px !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			display: block;
			overflow: auto;
			height: auto !important;
			width: auto !important;
        	
			box-shadow: 6px 6px 20px #333;
			-webkit-box-shadow: 6px 6px 20px #333;
			-moz-box-shadow: 6px 6px 20px #333;
		}
		.__olContent
		{
			background-color: #ffffff;
			padding-bottom: 30px !important;
		}
		
		.__olContent iframe {
			height: 200%;
		}
		.__olCaption
		{
        	font-weight: normal;
        	height: 20px;
        	padding-top: 5px;
        	text-align: center;
        	border-bottom: 1px solid #999;
        	text-shadow: 1px 1px #FFF;
        	color: #333;
			display: none;
        }
        .__olShadow
        {
        }
		.mobile-overlay-heading {
			padding-left: 10px;
			padding-top: 10px;
			border-bottom: 1px solid #e0e0e0;
			color: #aa1b1b;
			font-size: 14px;
			font-weight: bold;
		}

        H1
        {
        	font-size: 14px;
        	color: #333333;
			text-shadow: 0px 1px 0px #EEEEEE;
        }
        H2
        {
        	font-size: 12px;
        	font-weight: bold;
        	margin-top: 20px;
        	color: #333333;
			text-shadow: 0px 1px 0px #EEEEEE;
        }
        FORM
        {
        	display: inline;
        	padding: 0px;
        	margin: 0px;
        }
        .textInput
        {
        	width: 100%;
        	height: 120px;
        }
        .invalidField[type=checkbox]
        {
        	outline: 4px solid #FF9999;
        }
		.invalidField
		{
			background-color: #FF9999;
		}
        .pageNav
        {
        }
        
        .btnImg
        {
        	margin-bottom: 1px;
        }
        .mailPlainText
        {
        	border: 1px solid #DDDDDD;
        	padding: 4px;
        	overflow-y: scroll;
        }
        .mailHTMLText
        {
        	width: 100%;
        }
        .mailAddressLink
        {
        	border: 1px solid #FFFFFF;
        	padding: 1px;
        	padding-right: 14px;
        	background-image: none;
        	text-decoration: underline;
        }
        .mailAddressLink:hover
        {
        	border: 1px solid #6D95E0;
        	padding: 1px;
        	background-color: #BBCEF1;
        	color: #000000;
        	padding-right: 14px;
        	background-image: url(../images/li/mailarrow_down.gif);
        	background-repeat: no-repeat;
        	background-position: right;
        }
        .attDiv
        {
        	border-top: 1px solid #DDDDDD;
        	padding: 3px;
        }
        
        .mailMenu
        {
        	background-color: #FFFFFF;
        	border: 1px solid #DDDDDD;
        	min-width: 140px;
        	
			box-shadow: 2px 2px 3px #CCC;
			-webkit-box-shadow: 2px 2px 3px #CCC;
			-moz-box-shadow: 2px 2px 3px #CCC;
        }
        .mailMenuItem
        {
        	display: block;
        	background-color: #FFFFFF;
        	padding: 3px;
        	color: #666666;
        }
        .mailMenuItem:hover
        {
        	display: block;
        	background-color: #F3F3F3;
        	padding: 3px;
        	color: #000000;
        }
        .mailMenuSep
        {
        	height: 1px;
        	background-color: #DDDDDD;
        }
		
		.mailColor_0
        {
        	border: 1px solid #EFEFEF;
        }
		.mailColor_1
        {
        	background-color: #3D81EB;
        	color: #FFF;
        }
        .mailColor_1 .subject, .mailColor_1 .sender, .mailColor_1 .date { color: #FFF; }
        .mailColor_2
        {
        	background-color: #5DB747;
        	color: #FFF;
        }
        .mailColor_2 .subject, .mailColor_2 .sender, .mailColor_2 .date { color: #FFF; }
        .mailColor_3
        {
        	background-color: #FA514A;
        	color: #FFF;
        }
        .mailColor_3 .subject, .mailColor_3 .sender, .mailColor_3 .date { color: #FFF; }
        .mailColor_4
        {
        	background-color: #FD9530;
        	color: #FFF;
        }
        .mailColor_4 .subject, .mailColor_4 .sender, .mailColor_4 .date { color: #FFF; }
        .mailColor_5
        {
        	background-color: #C358BF;
        	color: #FFF;
        }
        .mailColor_5 .subject, .mailColor_5 .sender, .mailColor_5 .date { color: #FFF; }
        .mailColor_6
        {
        	background-color: #8A74D3;
        	color: #FFF;
        }
        .mailColor_6 .subject, .mailColor_6 .sender, .mailColor_6 .date { color: #FFF; }
        .mailColor_1 A 		 { color: #FFF; }
        .mailColor_1 A:hover { color: #EFEFEF; }
        .mailColor_2 A 		 { color: #FFF; }
        .mailColor_2 A:hover { color: #EFEFEF; }
        .mailColor_3 A 		 { color: #FFF; }
        .mailColor_3 A:hover { color: #EFEFEF; }
        .mailColor_4 A 		 { color: #FFF; }
        .mailColor_4 A:hover { color: #EFEFEF; }
        .mailColor_5 A 		 { color: #FFF; }
        .mailColor_5 A:hover { color: #EFEFEF; }
        .mailColor_6 A 		 { color: #FFF; }
        .mailColor_6 A:hover { color: #EFEFEF; }
		
		.mailColorButtons
		{
			text-align: center;
			padding: 4px;
		}
		.mailColorButtons IMG
		{
			padding: 0px;
			width: 14px;
			height: 14px;
			vertical-align: middle;
		}
		.mailColorButtons SPAN
		{
			background-image: url(../images/li/mailcolors.png);
			background-repeat: no-repeat;
			padding: 0px;
			cursor: hand;
			cursor: pointer;
			display: inline-block;
		}
		
		.mailColorButton_1			{ background-position: -14px 0px; }
		.mailColorButton_1:hover	{ background-position: 0px 0px; }
		.mailColorButton_1_a		{ background-position: 0px 0px; }
		.mailColorButton_2			{ background-position: -14px -14px; }
		.mailColorButton_2:hover	{ background-position: 0px -14px; }
		.mailColorButton_2_a		{ background-position: 0px -14px; }
		.mailColorButton_3			{ background-position: -14px -28px; }
		.mailColorButton_3:hover	{ background-position: 0px -28px; }
		.mailColorButton_3_a		{ background-position: 0px -28px; }
		.mailColorButton_4			{ background-position: -14px -42px; }
		.mailColorButton_4:hover	{ background-position: 0px -42px; }
		.mailColorButton_4_a		{ background-position: 0px -42px; }
		.mailColorButton_5			{ background-position: -14px -56px; }
		.mailColorButton_5:hover	{ background-position: 0px -56px; }
		.mailColorButton_5_a		{ background-position: 0px -56px; }
		.mailColorButton_6			{ background-position: -14px -70px; }
		.mailColorButton_6:hover	{ background-position: 0px -70px; }
		.mailColorButton_6_a		{ background-position: 0px -70px; }
		.mailColorButton_0			{ background-position: -14px -84px; }
		.mailColorButton_0:hover	{ background-position: 0px -84px; }
		.mailColorButton_0_a		{ background-position: 0px -84px; }
		
        .unreadMail
        {
        	font-weight: bold;
        }
        .readMail
        {
        	font-weight: normal;
        }
        
        .headerTable
        {
            background-image: url(../images/li/head_bg.png);
            width: 100%;
            height: 138px;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        .headerTD
        {
            height: 109px;
            vertical-align: bottom;
            text-align: left;
        }
        .headerLogoTD
        {
            width: 100px;
            text-align: left;
        }
        .headerLogoFontTD
        {
        	text-align: right;
        }
        .headerTextTD
        {
        	height: 29px;
            padding-left: 8px;
        }
        .copyrightDiv
        {
            color: #666666;
            font-size: 11px;
        }
        
        .contentTable
        {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0px;
        }
        .contentTD
        {
            vertical-align: top;
        }
        .contentDiv
        {
            padding: 5px;
        }
        .contentMenuTD
        {
            width: 218px;
            vertical-align: top;
        }
        #contentMenuTDContent
        {
        	border-left: 1px solid #DDDDDD;
            background-color: #EFEFEF;
        }
        .contentSpacerTD
        {
        	width: 15px;
        }
        
        A
        {
            text-decoration: none;
            color: #000000;
        }
        A:hover
        {
            text-decoration: none;
            color: #999999;
        }
        
        .menuAddText
        {
            color: #666666;
            font-weight: bold;
        }
    
        .listTable
        {
        	border-spacing: 0px;
            border-collapse: collapse;
        	/*border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;*/
        	width: 100%;
        }
		.listTable fieldset a {
			font-size: 15px;
			line-height: 30px;
		}
        .listTableHead
        {
        	font-weight: normal;
        	height: 25px;
        	vertical-align: middle;
        	border-bottom: 1px solid #DDDDDD;
        }
        .listTableLeft
        {
        	height: 26px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	padding-top: 3px;
        	text-align: left;
          	border-right: 1px solid #DDDDDD;
            vertical-align: top;
        }
		.mob .listTableLeft {
			width: 100%;
			border-right: none;
		}
		.listTableLeft label {
			font-weight: bold;
			line-height: 36px;
		}
        .listTableTHLeft
        {
        	height: 26px;
        	text-align: left;
        	background-color: #F3F3F3;
        	border-bottom: 1px solid #DDDDDD;
            vertical-align: middle;
            padding-left: 5px;
        }
        .listTableTHRight
        {
        	height: 26px;
        	text-align: right;
        	background-color: #F3F3F3;
        	border-bottom: 1px solid #DDDDDD;
            vertical-align: middle;
            padding-right: 5px;
        }
        .listTableLeft2
        {
        	height: 26px;
        	text-align: left;
            vertical-align: middle;
            padding-left: 5px;
        }
        .listTableRight2
        {
        	height: 26px;
        	text-align: right;
            vertical-align: middle;
            padding-right: 5px;
        }
        .listTableDB
        {
        	height: 26px;
        	padding-left: 5px;
        	padding-right: 5px;
        	padding-top: 3px;
        	text-align: center;
        	background-color: #F3F3F3;
        	border-right: 1px solid #DDDDDD;
        	border-left: 1px solid #DDDDDD;
            vertical-align: top;
        }
        .listTableLeftDesc
        {
        	height: 22px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	text-align: right;
        	background-color: #F3F3F3;
            vertical-align: middle;
        }
        .listTableLeftDescTopLine
        {
        	height: 22px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	text-align: right;
        	background-color: #F3F3F3;
            vertical-align: middle;
            border-top: 1px solid #DDDDDD;
        }
        .listTableLeftDescBottomLine
        {
        	height: 22px;
        	width: 20%;
        	padding-left: 5px;
        	padding-right: 5px;
        	text-align: right;
        	background-color: #F3F3F3;
            vertical-align: middle;
            border-bottom: 1px solid #DDDDDD;
        }
        .listTableSide
        {
        	width: 25px;
        	text-align: center;
        	vertical-align: middle;
        	background-color: #F3F3F3;
        	border-left: 1px solid #DDDDDD;
        }
        .listTableSide a
        {
        	display: block;
        }
        .listTableIconSide
        {
        	width: 52px;
        	text-align: center;
        	vertical-align: middle;
        	background-color: #F3F3F3;
        	border-right: 1px solid #DDDDDD;
        	padding: 2px;
        }
        .listTableRight
        {
        	padding-left: 10px;
        	padding-right: 20px;
        	padding-top: 3px;
        	text-align: left;
            vertical-align: top;
        }
        .listTableRightDesc
        {
        	/*border-top: 1px solid #DDDDDD;*/
        	border-bottom: 1px solid #DDDDDD;
           	padding-left: 10px;
        	padding-right: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			color: #771313;
			font-weight: bold;
			font-size: 16px;
        	text-align: left;
            vertical-align: middle;
        }
        .listTableRightest
        {
        	height: 26px;
        	padding-left: 5px;
        	padding-right: 5px;
        	padding-top: 3px;
        	text-align: center;
        	background-color: #F3F3F3;
        	border-left: 1px solid #DDDDDD;
            vertical-align: top;
        }
        .listTableTD
        {
        	background-color: #FFFFFF;
        	vertical-align: middle;
        	text-align: left;
        	height: 50px;
        }
        .listTableTD2
        {
        	background-color: #F9F9F9;
        	vertical-align: middle;
        	text-align: left;
        	height: 50px;
        }
		.listTBody .listTableTD {
			height: 50px;	
		}
        .listTableTR
        {
        	background-color: #FFFFFF;
        	vertical-align: middle;
        	text-align: left;
        	height: 50px;
        }
        .listTableTR:hover
        {
        	background-color: #EFEFEF;
        }
        .listTableTR2
        {
        	background-color: #F9F9F9;
        	vertical-align: middle;
        	text-align: left;
        	height: 50px;
        }
        .listTableTR2:hover
        {
        	background-color: #EFEFEF;
        }
        .listTableTDActive
        {
        	background-color: #F3F3F3;
        	border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	vertical-align: middle;
        	text-align: left;
        }
        .listTableTDActiveH
        {
        	background-color: #F3F3F3;
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        	vertical-align: middle;
        	text-align: left;
        }
        .listTableTDText
        {
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        	padding: 4px;
        }
        .listTableFoot
        {
        	border-top: 1px solid #DDDDDD;
        	height: 26px;
        	padding-left: 5px;
        	padding-right: 5px;
        }
        .listTBody
        {
        }
        .listTableTabCell
        {
        	border-bottom: 1px solid #DDDDDD;
        	vertical-align: bottom;
        	padding: 0px;
        	height: 16px;
        }
        
        .ltActiveTab
        {
        	padding-right: 5px;
        	padding-left: 5px;
        	padding-top: 5px;
        	text-align: center;
        	width: 100px;
        	border-top: 1px solid #DDDDDD;
        	border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	display: inline;
        	background-color: #FFFFFF;
        }
        .ltActiveTab:hover
        {
        	background-color: #F1F1F1;
        }
        .ltInActiveTab
        {
        	padding-right: 5px;
        	padding-left: 5px;
        	padding-top: 2px;
        	text-align: center;
        	width: 100px;
        	border-top: 1px solid #DDDDDD;
        	border-left: 1px solid #DDDDDD;
        	border-right: 1px solid #DDDDDD;
        	display: inline;
        }
        .ltInActiveTab:hover
        {
        	padding-top: 5px;
        	background-color: #F1F1F1;
        }
        
        .cfgTableTD1
        {
        	width: 120px;
        	text-align: right;
        	font-weight: bold;
        	height: 22px;
        }
        .cfgTableTD2
        {
        	text-align: left;
        }
        
        /* ******************************************************************* */
		#wdDnDNote
		{
			position: absolute;
			bottom: 25px;
			right: 20px;
			color: #AAA;
			font-size: 12px;
			text-shadow: 0px 1px 0px #EEEEEE;
			padding: 10px;
		}

        .wdSelLink
        {
        	color: #666666;
		}
		.wdMassAction
		{
			margin-top: 15px;
		}
		.wdIconTable
		{
		}
		.webdiskRow
		{
			
		}
		.webdiskRowSelected
		{
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDA8A', endColorstr='#FFB205');
			background: -moz-linear-gradient(top,  #FFDA8A,  #FFB205);
			background: -webkit-gradient(linear, left top, left bottom, from(#FFDA8A), to(#FFB205));
			background: -o-linear-gradient(top,  #FFDA8A,  #FFB205);
		}
        .webdiskItem
        {
        	cursor: default;
        	width: 100%;
        	display: block;
        	background-color: transparent;
        	border: 1px solid transparent;
        	padding-bottom: 5px;
        	padding-top: 5px;
        }
        .webdiskItem:hover
        {
        	cursor: default;
        	width: 100%;
        	display: block;
        	background-color: #F3F3F3;
        	border: 1px solid #DDDDDD;
        	padding-bottom: 5px;
        	padding-top: 5px;
        }
        .webdiskItemSelected
        {
        	cursor: default;
        	width: 100%;
        	display: block;
        	background-color: #EEEEEE;
        	border: 1px solid #CCCCCC;
        	padding-bottom: 5px;
        	padding-top: 5px;
        }
        .webdiskDetailInfo
        {
        	padding: 5px;
        	font-size: 11px;
        }
        .infoIcons
        {
        	padding: 6px;
        	line-height: 20px;
        }
        
		.progressBar
		{
			height: 11px;
			background-color: #FFFFFF;
			border-collapse: collapse;
			border: 1px solid #858585;
			text-align: left;
			
			border-radius: 2px;
			-moz-border-radius: 2px;
			
			box-shadow: inset 0px 1px 1px #CCC;
			-webkit-box-shadow: inset 0px 1px 1px #CCC;
			-moz-box-shadow: inset 0px 1px 1px #CCC;
			-khtml-box-shadow: inset 0px 1px 1px #CCC;
			
		}
		.progressBarValue
		{
			background-color: #0000AB;
			background-image: url(../images/li/pb_value_bg.png);
			height: 9px;
			margin: 1px;
			background-position: 0px -1px;
		}
		
        /* ******************************************************************* */
		.miniCalendarTable
		{
			border: 1px solid #DDDDDD;
			border-collapse: collapse;
		}
		.miniCalendarTable.inWidget
		{
			width: 100%;
			height: 180px;
		}
		.miniCalendarTable TH
		{
			text-align: center;
			background-color: #FFB205;
			font-size: 10px;
			color: #FEFEFE;
			font-weight: normal;
		}
		.miniCalendarTable TH.Caption
		{
			background-color: #FFB205;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDA8A', endColorstr='#FFB205');
			background: -moz-linear-gradient(top,  #FFDA8A,  #FFB205);
			background: -webkit-gradient(linear, left top, left bottom, from(#FFDA8A), to(#FFB205));
			background: -o-linear-gradient(top,  #FFDA8A,  #FFB205);
			font-weight: bold;
			text-align: left;
			font-size: 14px;
			padding: 4px;
			padding-left: 8px;
			text-shadow: 0px 1px 0px #AAA;
		}
		.miniCalendarTable TH.Caption A
		{
			color: #FFF;
		}
		.miniCalendarTable TD
		{
			text-align: center;
			border: 1px solid #DDDDDD;
			padding: 2px;
			font-size: 11px;
			background-color: #FFF;
			padding: 5px;
		}
		.miniCalendarTable TD.Empty
		{
			background-color: #EFEFEF;
		}
		.miniCalendarTable TD.Date
		{
			font-weight: bold;
			background-color: #FFE87C;
		}
		.miniCalendarTable TD.Date A
		{
			color: #888;
		}
		.miniCalendarTable TD.Today
		{
			background-color: #FFB205;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDA8A', endColorstr='#FFB205');
			background: -moz-linear-gradient(top,  #FFDA8A,  #FFB205);
			background: -webkit-gradient(linear, left top, left bottom, from(#FFDA8A), to(#FFB205));
			background: -o-linear-gradient(top,  #FFDA8A,  #FFB205);
			font-weight: bold;
			text-shadow: 0px 1px 0px #AAA;
		}
		.miniCalendarTable TD.Today A
		{
			color: #FFF;
		}
		
		.clndrWdgtDates
		{
			margin-top: 0.5em;
			padding-top: 0.5em;
			border-top: 1px solid #CCC;
		}
		
		.clndrWdgtDates UL
		{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		
		.clndrWdgtDates UL LI .date
		{
			font-size: 10px;
			color: #666;
			line-height: 1.5em;
			display: inline-block;
			width: 60px;
		}
		
		.clndrWdgtDates UL LI A
		{
			font-size: 12px;
		}	

		
		.innerWidget.notePreview
		{
			height: 150px;
			overflow-y: scroll;
		}
		
		#notePreview
		{
			padding: 1em;
			font-size: 14px;
			margin-top: 32px;
			word-wrap: break-word;
		}
		
        /* ******************************************************************* */
        .abLink
        {
        	border: 1px solid #DDDDDD;
        	padding-left: 3px;
        	padding-right: 3px;
        }
        .abLink:hover
        {
        	border: 1px solid #DDDDDD;
        	padding-left: 3px;
        	padding-right: 3px;
        	background-color: #FFFFFF;        	
        }
        
        /* ******************************************************************* */
        .folderGroup
        {
        	height: 23px;
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #CCCCCC;
        	background-color: #F2F2F2;
        }
        .mailBox
        {
        	border: 1px solid #DDDDDD;
        	padding: 3px
        }
        .mailButtonBox
        {
        	border: 1px solid #DDDDDD;
        	background: url(../images/li/buttonbox_bg.gif);
        	padding: 6px;
        	text-align: center;
        	line-height: 23px;
        }
        .button
        {
        	border: 1px solid #CCC;
        	background-color: #FFF;
        	padding-top: 3px;
			padding-left: 5px;
			padding-right: 5px;
        	padding-bottom: 5px;
        }
        .button:hover
        {
			color: #444;
        	border: 1px solid #AAA;
        	
			box-shadow: inset 0px 1px 2px #DDD;
			-webkit-box-shadow: inset 0px 1px 2px #DDD;
			-moz-box-shadow: inset 0px 1px 2px #DDD;
			-khtml-box-shadow: inset 0px 1px 2px #DDD;
        }
        .mailNote
        {
        	border: 1px solid #DDD;
        	background-color: #FFFFCC;
        	border-radius: 8px;
        	-moz-border-radius: 8px;
        	padding: 0.4em;
        	margin-bottom: 0.5em;
        	
        	text-indent: -25px;
        	padding-left: 25px;
        }
        .mailNote a
        {
        	color: #666666;
        }
        .mailNote a:hover
        {
        	text-decoration: underline;
        }
        .mailWarning
        {
        	border: 1px solid #DDD;
        	background-color: #F3B4B4;
        	border-radius: 10px;
        	-moz-border-radius: 10px;
        	padding: 0.4em;
        	margin-bottom: 0.5em;
        	
        	text-indent: -25px;
        	padding-left: 25px;
        }
        .mailWarning a
        {
        	color: #666666;
        }
        .mailWarning a:hover
        {
        	text-decoration: underline;
        }
        .preview
        {
        	margin: 0.5em;
        }
        
        /* ******************************************************************* */
		#dc_startBoxesdragItem_BMPlugin_Widget_WebdiskDND {
			display: none;
		}
		#BMPlugin_Widget_Websearch input[type="submit"] {
			margin-left: 10px;
			margin-top: -4px;	
		}
        .dragTable
        {
        	width: 100%;
        }
        .dragTableColumn
        {
        	vertical-align: top;
			float: left;
			width: 100% !important;
        }
        .dragItem
        {
        	border-spacing: 0px;
            border-collapse: collapse;
        	border: 1px solid #CCC;
        	background-color: #FFFFFF;
			margin: 10px;
			box-shadow: 0 0 5px #999999;
			-webkit-box-shadow: 0 0 5px #999999;
        }
        .dragBar
        {
        	font-weight: normal;
			font-size: 13px;
			text-align: center;
        	padding-top: 4px;
        	padding-left: 5px;
        	height: 25px;
        	vertical-align: middle;
        	cursor: default;
        }
		
		.dragBar div img {
			display: none;
		}
		
        .dragBar A
        {
        	cursor: hand;
        	cursor: pointer;
        }
        .dragTargetInactive
        {
        }
        .dragTargetActive
        {
        	border: 2px dashed #999999;
        }
        .innerWidget
        {
        	padding: 10px;
			font-size: 14px;
			line-height: 22px;
        }
        
        .activeFolder
        {
        	font-weight: bold;
        }
        
        .conditionIFrame
        {
        	border: 1px solid #DDDDDD;
        }
        .linkBox
        {
        	padding: 3px;
        }
        
        .conditionBox1
        {
        	height: 30px;
        	background-color: #EFF7FF;
        }        
        .conditionBox2
        {
        	height: 30px;
        	background-color: #FFFFFF;
        }
		#composeText {
			position: absolute;
			left: 0;
			right: 0;
			width: auto !important;
			padding: 10px;
		}
        
        .composeTextarea
        {
        	width: 100%;
        	height: 320px;
        	border: 0px;
        	font-family: verdana, 'courier new', courier;
        	font-size: 16px;
        	overflow-y: scroll;
        	margin: 0;
        	padding-bottom: 5px 5px 40px 5px;
			border: 1px solid #604444;			
        }
        .composeTextarea.lineSep
        {
        	background-image: url(../images/li/compose_bg.png);
        	background-repeat: repeat-y;
        }
        .listTableCompose
        {
        	padding: 0px;
        	margin: 0px;
        }
        
        .composeIFrame
        {
        	width: 100%;
        	height: 320px;
        	border: 0px;
        	font-family: verdana, 'courier new', courier;
        	font-size: 12px;
        	overflow-y: scroll;
        	cursor: text;
        }
        
        /* ******************************************************************* */
        .editorToolbar
        {
        	background-color: #F6F6F9;
        	padding-top: 3px;
        	padding-bottom: 1px;
        	padding-left: 5px;
        	border-bottom: 1px solid #E1E1E1;
        }
        .editorToolbar a
        {
        	text-decoration: none;
   			background-color: #F6F6F9;
        }
        .editorToolbar a:hover
        {
        	text-decoration: none;
        	background-color: #F3F3F3;
        }
     
        /* ******************************************************************* */
        .completeDiv
        {
        	border: 1px solid #999999;
        	background-color: #FFFFFF;
        	max-height: 90px;
        	overflow-x: hidden;
        	overflow-y: auto;
        }
        .suggestionInactive
        {
        	color: #000000;
        	background-color: #FFFFFF;
        	line-height: 18px;
        }
        .suggestionActive
        {
        	color: #FFFFFF;
        	background-color: #3875D7;
        	line-height: 18px;
        }
        
        /* ******************************************************************* */
        .wgTableMemberTD
        {
        	padding-left: 38px;
        }
        .wgTableTD
        {
        }
        .wgTableTB
        {
        	border-top: 1px solid #DDDDDD;
        	border-bottom: 1px solid #DDDDDD;
        }
        
        /* ******************************************************************* */
        .htmlEditorToolbarDiv
        {
        	background-color: #F3F3F3;
        	border-bottom: 1px solid #DDDDDD;
			display: none;
        }
        .htmlEditorToolbarButton
        {
        }
        .htmlEditorToolbarLink
        {
        	background-color: #F3F3F3;
        }
        .htmlEditorToolbarLink:hover
        {
        	background-color: #EAEAEA;
        }
        .htmlEditorColorDiv
        {
        	background-color: #FAFAFA;
        	border: 1px solid #DDDDDD;
        	width: 120px;
			padding: 4px;
        	position: absolute;
        }
		.htmlEditorColorButton
		{
			margin: 2px;
			cursor: hand;
			cursor: pointer;
			border: 1px solid #DDDDDD;
			float: left;
			width: 14px;
			height: 14px;
		}
		.htmlEditorColorButton:hover
		{
			border: 1px solid #BBBBBB;
		}
        .htmlEditorSmileyDiv
        {
        	background-color: #FAFAFA;
        	border: 1px solid #DDDDDD;
        	width: 120px;
        	height: 160px;
        	position: absolute;
        	overflow-x: hidden;
        	overflow-y: auto;
        }
        .htmlEditorSmileyImg
        {
        	margin: 3px;
        	cursor: hand;
        	cursor: pointer;
		}
        
        /* ******************************************************************* */
        .monthCell
        {
        	border: 1px solid #DDDDDD;
        	padding: 2px;
        	height: 80px;
        }
        .monthCell:hover
        {
        	background-color: #F2F2F2;
        }
        .monthCellDay
        {
        	line-height: 18px;
        	margin-bottom: 3px;
        	border-bottom: 1px dashed #DDDDDD;
        	text-align: right;
        	cursor: hand;
        	cursor: pointer;
        	padding-right: 5px;
        }
        .monthCellDay:hover
        {
        	line-height: 18px;
        	margin-bottom: 3px;
        	border-bottom: 1px solid #DDDDDD;
        	text-align: right;
        	cursor: hand;
        	cursor: pointer;
        	background-color: #FFFFFF;
        	padding-right: 5px;
        }
        .monthCellToday
        {
        	background-color: #EDF3FA;
        	border: 1px solid #DDDDDD;
        	padding: 2px;
        	height: 80px;
        }
        
        .monthDate_0
        {
        	background-color: #3D81EB;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_1
        {
        	background-color: #5DB747;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_2
        {
        	background-color: #FA514A;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_3
        {
        	background-color: #FD9530;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_4
        {
        	background-color: #C358BF;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        	cursor: pointer;
        }
        .monthDate_5
        {
        	background-color: #8A74D3;
        	color: #FFFFFF;
        	margin-top: 1px;
        	padding: 1px;
        	font-size: 11px;
        	cursor: hand;
        }
        
        .calendarDate_0
        {
        	border: 1px solid #0056D5;
        	background-color: #3D81EB;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_1
        {
        	border: 1px solid #289E0A;
        	background-color: #5DB747;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_2
        {
        	border: 1px solid #E82415;
        	background-color: #FA514A;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_3
        {
        	border: 1px solid #F77A00;
        	background-color: #FD9530;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_4
        {
        	border: 1px solid #B231AE;
        	background-color: #C358BF;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }
        .calendarDate_5
        {
        	border: 1px solid #4A30A1;
        	background-color: #8A74D3;
        	color: #FFFFFF;
        	cursor: hand;
        	cursor: pointer;
        	padding: 4px;
        	margin: 2px;
        }

		.calendarWeekBody
		{
			overflow: auto;
			width: 100%;
			height: auto !important;
		}
		.calendarWeekCell
		{
			border-right: 1px solid #B3B8BD;
		}
		.calendarWeekDayCaption
		{
			text-align: center;
			height: 20px;
			border-right: 1px solid #B3B8BD;
		}
        
        .calendarWholeDayBody
        {
        	width: 100%;
        	border-collapse: collapse;
        }
        .calendarWholeDayCell
        {
        	background-color: #E0E6ED;
        	height: 30px;
        }
        .calendarDayBody
        {
        	overflow-y: auto;
        	overflow-x: hidden;
        	height: 480px;
        	width: 100%;
        	border-collapse: collapse;
        }
        .calendarDayCell
        {
        	background-color: #E0E6ED;
        	height: 20px;
        	border-top: 1px solid #B3B8BD;
        }
        .calendarDayCell2
        {
        	background-color: #E0E6ED;
        	height: 20px;
        	/*border-top: 1px solid #D4DAE0;*/
        }
        .calendarDayCell_day
        {
        	background-color: #EDF3FA;
        	height: 20px;
        	border-top: 1px solid #B3B8BD;
        }
        .calendarDayCell2_day
        {
        	background-color: #EDF3FA;
        	height: 20px;
        	/*border-top: 1px solid #D4DAE0;*/
        }
        .calendarDayTimeCell
        {
        	width: 40px;
        	vertical-align: top;
        }
        .calendarDayTimeCellText
        {
        	font-size: 10px;
        	text-align: right;
        	padding-right: 5px;
        }
        .calendarDaySepCell
        {
        	width: 2px;
        	border-left: 1px solid #B3B8BD;
        	border-right: 1px solid #B3B8BD;
        }
        .calendarDaySepCell2
        {
        	width: 1px;
        	background-color: #E0E6ED;
        }
        .calendarWholeDayTD
        {
        	border-bottom: 1px solid #DDDDDD;
        }

        /* ******************************************************************* */
		#tasksTable TR
		{
			border-bottom: 1px dotted #CCC;
			height: 50px;
			cursor: default;
		}
		#tasksTable TR.done
		{
			opacity: 0.45;
			filter: alpha(opacity=45);
		}		
		#taskListContainer {
			width: 0;	
		}
		#newTask {
			display: none;	
		}
		.taskLists
		{
			left: 0px;
			top: 0px;
			bottom: 0px;
			height: 100%;
			width: 100%;
			overflow: auto;
			border-right: 1px solid #CCC;
		}
		.taskLists .taskList
		{
			display: block;
			padding: 1em;
			border-bottom: 1px solid #DDD;
			
			background-color: #F9F9F9;
		}
		.taskLists .taskList IMG
		{
			float: right;
			display: none;
		}
		.taskLists .taskList.selected IMG
		{
			display: block;
		}
		.taskLists .taskList.selected
		{
			font-weight: bold;
			color: #FFF;
			background: #4586E0;
		}
		.taskContainer
		{
			top: 0px;
			left: 0px;
			right: 0px;
			width: 100%;
		}		
		
        /* ******************************************************************* */
		.addressContents
		{
			position: absolute;
			left: 0px;
			top: 0px;
			bottom: 0px;
			background-color: #FFF;
		}
		#addrIDs {
			display: none !important;
		}
		.addressPreview
		{
			position: absolute;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
		.addressPreview .padContainer
		{
			padding: 1em;
			margin-top: 1em;
		}
		.addressPreview TABLE
		{
			width: 100%;
		}
		.addressPreview H1
		{
			font-size: 16px;
			font-weight: bold;
			margin: auto;
		}
		.addressPreview TH
		{
			width: 100px;
			padding-right: 15px;
			text-align: right;
			color: #666;
			font-weight: bold;
			vertical-align: top;
		}
		.addressPreview TH.picture DIV
		{
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 45px;
			height: 45px;
			margin-left: auto;
			margin-bottom: 1.5em;
			box-shadow: 0 0 5px #333;
			-moz-box-shadow: 0 0 5px #333;
			-webkit-box-shadow: 0 0 5px #333;
		}
		.addressPreview TD
		{
			vertical-align: top;
		}
		.addressPreview .spacer
		{
			height: 0.5em;
			vertical-align: middle;
		}
		.addressPreview HR
		{
			margin-top: 1em;
			margin-bottom: 1em;
			height: 1px;
			border: none;
			border-top: 1px dotted #999;
			background-color: #FFF;
		}
		.addressContainer
		{
			position: relative;
			width: 100%;
			left: 0px;
			top: 0px;
			bottom: 0px;
			right: 0px;
			overflow-y: scroll;
			font-size: 14px;
		}
		#addressTable TR
		{
			border-bottom: 1px dotted #CCC;
			height: 45px;
			cursor: default;
		}
		#addressTable TD
		{
			padding-left: 0.5em;
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}
		#previewArea .contentFooter {
			display: none;	
		}
        
        /* ******************************************************************* */
		.note
		{
        	border: 1px solid #DDD;
        	background-color: #FFFFCC;
        	border-radius: 8px;
        	-moz-border-radius: 8px;
        	padding: 0.4em;
        	margin: 0.5em;
			text-align: center;
		}
		
        /* ******************************************************************* */
        .bayesBorderTable
        {
        	border-collapse: collapse;
        	width: 280px;
        }
        .bayesBorderSlider
        {
        	background: #e0e0e0;
			background: -moz-linear-gradient(top, rgb(143,199,62) 0%, rgb(241,234,36) 50%, rgb(255,9,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(143,199,62)), color-stop(50%,rgb(241,234,36)), color-stop(100%,rgb(255,9,1)));
			background: -webkit-linear-gradient(top, rgb(143,199,62) 0%,rgb(241,234,36) 50%,rgb(255,9,1) 100%);
			background: -o-linear-gradient(top, rgb(143,199,62) 0%,rgb(241,234,36) 50%,rgb(255,9,1) 100%);
			background: -ms-linear-gradient(top, rgb(143,199,62) 0%,rgb(241,234,36) 50%,rgb(255,9,1) 100%);
			background: linear-gradient(to bottom, rgb(143,199,62) 0%,rgb(241,234,36) 50%,rgb(255,9,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc73e', endColorstr='#ff0901',GradientType=0 );
        	border: 1px solid #666666;
			width: 50px;
        }
        .bayesBorderTable2
        {
        	border-collapse: collapse;
        	width: 280px;
        }
        .bayesBorderTable2 TD
        {
        	width: 28px;
        	height: 24px;
        	text-align: center;
        }
        .bayesBorderLeftTD
        {
        	font-size: 10px;
        	text-align: left;
        }
        .bayesBorderRightTD
        {
        	font-size: 10px;
        	text-align: right;
        }
		
		.smallCart
		{
			width: 70%;
		}
		
		.smallCart TH
		{
			text-align: left;
			border-bottom: 1px solid #999;
			padding: 2px;
			padding-left: 5px;
			height: 22px;
		}
		
		.smallCart TD
		{
			padding: 2px;
			padding-left: 5px;
		}
		
		
		/* ################################## */
		
		.fm-input {
			border-color: #597D93 !important;
			border-width: 0 0 1px !important;
			box-shadow: none !important;
			background: none !important;
			height: 22px !important;
			padding: 0 4px !important;
		}
		
		.fm-input-bl {
			background: #597D93;
			display: block;
			float: left;
			height: 7px;
			margin-left: -1px;
			margin-top: 16px;
			width: 1px;
		}
		.fm-input-br {
			background: #597D93;
			display: block;
			float: right;
			height: 7px;
			margin-right: -8px;
			margin-top: 16px;
			width: 1px;
		}
		.fm-delete {
			color: #aa1b1b;	
		}
		
		.fm-wd .fa-file-image-o {
		color: #a60000;	
		}
		.fm-wd .fa-key {
			color: #bf9E30;
		}
		.fm-wd .fa-file-word-o {
			color: #0054A6;	
		}
		.fm-wd .fa-file-powerpoint-o {
			color: #F04E23;	
		}
		.fm-wd .fa-file-excel-o {
			color: #008641;	
		}
		.fm-wd .fa-envelope-o {
			color: #352F85;	
		}
		.fm-wd .fa-windows {
			color: #00A0DD;	
		}
		.fm-wd .fa-file-code-o {
			color: #946BD5;	
		}
		.fm-wd .fa-file-audio-o {
			color: #FFD340;	
		}
		.fm-wd .fa-file-video-o {
			color: #008500;	
		}
		.fm-wd .fa-file-pdf-o {
			color: #CF1312;	
		}
		.fm-wd .fa-file-text-o, .fm-wd .fa-qrcode {
			color: #BCBCBC;	
		}
		.fm-wd .fa-file-zip-o {
			color: #FFC500;
		}
		
		#fmWdItemFunctions {
			background: #ffffff;
			bottom: 0;
			left: 0;
			position: relative;
			right: 0;
			top: 50px;
			padding: 30px;
			font-size: 18px;
			overflow-y: scroll;
			display: block;
		}
		
		#fmWdItemFunctions a {
			border: 1px solid #e0e0e0;
			border: 1px solid rgba(22, 36, 54, 0.2);
			border-radius: 3px;
			-webkit-border-radius: 3px;
			box-shadow: 0 0 2px rgba(22, 26, 54, 0.2);
			-webkit-box-shadow: 0 0 2px rgba(22, 26, 54, 0.2);
			color: #222222;
			display: block;
			padding: 8px;
			text-align: center;
			margin-bottom: 13px;
		}
		#fmWdItemFunctions #fmFileInfo {
			margin-bottom: 20px;
			padding-left: 20px;
		}
		
		#fmFileInfo .fm-wd {
			font-size: 1.5em;
			margin-bottom: 5px;
		}		
		#fmWdItemRename {
			margin-top: 5px;
			width: 100%;
		}		
		#fmUpload {
			background: #ffffff;
			bottom: 0;
			display: block;
			left: 0;
			overflow-y: scroll;
			position: relative;
			right: 0;
			top: 50px;
			font-size: 18px;
			padding-left: 20px;
		}		
		#fmUpload td {
			padding-bottom: 10px;
		}
		.fmBigButton {
			padding: 7px 30px !important;
			font-size: 14px !important;
		}
		#mainContent, .scrollContainer {
			position: relative !important;
			overflow-y: scroll;
			/*-webkit-overflow-scrolling: touch;*/
		}
-->
