<div class="sidebarHeading"> &nbsp; {lng p="bk_main"}</div>
<div class="contentMenuIcons">
    &nbsp;<a href="start.php?action=briefkarte&bktyp=brief&sid={$sid}"><img src="./plugins/templates/images/modbriefkarte_bk_send.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="bk_brief"}</a><br />
	&nbsp;<a href="start.php?action=briefkarte&sid={$sid}"><img src="./plugins/templates/images/modbriefkarte_bk_send.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="bk_karte"}</a><br />
	&nbsp;<a href="start.php?action=briefkarte&do=outbox&sid={$sid}"><img src="./plugins/templates/images/modbriefkarte_bk.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="bk_journal"}</a><br />
	&nbsp;<a href="prefs.php?action=membership&sid={$sid}"><img src="{$tpldir}images/li/ico_membership.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="accbalance"}</a><br />
</div>