<fieldset>
        <legend>KampagnenManger</legend>

        <p align="left">In vorbereitung in einer der n&auml;chsten Version wird es m&ouml;glich sein, regelm&auml;ssige Nachrichten mit laufenden Angeboten automatisch zu versenden.</p>
</fieldset>