<fieldset>
        <legend>Support / Hilfe</legend>
        <table>
                <tr>
                        <td width="36" valign="top"><img src="{$tpldir}images/info32.png" border="0" alt="" width="32" height="32" /></td>
                        <td valign="top">Falls es Fragen oder Probleme gibt verwenden Sie bitte nachfolgendes Kontakformular:<br>
                         <br>
                         <a href="http://www.vx-scripte.de/kontakt.php" target="blank">http://www.vx-scripte.de/kontakt.php</a><br>
                         <br>
                         Oder die Kommentar Funktion auf <a href="http://my.b1gmail.com/">http://my.b1gmail.com/</a><br></td>
                </tr>
        </table>
</fieldset>

<fieldset>
        <legend>Tip</legend>
        <table>
                <tr>
                        <td width="36" valign="top"><img src="{$tpldir}images/newsletter.png" border="0" alt="" width="32" height="32" /></td>
                        <td valign="top">Kostenloser Online Kurs E-Mail & Newslettermarketing<br ><br>
                        nachfolgen eine Umfangreiche Webseite mit vielen Tips und einem kostenlos Online Kurs rund um Newsletter<br><br>
                         <a href="http://www.der-newsletter-experte.de/tutorials/index.php" target="blank">http://www.der-newsletter-experte.de/tutorials/index.php</a><br>
                         </td>
                </tr>
        </table>
</fieldset>