<div class="sidebarHeading"> &nbsp; {lng p="sms"}</div>
<div class="contentMenuIcons">
	&nbsp;<a href="sms.php?sid={$sid}"><img src="{$tpldir}images/li/ico_composesms.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="sendsms"}</a><br />
	&nbsp;<a href="sms.php?action=largesms&sid={$sid}"><img src="{$tpldir}images/li/ico_composesms.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="sendlargesms"}</a><br />
	{if $freesms_status}&nbsp;<a href="sms.php?action=freesms&sid={$sid}"><img src="{$tpldir}images/li/ico_composesms.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="sendfreesms"}</a><br />{/if}
	{if $massSMS}&nbsp;<a href="sms.php?action=masssms&sid={$sid}"><img src="{$tpldir}images/li/ico_composesms.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="sendmasssms"}</a><br />{/if}
	&nbsp;<a href="sms.php?action=outbox&sid={$sid}"><img src="{$tpldir}images/li/ico_smsoutbox.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="smsoutbox"}</a><br />
	&nbsp;<a href="prefs.php?action=membership&sid={$sid}"><img src="{$tpldir}images/li/ico_membership.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="accbalance"}</a><br />
</div>