{literal}
<script type="text/javascript">
<!--
function textCounter(field, countfield, maxlimit) {
  if (field.value.length > maxlimit)
    field.value = field.value.substring(0, maxlimit);
  else
    countfield.value = maxlimit - field.value.length;
}
//-->
</script>
{/literal}

<div class="innerWidget" style="text-align:center;">
   <p>
{if $op_get}
<p>{lng p="op_fin"}</p>
{else}
     <p>{lng p="op_message"}</p>
      <form action="start.php?action=opinion&do=save&sid={$sid}" method="post" onsubmit="return(checkNoteForm(this));">
         <textarea name="text" id="text" onKeyPress="this.value=this.value.substr(0,140)" class="textInput" style="width:90%;height:60px;font-family:courier;"></textarea><br />
         <font size="1">{lng p="op_sign"}</font><br />
        <select name="rate">
            <option value="1">0
            <option value="1">1
            <option value="2">2
            <option value="3">3
            <option value="4">4
            <option value="5">5
            <option value="6">6
            <option value="7">7
            <option value="8">8
            <option value="9">9
            <option value="10" selected>10
                </select> {lng p="op_rate"}
         <p align="right">
                <input onmouseover='this.src="plugins/templates/images/opinion_send_mouseover.png"' onmouseout='this.src="plugins/templates/images/opinion_send.png"' type="image" name="submit" value="submit" src="plugins/templates/images/opinion_send.png" border="0">
         </p>
      </form>
{/if}
   </p>
</div>