<form action="?action=postfachorder&do=order&sid={$sid}" method="post" id="prefsForm" onsubmit="spin(this)">
	<fieldset>
		<legend><b>{lng p="pf_ueberschrift"}</b></legend>
		<table>
			<tr>
				<td class="td1" width="300">{lng p="pf_paket"}</td>
				<td class="td2">
					<select name="pac" size="1">
					{foreach from=$pacs key=dataID item=pac}
						<option>{$pac.titel}</option>
					{/foreach}
					</select>
					&nbsp;<a href="?action=pacc_mod&sid={$sid}">{lng p="pf_pac_uebersicht"}</a>
				</td>
			</tr>
			<tr>
				<td class="td1" width="300">{lng p="pf_laufzeit"}</td>
				<td class="td2">
				 <select name="lz" size="1">
				  <option>5</option>
				  <option>10</option>
				  <option>15</option>
				  <option>20</option>
				  <option>25</option>
				</select>
				&nbsp;{lng p="pacc_monate"}
				</td>
			</tr>
		</table>
	</fieldset>
	
	<p>
		<div style="float:right;">
			<input type="submit" value=" {lng p="pf_order"} " />&nbsp;
		</div>
	</p>
</form>
<br /><br /><br /><br />
<form action="?action=postfachorder&do=order&sid={$sid}" method="post" id="prefsForm" onsubmit="spin(this)">
	<input type="hidden" name="bitcoin" value="1">
	<fieldset>
		<legend><b>{lng p="pf_ueberschrift2"}</b></legend>
		<table>
			<tr>
				<td class="td1" width="300">{lng p="pf_paket"}</td>
				<td class="td2">
					<select name="pac" size="1">
					{foreach from=$pacs key=dataID item=pac}
						<option>{$pac.titel}</option>
					{/foreach}
					</select>
					&nbsp;<a href="?action=pacc_mod&sid={$sid}">{lng p="pf_pac_uebersicht"}</a>
				</td>
			</tr>
			<tr>
				<td class="td1" width="300">{lng p="pf_laufzeit"}</td>
				<td class="td2">
				 <select name="lz" size="1">
				  <option>3</option>
				  <option>6</option>
				  <option>12</option>
				  <option>24</option>
				  <option>36</option>
				</select>
				&nbsp;{lng p="pacc_monate"}
				</td>
			</tr>
		</table>
	</fieldset>
	
	<p>
		<div style="float:right;">
			<input type="submit" value=" {lng p="pf_order"} " />&nbsp;
		</div>
	</p>
</form>

