<div class="innerWidget" style="text-align:center;">

  {foreach from=$rssr item=rssrel}
  <p><a href="{$rssrel.link}" title="{$rssrel.description}" target="_blank">{$rssrel.titel}</a></p>
  {/foreach}

</div>
