<br />
<table>
	<tr>
		<td valign="top" width="64" align="center"><img src="{$tpldir}images/li/error.png" width="48" height="48" border="0" alt="" /></td>
		<td valign="top">
			<b>{lng p="error"}!</b>
			<br />{$msg}
		</td>
	</tr>
</table>