<br /><div class="sidebarHeading"> &nbsp; {lng p="webdiskgalerie_galerie"}</div>
<div class="infoIcons">
{if $galerie_sidebar_mode=="view"}
&nbsp;<a href="webdisk.php?action=webdiskgalerie&folder={$folderID}&sid={$sid}"><img src="{$tpldir}images/li/ico_view.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="webdiskgalerie_galerie_view"}</a>
{else}
&nbsp;<a href="webdisk.php?do=changeViewMode&viewmode=list&folder={$folderID}&sid={$sid}"><img src="{$tpldir}images/li/ico_view.png" width="16" height="16" border="0" alt="" align="absmiddle" /> {lng p="webdiskgalerie_galerie_deview"}</a>
{/if}
<br />
</div>