<div class="innerWidget" ">
	
	<p align="center"><b>{$Uberschrift_1}</b></p>
	<p align="left">
		<ul>
			{$Ausgabe_1}
		</ul>
	</p>
	<p align="center"><b>{$Uberschrift_2}</b></p>
	<p align="left">
		<ul>
			{$Ausgabe_2}
		</ul>
	</p>
	
	<font size="-4"><br>Berechnung der Mondphase am {$Mond_Tag} um {$Mond_Uhr}.</font>
</div>
